flows_ti.json
[{"id":"2ce6c32c.72889c","type":"tab","label":"Main"},{"id":"e6a5f68f.971a78","type":"tab","label":"Test","disabled":false,"info":""},{"id":"66ae377c.2d73f8","type":"tab","label":"Tools","disabled":false,"info":""},{"id":"5aeca004.ff39b","type":"tab","label":"Globals","disabled":false,"info":""},{"id":"a5b56371.83719","type":"tab","label":"test_b6climate","disabled":false,"info":""},{"id":"fc1f6c41.e5c79","type":"tab","label":"test_b6plant","disabled":false,"info":""},{"id":"c82b6327.0aa47","type":"tab","label":"test_g15plant","disabled":false,"info":""},{"id":"4101efb9.97013","type":"tab","label":"test_g15watch","disabled":false,"info":""},{"id":"6805060.8f44ffc","type":"tab","label":"esp_control_dev","disabled":false,"info":""},{"id":"8e854a39.19c2d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d383d062.fb00e","type":"tab","label":"espcam_control","disabled":false,"info":""},{"id":"4edffef3.e14ce","type":"subflow","name":"Control Unit (CU)","info":"","in":[{"x":60,"y":240,"wires":[{"id":"f1163352.0d53c"}]}],"out":[{"x":1484,"y":220,"wires":[{"id":"8e73b81.d0bbc48","port":0}]},{"x":1480,"y":500,"wires":[]},{"x":1480,"y":620,"wires":[]}]},{"id":"a443370b.2db948","type":"subflow","name":"Actor Unit (AU)","info":"","in":[{"x":100,"y":240,"wires":[{"id":"ac10d133.3516b"}]}],"out":[{"x":2040,"y":300,"wires":[{"id":"314327c2.f23ca8","port":0},{"id":"de842283.31177","port":0},{"id":"931fef06.018e3","port":0}]},{"x":2000,"y":660,"wires":[{"id":"931fef06.018e3","port":1},{"id":"d754174f.b7ca38","port":1}]},{"x":2000,"y":760,"wires":[{"id":"12c2cf59.1f6461","port":0}]}],"outputLabels":["ok","error","debug"]},{"id":"d7c5729f.4d707","type":"subflow","name":"TI_TWITTER","info":"","in":[{"x":357,"y":122,"wires":[{"id":"1d21a395.f6928c"}]}],"out":[]},{"id":"4a631457.3c182c","type":"subflow","name":"TI_LOGAPPENDER","info":"Persists data from Sensor / Actors in DB ","in":[{"x":110,"y":148,"wires":[{"id":"913048e2.95fd48"}]}],"out":[]},{"id":"68a9f738.904da8","type":"subflow","name":"Sensor Unit (SU)","info":"","in":[{"x":89,"y":282,"wires":[{"id":"7733f649.3c5c38"}]}],"out":[{"x":1240,"y":240,"wires":[{"id":"45066900.9838f8","port":0}]},{"x":1240,"y":360,"wires":[{"id":"7733f649.3c5c38","port":1}]},{"x":1240,"y":480,"wires":[]}]},{"id":"bb9dbdb7.f5a47","type":"subflow","name":"Watch Switch","info":"","in":[{"x":50,"y":30,"wires":[{"id":"fcba05c8.50d7f8"}]}],"out":[{"x":1140,"y":160,"wires":[{"id":"afd14a84.897398","port":0}]}]},{"id":"6046dc78.e04e74","type":"subflow","name":"EspControl","info":"","category":"","in":[{"x":100,"y":40,"wires":[{"id":"9ef6b5f4.0416d8"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"ca9455bf.030da8","type":"subflow","name":"AIBot","info":"","category":"","in":[{"x":80,"y":80,"wires":[{"id":"c92f0da9.19a7e"}]}],"out":[{"x":740,"y":80,"wires":[{"id":"25049827.d06d48","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"f24a602a.6a36c","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"NodeRed.Logappender","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"cbf41ed0.f5061","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"NodeRed","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"26dacbe2.d3ea14","type":"telegram bot","z":0,"botname":"AImy.d37.seedling","usernames":"","chatids":"-460817491","baseapiurl":"","updatemode":"polling","pollinterval":"100000","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"c1541142.e5a5e","type":"comment","z":"4a631457.3c182c","name":"TI.LOGAPPENDER - Interface Definition","info":"Subflow Logs Data to Unit Data tables. \nMandatory attributes:\n    Input                   Variable                    Output                      Description\n    msg.payload.sender      -> msg.tmp.sender           msg.payload.sender          -> data table evaluated by Sender\n    msg.payload.msgID       -> msg.tmp.id               msg.payload.msgID           -> MsgID to be stored in table\n    msg.payload.paramX.value-> msg.tmp.value            msg.payload.paramX.value    -> float value to be stored\n    msg.payload.timestamp   -> msg.tmp.timestamp        msg.timestamp               -> Timestamp of the value\n                                                        msg.destination             -> \"TI.LOG\"\n                                                        msg.param0                  -> \"logUnitValue\"\n                                                        msg.payload.paramX.event    -> \"data\"","x":189,"y":64,"wires":[]},{"id":"626df866.00d938","type":"debug","z":"4a631457.3c182c","name":"Log Appender - Log for:","active":true,"console":"false","complete":"logsender","x":593,"y":126,"wires":[]},{"id":"3d8a67a3.602278","type":"debug","z":"4a631457.3c182c","name":"No DB Log","active":true,"console":"false","complete":"db","x":613,"y":438,"wires":[]},{"id":"ac10d133.3516b","type":"switch","z":"a443370b.2db948","name":"","property":"uc","propertyType":"msg","rules":[{"t":"eq","v":"RUNPUMP","vt":"str"},{"t":"eq","v":"RUNPUMPVALVE","vt":"str"},{"t":"eq","v":"SHADE","vt":"str"},{"t":"eq","v":"TEST","vt":"str"},{"t":"eq","v":"WINDOW","vt":"str"},{"t":"eq","v":"WATERING.TRAY.ESP","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":7,"x":253,"y":252,"wires":[["3bf9f372.2c646c"],["98e3b73c.a8d188","defd0350.0aba8"],["430e4478.0e098c"],["d766c6c2.2467a8"],["2eade736.ce5078"],["eca43c9b.74ce6","5cb8da4d.87afd4"],["78b39bfe.693f54"]]},{"id":"3bf9f372.2c646c","type":"function","z":"a443370b.2db948","name":"RUNPUMP","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\", \\\n                \"destination\":\"' + msg.payload.paramX.unit + '\", \\\n                \"param0\":\"run\", \\\n                \"paramX\":{\"interval\":\"' + msg.payload.paramX.interval + '\"}}';\n                \n\nreturn msg;","outputs":1,"noerr":0,"x":448,"y":167,"wires":[["ef4a34d3.83fd48","72c86529.41d2ac"]]},{"id":"78b39bfe.693f54","type":"debug","z":"a443370b.2db948","name":"AU.NO_USE_CASE_FOUND","active":true,"console":"false","complete":"payload","x":310,"y":580,"wires":[]},{"id":"ef4a34d3.83fd48","type":"debug","z":"a443370b.2db948","name":"","active":true,"console":"false","complete":"false","x":736.9999694824219,"y":49.000003814697266,"wires":[]},{"id":"72c86529.41d2ac","type":"ti-message","z":"a443370b.2db948","name":"ti Exec Msg","mqserver":"mqtt://localhost","intopic":"TI_CONTROLLER","outtopic":"TI_CMD","x":656,"y":164,"wires":[["314327c2.f23ca8"]]},{"id":"314327c2.f23ca8","type":"json","z":"a443370b.2db948","name":"","x":950,"y":160,"wires":[["4d09f8c6.c6f0d8"]]},{"id":"4d09f8c6.c6f0d8","type":"function","z":"a443370b.2db948","name":"prep Log","func":"msg.logsender = msg.payload.sender;\nmsg.logid = msg.payload.msgID;\n\nif (msg.payload.paramX.value !== undefined) {\n    msg.logvalue = msg.payload.paramX.value;\n    msg.logevent = \"data\";\n} else if (msg.payload.paramX.interval !== undefined) {\n    msg.logvalue = msg.payload.paramX.interval;\n    msg.logevent = msg.payload.param0;\n}\n\nmsg.logtimestamp = msg.payload.timestamp;\nmsg.logdatatype = msg.payload.paramX.datatype;\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":160,"wires":[["b87ff7f3.f11508"]]},{"id":"b87ff7f3.f11508","type":"subflow:4a631457.3c182c","z":"a443370b.2db948","x":1340,"y":160,"wires":[]},{"id":"d766c6c2.2467a8","type":"debug","z":"a443370b.2db948","name":"Test Output (AU)","active":true,"console":"false","complete":"payload","x":270,"y":640,"wires":[]},{"id":"1d21a395.f6928c","type":"function","z":"d7c5729f.4d707","name":"Twitter Msg","func":"var val;\nif (typeof msg.payload.paramX.value !== undefined) {\n    val = msg.payload.paramX.value;\n} else if (typeof msg.payload.paramX.interval !== undefined) {\n    val = \"no Value\";\n}\n\nmsg.payload = \"#data\" +\n\" UseCaseGroup:\" + msg.ucgroup +\n\" UseCase:\" + msg.uc +\n\" Time:\" + new Date().toString() +\n\" Sender: \" + msg.payload.sender +\n\" Value:\" + val;\n\nif (msg.twitter == \"true\"){\n    return [ msg, null ];     \n} else if(msg.twitter == \"false\") {\n    return [ null, msg ];\n}\n","outputs":"2","noerr":0,"x":507,"y":122,"wires":[[],["4c34c324.15cfec"]]},{"id":"4c34c324.15cfec","type":"debug","z":"d7c5729f.4d707","name":"no Twitter Message","active":true,"console":"false","complete":"twitter","x":705,"y":189,"wires":[]},{"id":"913048e2.95fd48","type":"function","z":"4a631457.3c182c","name":"Prep MQTT message to TI.LOG -> logUnitValue","func":"//Test Values\n//msg.tmpsender = \"TI.GREENHOUSE.RASP.UNITS.TEMPINNEN\";\n//msg.tmpid = \"4711\";\n//msg.tmpvalue = \"12\";\n//msg.tmptimestamp = \"2016/05/24 17:18:37\";\n\n\nif (msg.db == \"true\"){\n    if (typeof msg.log === \"undefined\") {\n    // if not available it`s not using SNON protocol (www.snon.org) \n        return [ msg, null,  null ];\n    }\n    else {\n        return [ null, msg, null ];\n    }\n}\nelse {\n    return [ null, null, msg ];\n}\n            \n","outputs":3,"noerr":0,"x":400,"y":300,"wires":[["352f842e.a18b3c","608d99f7.cbabe8"],["b810c666.290938"],["c240f044.4cc94"]]},{"id":"373c11a9.64c7fe","type":"comment","z":"4a631457.3c182c","name":"TI.LOGAPPENDER - Interface Definition","info":"Subflow Logs Data to Unit Data tables. \nMandatory attributes:\n    Input                   Variable                    Output                      Description\n    msg.payload.sender      -> msg.tmp.sender           msg.payload.sender          -> data table evaluated by Sender\n    msg.payload.msgID       -> msg.tmp.id               msg.payload.msgID           -> MsgID to be stored in table\n    msg.payload.paramX.value-> msg.tmp.value            msg.payload.paramX.value    -> float value to be stored\n    msg.payload.timestamp   -> msg.tmp.timestamp        msg.timestamp               -> Timestamp of the value\n                                                        msg.destination             -> \"TI.LOG\"\n                                                        msg.param0                  -> \"logUnitValue\"\n                                                        msg.payload.paramX.event    -> \"data\"","x":189,"y":64,"wires":[]},{"id":"352f842e.a18b3c","type":"debug","z":"4a631457.3c182c","name":"Log Appender - Log for:","active":true,"console":"false","complete":"true","x":593,"y":126,"wires":[]},{"id":"c240f044.4cc94","type":"debug","z":"4a631457.3c182c","name":"No DB Log","active":true,"console":"false","complete":"db","x":613,"y":438,"wires":[]},{"id":"7733f649.3c5c38","type":"switch","z":"68a9f738.904da8","name":"","property":"uc","propertyType":"msg","rules":[{"t":"eq","v":"GETVALUE","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":214,"y":282,"wires":[["9f9a54fe.358b58"],["3c239a1e.6c84d6"]]},{"id":"3c239a1e.6c84d6","type":"debug","z":"68a9f738.904da8","name":"SU.NO_USE_CASE_FOUND","active":true,"console":"false","complete":"payload","x":487,"y":378,"wires":[]},{"id":"9f9a54fe.358b58","type":"function","z":"68a9f738.904da8","name":"GETVALUE","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\", \\\n                \"destination\":\"' + msg.payload.paramX.unit + '\", \\\n                \"param0\":\"getValue\", \\\n                \"paramX\":{}}';\n                \nreturn msg;","outputs":1,"noerr":0,"x":460,"y":179,"wires":[["7ff57b29.09f1d4"]]},{"id":"2fc74421.3e58fc","type":"subflow:4a631457.3c182c","z":"68a9f738.904da8","name":"","x":1087,"y":41,"wires":[]},{"id":"810bd8bb.eb6918","type":"function","z":"68a9f738.904da8","name":"Prep Log","func":"msg.logsender = msg.payload.sender;\nmsg.logid = msg.payload.msgID;\n\nif (msg.payload.paramX.value !== undefined) {\n    msg.logvalue = msg.payload.paramX.value;\n    msg.logevent = \"data\";\n} else if (msg.payload.paramX.interval !== undefined) {\n    msg.logvalue = msg.payload.paramX.interval;\n    msg.logevent = msg.payload.param0;\n}\n\nmsg.logtimestamp = msg.payload.timestamp;\nmsg.logdatatype = msg.payload.paramX.datatype;\n\nreturn msg;","outputs":1,"noerr":0,"x":971,"y":86,"wires":[["2fc74421.3e58fc"]]},{"id":"45066900.9838f8","type":"json","z":"68a9f738.904da8","name":"","x":864,"y":141,"wires":[["810bd8bb.eb6918"]]},{"id":"e5896042.f1015","type":"mqtt in","z":"2ce6c32c.72889c","name":"","topic":"TI_CMD","qos":"2","broker":"f24a602a.6a36c","x":160,"y":280,"wires":[["af15c470.d1f4a8","d3a1b391.5708c"]]},{"id":"27798b27.d7d404","type":"debug","z":"2ce6c32c.72889c","name":"Incoming TI_CMD","active":true,"console":"false","complete":"true","x":510,"y":280,"wires":[]},{"id":"66a47472.c16c7c","type":"switch","z":"2ce6c32c.72889c","name":"UC Group","property":"ucgroup","propertyType":"msg","rules":[{"t":"eq","v":"SU","vt":"str"},{"t":"eq","v":"AU","vt":"str"},{"t":"eq","v":"CU","vt":"str"},{"t":"eq","v":"OTHER","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":520,"y":620,"wires":[["7342123f.a2d76c"],["f1b01de1.31583"],["17fe5c90.058b83"],["fa5523e6.40b39"],["fface78a.eedd88"]]},{"id":"7342123f.a2d76c","type":"subflow:68a9f738.904da8","z":"2ce6c32c.72889c","x":950,"y":560,"wires":[["f2c8105c.a8aa2","252ca5a4.84617a"],["60971772.d844c8"],["203e23c3.157e1c"]]},{"id":"2c74f245.c35a5e","type":"function","z":"2ce6c32c.72889c","name":"Split UseCase Group","func":"var ucSplit = msg.payload.param0.split(\".\");\nmsg.ucgroup = ucSplit[0];\nmsg.uc = msg.payload.param0.slice(msg.ucgroup.length +1);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":620,"wires":[["66a47472.c16c7c","3e5c43dc.5067ac","91f9c12c.edb2a"]]},{"id":"fface78a.eedd88","type":"debug","z":"2ce6c32c.72889c","name":"UC Fails Output","active":false,"tosidebar":true,"console":false,"complete":"uc","x":940,"y":960,"wires":[]},{"id":"af15c470.d1f4a8","type":"json","z":"2ce6c32c.72889c","name":"MQTT String to JSON Obj","x":390,"y":220,"wires":[["e3a1c45.3cbfb38"]]},{"id":"6dbe86e2.81d3a8","type":"debug","z":"2ce6c32c.72889c","name":"Controller Message Ignored","active":false,"console":"false","complete":"true","x":1380,"y":240,"wires":[]},{"id":"4777ea47.43b1a4","type":"comment","z":"2ce6c32c.72889c","name":"Ignore TI_NOTIFY Messages","info":"Ignore all messages from TI_NOTIFY that do not have \"CONTROLLER.USECASE\" set as \"msg.payload.destination\"","x":1380,"y":180,"wires":[]},{"id":"69ff7a54.40bda4","type":"comment","z":"2ce6c32c.72889c","name":"Choose Use Case Group","info":"","x":530,"y":500,"wires":[]},{"id":"4d388c0b.98ce54","type":"comment","z":"2ce6c32c.72889c","name":"Use Case Groups","info":"","x":950,"y":460,"wires":[]},{"id":"e3a1c45.3cbfb38","type":"function","z":"2ce6c32c.72889c","name":"set Flow Options (Twitter, DB Log)","func":"msg.twitter=\"true\";\nif (typeof(msg.payload.paramX.twitter) != \"undefined\"){\n    if (msg.payload.paramX.twitter==\"false\") {\n        msg.twitter = \"false\";    //Twitter disabled\n    }\n} \n\nmsg.db=\"true\";\nif (typeof(msg.payload.paramX.db) != \"undefined\"){\n    if (msg.payload.paramX.db==\"false\") {\n        msg.db = \"false\";    //Database Entry disabled\n    }\n} \n\nmsg.replyTo= msg.payload.replyTo;   // Remember ReplyTo\nmsg.msgID = msg.payload.msgID;      // Remember MsgID\nmsg.sender = msg.payload.sender;    // Remember Original Sender\n\nreturn msg;\n","outputs":1,"noerr":0,"x":720,"y":220,"wires":[["84c64e8f.c0ab5"]]},{"id":"f1b01de1.31583","type":"subflow:a443370b.2db948","z":"2ce6c32c.72889c","x":940,"y":633,"wires":[["f2c8105c.a8aa2","252ca5a4.84617a"],["60971772.d844c8","c56fb649.feb0e8"],["203e23c3.157e1c"]]},{"id":"f2c8105c.a8aa2","type":"debug","z":"2ce6c32c.72889c","name":"Output UseCase","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1370,"y":880,"wires":[]},{"id":"17fe5c90.058b83","type":"subflow:4edffef3.e14ce","z":"2ce6c32c.72889c","x":950,"y":720,"wires":[["f2c8105c.a8aa2","252ca5a4.84617a"],["60971772.d844c8"],["203e23c3.157e1c"]]},{"id":"d5e5542f.9056a8","type":"function","z":"a443370b.2db948","name":"RUNPUMP","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\", \\\n                \"destination\":\"' + msg.payload.paramX.unit + '\", \\\n                \"param0\":\"run\", \\\n                \"paramX\":{\"interval\":\"' + msg.payload.paramX.interval + '\"}}';\n                \n\nreturn msg;","outputs":1,"noerr":0,"x":625,"y":235,"wires":[["686c566c.16f188"]]},{"id":"de842283.31177","type":"ti-message","z":"a443370b.2db948","name":"ti OpenValve","mqserver":"mqtt://localhost","intopic":"TI_CONTROLLER","outtopic":"TI_CMD","x":795.5,"y":297,"wires":[[]]},{"id":"686c566c.16f188","type":"ti-message","z":"a443370b.2db948","name":"ti runPump","mqserver":"mqtt://localhost","intopic":"TI_CONTROLLER","outtopic":"TI_CMD","x":813,"y":236,"wires":[["314327c2.f23ca8"]]},{"id":"defd0350.0aba8","type":"delay","z":"a443370b.2db948","name":"Delay Pump","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":455.5,"y":233,"wires":[["d5e5542f.9056a8"]]},{"id":"98e3b73c.a8d188","type":"function","z":"a443370b.2db948","name":"RUNPUMPVALVE","func":"\nduration = parseInt(msg.payload.paramX.interval) + 5;\n\nmsg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\", \\\n                \"destination\":\"' + msg.payload.paramX.valve + '\", \\\n                \"param0\":\"run\", \\\n                \"paramX\":{\"interval\":\"' + duration + '\"}}';\n                \n\nreturn msg;","outputs":1,"noerr":0,"x":556,"y":290,"wires":[["de842283.31177"]]},{"id":"a64aa544.53c4a8","type":"debug","z":"4a631457.3c182c","name":"","active":true,"console":"false","complete":"true","x":1266,"y":276,"wires":[]},{"id":"be21572.ff140a8","type":"http request","z":"4a631457.3c182c","name":"create unitdata","method":"use","ret":"txt","url":"","tls":"","x":1069.5,"y":263,"wires":[["a64aa544.53c4a8"]]},{"id":"608d99f7.cbabe8","type":"function","z":"4a631457.3c182c","name":"Prep REST call","func":"msg.headers = '{\"Content-Type\":\"application/json\"}';\n\nmsg.payload = { \"unit\":\"\"  + msg.logsender + \"\", \n                \"ts\":\"\" + msg.logtimestamp + \"\", \n                \"event\":\"\" + msg.logevent + \"\", \n                \"data\":{\"value\" : + msg.logvalue }, \n                \"msgID\":\"\" + msg.logid + \"\"};\n\nmsg.url = \"http://localhost:3000/api/v1/units/unitdata\";\nmsg.method=\"POST\";\n\nreturn msg;","outputs":1,"noerr":0,"x":852,"y":265,"wires":[["be21572.ff140a8"]]},{"id":"252ca5a4.84617a","type":"switch","z":"2ce6c32c.72889c","name":"ReplyTo","property":"replyTo","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":1340,"y":620,"wires":[["ffa0b78a.4fa898"]]},{"id":"1bdd0edf.862731","type":"mqtt out","z":"2ce6c32c.72889c","name":"","topic":"","qos":"","retain":"","broker":"cbf41ed0.f5061","x":1830,"y":620,"wires":[]},{"id":"ffa0b78a.4fa898","type":"function","z":"2ce6c32c.72889c","name":"Destination Channel","func":"msg.topic=msg.replyTo;\nmsg.payload.destination = msg.sender; \nmsg.payload.msgID = msg.msgID; \nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":620,"wires":[["1bdd0edf.862731","bc1c6395.3757e"]]},{"id":"bc1c6395.3757e","type":"debug","z":"2ce6c32c.72889c","name":"ReplyTo Topic","active":true,"console":"false","complete":"true","x":1820,"y":540,"wires":[]},{"id":"d3a1b391.5708c","type":"json","z":"2ce6c32c.72889c","name":"","x":330,"y":280,"wires":[["27798b27.d7d404"]]},{"id":"b8af9f7b.01979","type":"inject","z":"66ae377c.2d73f8","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{}","payloadType":"json","x":110,"y":140,"wires":[["a88f2e3c.b806f"]]},{"id":"9d61f36a.f28e4","type":"function","z":"66ae377c.2d73f8","name":"Get Events for Node","func":"msg.time = msg.payload;\n\n//msg.payload = {\"unit\":\"unit\", \"ts\":\"\" + msg.time + \"\", \"event\":\"event\", \n//                \"msgID\":\"msgID\", \n//                \"data\":[{\"value\" : 8}]};\n                \n//msg.payload = {\"unit\": \"string\",  \"ts\": \"string\",  \"event\": \"string\",  \"msgid\": \"string\",  \"data\": [{\"value\": 0}]};\nmsg.headers = '{\"Content-Type\":\"application/json\"}';\n\nmsg.url = \"http://localhost:3000/api/v1/event/\";\nmsg.url = msg.url + msg.payload.hostname;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":140,"wires":[["454f753a.f61e1c"]]},{"id":"454f753a.f61e1c","type":"http request","z":"66ae377c.2d73f8","name":"/event/[:node]","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":840,"y":140,"wires":[["99fb66f7.2c5d38"]]},{"id":"aa46ac05.86508","type":"debug","z":"66ae377c.2d73f8","name":"","active":true,"console":"false","complete":"payload","x":1330,"y":140,"wires":[]},{"id":"a8dcadf.f9eb85","type":"switch","z":"4edffef3.e14ce","name":"","property":"uc","propertyType":"msg","rules":[{"t":"eq","v":"GETEVENT","vt":"str"},{"t":"eq","v":"GETSCHEDULE","vt":"str"},{"t":"eq","v":"SETTRIGGERSTATUS","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":370,"y":240,"wires":[["c0f2d2fa.9880d"],["b99bef5b.c0b68"],["73331c82.cac234"],[]]},{"id":"c0f2d2fa.9880d","type":"function","z":"4edffef3.e14ce","name":"Get Events for Node","func":"msg.time = msg.payload;\n\n//msg.payload = {\"unit\":\"unit\", \"ts\":\"\" + msg.time + \"\", \"event\":\"event\", \n//                \"msgID\":\"msgID\", \n//                \"data\":[{\"value\" : 8}]};\n                \n//msg.payload = {\"unit\": \"string\",  \"ts\": \"string\",  \"event\": \"string\",  \"msgid\": \"string\",  \"data\": [{\"value\": 0}]};\nmsg.headers = '{\"Content-Type\":\"application/json\"}';\n\nmsg.url = \"http://localhost:3000/api/v1/event/\";\n//msg.url = msg.url + msg.payload.hostname;\nmsg.url = msg.url + global.get('hname');\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":180,"wires":[["498eb79c.7d6578"]]},{"id":"498eb79c.7d6578","type":"http request","z":"4edffef3.e14ce","name":"/event/[:node]","method":"GET","ret":"txt","url":"","tls":"","x":800,"y":180,"wires":[["21a9762.f8c8b8a"]]},{"id":"21a9762.f8c8b8a","type":"json","z":"4edffef3.e14ce","name":"","x":970,"y":220,"wires":[["8e73b81.d0bbc48"]]},{"id":"99fb66f7.2c5d38","type":"json","z":"66ae377c.2d73f8","name":"Convert API result","property":"payload","action":"","pretty":false,"x":1090,"y":140,"wires":[["aa46ac05.86508"]]},{"id":"54b6004f.ffb75","type":"comment","z":"4edffef3.e14ce","name":"get events for local node","info":"","x":570,"y":140,"wires":[]},{"id":"3e5c43dc.5067ac","type":"debug","z":"2ce6c32c.72889c","name":"UC Selector Group","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"ucgroup","targetType":"msg","x":550,"y":560,"wires":[]},{"id":"8e73b81.d0bbc48","type":"function","z":"4edffef3.e14ce","name":"Prep Ret Message","func":"msg.replyTo=\"TI_CMD\";\n\nmsg.ret_payload.destination = msg.ret_payload.paramX.replyTo;\nmsg.ret_payload.param0 = msg.ret_payload.paramX.param0;\nmsg.ret_payload.paramX = msg.payload;\n\nmsg.payload = msg.ret_payload;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":220,"wires":[[]]},{"id":"f1163352.0d53c","type":"function","z":"4edffef3.e14ce","name":"Save Payload","func":"msg.ret_payload = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":240,"wires":[["a8dcadf.f9eb85"]]},{"id":"de743117.5e062","type":"function","z":"66ae377c.2d73f8","name":"Get Scheduler for Node","func":"msg.time = msg.payload;\n\n//msg.payload = {\"unit\":\"unit\", \"ts\":\"\" + msg.time + \"\", \"event\":\"event\", \n//                \"msgID\":\"msgID\", \n//                \"data\":[{\"value\" : 8}]};\n                \n//msg.payload = {\"unit\": \"string\",  \"ts\": \"string\",  \"event\": \"string\",  \"msgid\": \"string\",  \"data\": [{\"value\": 0}]};\nmsg.headers = '{\"Content-Type\":\"application/json\"}';\n\nmsg.url = \"http://localhost:3000/api/v1/scheduler/\";\nmsg.url = msg.url + msg.payload.hostname;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":220,"wires":[["321ff528.fa701a"]]},{"id":"321ff528.fa701a","type":"http request","z":"66ae377c.2d73f8","name":"/scheduler/[:node]","method":"GET","ret":"txt","url":"","tls":"","x":850,"y":220,"wires":[["1fdd166b.525afa"]]},{"id":"1ad83977.3066f7","type":"debug","z":"66ae377c.2d73f8","name":"","active":true,"console":"false","complete":"payload","x":1330,"y":220,"wires":[]},{"id":"1fdd166b.525afa","type":"json","z":"66ae377c.2d73f8","name":"Convert API result","property":"payload","action":"","pretty":false,"x":1090,"y":220,"wires":[["1ad83977.3066f7"]]},{"id":"b27857b8.dc8ee8","type":"comment","z":"66ae377c.2d73f8","name":"All Events for the local Node","info":"","x":600,"y":100,"wires":[]},{"id":"7be107e8.65e918","type":"comment","z":"66ae377c.2d73f8","name":"All Schedule events for the local node","info":"","x":630,"y":180,"wires":[]},{"id":"b578ad5b.e4a9c","type":"inject","z":"66ae377c.2d73f8","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{}","payloadType":"json","x":110,"y":220,"wires":[["9fd3135f.e9148"]]},{"id":"9fd3135f.e9148","type":"function","z":"66ae377c.2d73f8","name":"set node name","func":"msg.payload.hostname = \"g15plant\";\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":220,"wires":[["de743117.5e062","9d61f36a.f28e4"]]},{"id":"b99bef5b.c0b68","type":"function","z":"4edffef3.e14ce","name":"Get Schedules for Node","func":"msg.time = msg.payload;\n\nmsg.headers = '{\"Content-Type\":\"application/json\"}';\n\nmsg.url = \"http://localhost:3000/api/v1/scheduler/\";\n//msg.url = msg.url + msg.payload.hostname;\nmsg.url = msg.url + global.get('hname');\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":260,"wires":[["92f61850.2f2ba8"]]},{"id":"92f61850.2f2ba8","type":"http request","z":"4edffef3.e14ce","name":"/scheduler/[:node]","method":"GET","ret":"txt","url":"","tls":"","x":790,"y":260,"wires":[["21a9762.f8c8b8a"]]},{"id":"513110a1.61f28","type":"comment","z":"4edffef3.e14ce","name":"get schedule events for local node","info":"","x":600,"y":220,"wires":[]},{"id":"2e892f1f.a27e8","type":"OS","z":"5aeca004.ff39b","name":"","x":430,"y":120,"wires":[["d5f050b2.30414"]]},{"id":"d5f050b2.30414","type":"function","z":"5aeca004.ff39b","name":"set: hname (hostname)","func":"global.set('hname',msg.payload.hostname);\nnode.log('Hostname set to:' + msg.payload.hostname);\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":120,"wires":[[]]},{"id":"c766872a.ee5f78","type":"inject","z":"5aeca004.ff39b","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":210,"y":120,"wires":[["2e892f1f.a27e8"]]},{"id":"a88f2e3c.b806f","type":"function","z":"66ae377c.2d73f8","name":"set node name","func":"msg.payload.hostname =global.get('hname');\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":140,"wires":[["9d61f36a.f28e4","de743117.5e062"]]},{"id":"84c64e8f.c0ab5","type":"function","z":"2ce6c32c.72889c","name":"Validate local Controller name","func":"msg.controller = global.get('hname') + \".controller\";\n\nif (msg.payload.destination==msg.controller) {\nreturn [ msg, null ];\n\n} else {\n    return [ null, msg];\n}\n\n\nreturn msg;","outputs":2,"noerr":0,"x":1010,"y":220,"wires":[["2c74f245.c35a5e"],["6dbe86e2.81d3a8"]]},{"id":"fa5523e6.40b39","type":"debug","z":"2ce6c32c.72889c","name":"Other UC","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":920,"y":840,"wires":[]},{"id":"96acce8b.3d466","type":"comment","z":"4edffef3.e14ce","name":"activate Trigger / set Trigger Status (enable/disable)","info":"","x":650,"y":300,"wires":[]},{"id":"73331c82.cac234","type":"function","z":"4edffef3.e14ce","name":"Get Schedules and Triggers ","func":"msg.headers = '{\"Content-Type\":\"application/json\"}';\n\nmsg.url = \"http://localhost:3000/api/v1/scheduler/trigger/status\";\n//msg.url = msg.url + msg.payload.hostname;\n//msg.url = msg.url + global.get('hname');\nmsg.payload ={ \"unit\":\"\"  + msg.ret_payload.paramX.unit + \"\", \n                \"trigger\":\"\" + msg.ret_payload.paramX.trigger + \"\", \n                \"status\":\"\" + msg.ret_payload.paramX.status + \"\", \n                \"only\":\"\" + msg.ret_payload.paramX.only + \"\"};\n                \n                //{\"unit\":\"ti01.SCHEDULE\",\"trigger\":\"job2.trigger2\", \"status\":\"false\", \"only\":\"true\"};\n\n// Re-Init the Scheduler if Trigger Updates are neccessary\nmsg.ret_payload.paramX.replyTo = msg.ret_payload.paramX.unit;\nmsg.ret_payload.paramX.param0 = \"reinitSchedule\";\nmsg.sender =  msg.ret_payload.paramX.unit;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":580,"y":340,"wires":[["9412511e.8227e"]]},{"id":"9412511e.8227e","type":"http request","z":"4edffef3.e14ce","name":"scheduler/trigger/status","method":"POST","ret":"txt","url":"","tls":"","x":830,"y":340,"wires":[["838a8bf.cb60878"]]},{"id":"838a8bf.cb60878","type":"json","z":"4edffef3.e14ce","name":"json (trigger update)","property":"payload","action":"","pretty":false,"x":1060,"y":340,"wires":[["953faf01.724df"]]},{"id":"953faf01.724df","type":"function","z":"4edffef3.e14ce","name":"Prep Ret Message","func":"if (msg.payload==\"{no change}\") {\n    return [ null, msg];\n} else {\n    return [ msg, null];\n}","outputs":2,"noerr":0,"x":1290,"y":340,"wires":[["8e73b81.d0bbc48"],["dfa4fde0.8237e"]]},{"id":"1ff7f13a.74af6f","type":"comment","z":"4edffef3.e14ce","name":"cur Trigger equals new Trigger","info":"","x":1340,"y":280,"wires":[]},{"id":"36b7346e.2c02fc","type":"inject","z":"e6a5f68f.971a78","name":"Activate Trigger","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"ti01.controller\", \"param0\":\"CU.SETTRIGGERSTATUS\", \"paramX\":{\"trigger\":\"ping.trigger2\",\"unit\":\"ti01.SCHEDULE\",\"status\":\"enabled\", \"only\":\"true\"} }","payloadType":"str","x":200,"y":120,"wires":[["df84f477.e3f8f8"]]},{"id":"df84f477.e3f8f8","type":"link out","z":"e6a5f68f.971a78","name":"Test","links":["c460012.d5cb4"],"x":595,"y":140,"wires":[]},{"id":"c460012.d5cb4","type":"link in","z":"2ce6c32c.72889c","name":"Main Input","links":["4e5c370a.8d9f28","df84f477.e3f8f8","8dde8ec0.b4ba8","af9eddd0.7d3b6"],"x":195,"y":200,"wires":[["af15c470.d1f4a8"]]},{"id":"dfa4fde0.8237e","type":"function","z":"4edffef3.e14ce","name":"no change","func":"node.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":380,"wires":[[]]},{"id":"9a55e205.3e0a1","type":"inject","z":"e6a5f68f.971a78","name":"Open Sunblind","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"ti01.controller\", \"param0\":\"AU.SHADE\", \"paramX\":{\"trigger\":\"ping.trigger2\",\"unit\":\"ti01.SCHEDULE\",\"status\":\"enabled\", \"only\":\"true\"} }","payloadType":"str","x":200,"y":200,"wires":[["df84f477.e3f8f8"]]},{"id":"60971772.d844c8","type":"debug","z":"2ce6c32c.72889c","name":"ERROR OUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1360,"y":980,"wires":[]},{"id":"203e23c3.157e1c","type":"debug","z":"2ce6c32c.72889c","name":"DEBUG OUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1360,"y":1060,"wires":[]},{"id":"fcba05c8.50d7f8","type":"function","z":"bb9dbdb7.f5a47","name":"Start Watch","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"' + msg.ucobject.checkswitch + '\",' +\n                '\"param0\":\"watch\",' +\n                '\"paramX\":{\"duration\":\"' + msg.ucobject.timeout + '\"}}';\n\n//var Xswitch =\"\";\n//if (msg.ucobject.direction==\"CLOSE\") {\n    //Xswitch = msg.ucobject.switchbottom;\n//} else if (msg.ucobject.direction==\"OPEN\") {\n    //Xswitch = msg.ucobject.switchtop;\n//}\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":180,"wires":[["afd14a84.897398"]]},{"id":"afd14a84.897398","type":"json","z":"bb9dbdb7.f5a47","name":"","property":"payload","action":"","pretty":false,"x":1020,"y":180,"wires":[[]]},{"id":"93f5f7c2.ec88e8","type":"inject","z":"e6a5f68f.971a78","name":"Close Sunblind (Right)","repeat":"","crontab":"","once":false,"topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6climate.controller\", \"param0\":\"AU.SHADE\", \"paramX\":{\"trigger\":\"ping.trigger2\",\"unit\":\"ti01.SCHEDULE\",\"status\":\"enabled\", \"only\":\"true\"} }","payloadType":"str","x":200,"y":300,"wires":[["b70f1cb6.007a2"]]},{"id":"b70f1cb6.007a2","type":"function","z":"e6a5f68f.971a78","name":"Input Params","func":"var host = global.get('hname');\n\nmsg.payload = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n            '\"destination\":\"' + host + '.controller\", ' +\n            '\"param0\":\"AU.SHADE\", ' +\n            '\"paramX\":{\"direction\":\"CLOSE\",' +\n                        '\"destination\":\"B6.CLIMATE.UNIT.SHADE.RIGHT\",' +\n                        '\"destinationcmd\":\"startLeft\",' +\n                        '\"speed\":\"1500\",' +\n                        '\"timeout\":\"25\",' +\n                        '\"switchtop\" : \"ti88.Switch.J\",' +\n                        '\"switchbottom\" : \"ti88.Switch.K\", ' +\n                        '\"checkinit\" : \"true\"}}';\n                        \nreturn msg;","outputs":1,"noerr":0,"x":430,"y":240,"wires":[["df84f477.e3f8f8"]]},{"id":"c56fb649.feb0e8","type":"link out","z":"2ce6c32c.72889c","name":"Actor Unit - Error","links":["6ae26cee.ac3094"],"x":1295,"y":720,"wires":[]},{"id":"7f6a9570.f23f1c","type":"inject","z":"e6a5f68f.971a78","name":"Open Sunblind (Right)","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6climate.controller\", \"param0\":\"AU.SHADE\", \"paramX\":{\"trigger\":\"ping.trigger2\",\"unit\":\"ti01.SCHEDULE\",\"status\":\"enabled\", \"only\":\"true\"} }","payloadType":"str","x":200,"y":360,"wires":[["ee720c8a.98f45"]]},{"id":"ee720c8a.98f45","type":"function","z":"e6a5f68f.971a78","name":"Input Params","func":"var host = global.get('hname');\n\nmsg.payload = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n            '\"destination\":\"' + host + '.controller\", ' +\n            '\"param0\":\"AU.SHADE\", ' +\n            '\"paramX\":{\"direction\":\"OPEN\",' +\n                        '\"destination\":\"B6.CLIMATE.UNIT.SHADE.RIGHT\",' +\n                        '\"destinationcmd\":\"startRight\",' +\n                        '\"speed\":\"1500\",' +\n                        '\"timeout\":\"25\",' +\n                        '\"switchtop\" : \"ti88.Switch.J\",' +\n                        '\"switchbottom\" : \"ti88.Switch.K\",' +\n                        '\"checkinit\" : \"true\"}}';\n                        \nreturn msg;","outputs":1,"noerr":0,"x":440,"y":340,"wires":[["df84f477.e3f8f8"]]},{"id":"b93bf590.e07da8","type":"function","z":"a443370b.2db948","name":"Check Switch","func":"msg.ucobject.checkswitch=\"\";\n\nif (msg.ucobject.direction==\"CLOSE\") {\n    //If the Shade should be closing, the bottom switch is relevant for checking during motor run\n    msg.ucobject.watchswitch = msg.ucobject.switchbottom; //Switch to be checked during runtime of the motor\n    msg.ucobject.initswitch = msg.ucobject.switchtop; //Switch to be checked for intial situation\n} else if (msg.ucobject.direction==\"OPEN\") {\n    //If the Shade should be opened, the top switch is relevant for checking during motor run\n    msg.ucobject.watchswitch = msg.ucobject.switchtop;\n    msg.ucobject.initswitch = msg.ucobject.switchbottom;\n}\n\nif (msg.ucobject.checkinit==\"true\") { //Check the Value of the initial Switch of Parameter is enabled\n    msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"' + msg.ucobject.initswitch + '\",' +\n                '\"param0\":\"getValue\",' +\n                '\"paramX\":{\"ident\":\"check\"}}';\n                \n    return [ msg, null ];\n} else { // Ignore the Value of the initial Switch \n    msg.payload.paramX.value = \"LOW\"\n    return [ null, msg];\n}\n\n\n\nreturn msg;","outputs":2,"noerr":0,"x":620,"y":480,"wires":[["46d57a45.e1e414"],["d754174f.b7ca38"]]},{"id":"46d57a45.e1e414","type":"ti-message","z":"a443370b.2db948","name":"Execute","mqserver":"mqtt://localhost","intopic":"TI_CONTROLLER","outtopic":"TI_CMD","x":980,"y":480,"wires":[["5433a016.27a46"]]},{"id":"5433a016.27a46","type":"json","z":"a443370b.2db948","name":"json","property":"payload","action":"","pretty":true,"x":1170,"y":480,"wires":[["5e11cadd.843724"]]},{"id":"45d51b79.2bd924","type":"function","z":"a443370b.2db948","name":"Start Watch","func":"var timeout = parseInt(msg.ucobject.timeout)-1;\n\nmsg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"' + msg.ucobject.watchswitch + '\",' +\n                '\"param0\":\"watch\",' +\n                '\"paramX\":{\"duration\":\"' + timeout + '\",\"ident\":\"watch\"}}';\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":660,"wires":[["2c933c4f.022144"]]},{"id":"5e11cadd.843724","type":"switch","z":"a443370b.2db948","name":"Case","property":"payload.paramX.ident","propertyType":"msg","rules":[{"t":"eq","v":"check","vt":"str"},{"t":"eq","v":"watch","vt":"str"},{"t":"eq","v":"run","vt":"str"},{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1330,"y":480,"wires":[["d754174f.b7ca38"],["12c2cf59.1f6461"],[],[]]},{"id":"c6e9429b.4b1","type":"function","z":"a443370b.2db948","name":"Start Motor","func":"var timeout = parseInt(msg.ucobject.timeout) + 2;\n\nmsg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"'+ msg.ucobject.destination +'\",' +\n                '\"param0\":\"' +  msg.ucobject.destinationcmd + '\",' +\n                '\"paramX\":{\"speed\":\"' + msg.ucobject.speed + '\",\"ident\":\"run\"}}';\n//                '\"paramX\":{\"interval\":\"' + timeout + '\",\"speed\":\"' + msg.ucobject.speed + '\",\"ident\":\"run\"}}';\n\nmsg.delay= timeout * 1000;\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":560,"wires":[["83f47879.4113f8","46d57a45.e1e414"]]},{"id":"2c933c4f.022144","type":"delay","z":"a443370b.2db948","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":580,"wires":[["46d57a45.e1e414"]]},{"id":"42980e3c.d5bc8","type":"function","z":"a443370b.2db948","name":"Stop Motor","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"'+ msg.ucobject.destination +'\",' +\n                '\"param0\":\"' +  msg.ucobject.destinationcmd + '\",' +\n                '\"paramX\":{\"speed\":\"0\",\"ident\":\"stop\"}}';\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":760,"wires":[["46d57a45.e1e414"]]},{"id":"931fef06.018e3","type":"function","z":"a443370b.2db948","name":"Error - no Switch Executed","func":"if (msg.reset==1) { //If the Timer Reset is triggered by the Switch Watch Prozess\n    if (msg.timeout==1) { //If the Switch Watch process terminated due to a timeout\n        msg.error = \"true\";\n        msg.errorStatus = 'Beschattung (Fehler): Endschalter (' + msg.ucobject.watchswitch + ') nicht erreicht innerhalb des Überwachungszeitraums:' +\n                'Beschattung: ' + msg.ucobject.destination + '...' +\n                'Richtung: ' + msg.ucobject.direction + '...' +\n                'Überwachungszeit: ' + msg.ucobject.timeout;\n        return [ null, msg];\n    } else {\n        msg.error = \"false\";\n        msg.errorStatus = \"Shading execution successfull\"\n        return [ msg, null ];\n    }\n} else { \n    msg.error = \"true\";\n    msg.errorStatus = 'Beschattung (Fehler): Endschalter (' + msg.ucobject.watchswitch + ') nicht erreicht innerhalb der Motor Laufzeit:' +\n                'Beschattung: ' + msg.ucobject.destination + '...' +\n                'Richtung: ' + msg.ucobject.direction + '...' +\n                'Laufzeit: ' + msg.delay;\n                \n    return [ null, msg];\n}\n\n","outputs":2,"noerr":0,"x":1760,"y":560,"wires":[[],[]]},{"id":"83f47879.4113f8","type":"delay","z":"a443370b.2db948","name":"","pauseType":"delayv","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":560,"wires":[["931fef06.018e3","42980e3c.d5bc8"]]},{"id":"12c2cf59.1f6461","type":"function","z":"a443370b.2db948","name":"Reset Timer","func":"if (msg.payload.paramX.value==\"TIMEOUT\") { //If the Switch gives a Timeout \n    msg.timeout=1;    \n} else {\n    msg.timeout=0;    \n}\n\nmsg.reset=1;\n\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":480,"wires":[["83f47879.4113f8","931fef06.018e3","42980e3c.d5bc8"]]},{"id":"430e4478.0e098c","type":"function","z":"a443370b.2db948","name":"Input Params","func":"duration = parseInt(msg.payload.paramX.interval) + 5;\n\n//var data = {\"destination\":\"B6.CLIMATE.UNIT.SHADE.RIGHT\",\n//        \"direction\":\"CLOSE\",\n//        \"destinationcmd\":\"startLeft\",\n//        \"speed\":\"1000\",\n//        \"interval\":\"25\",\n//        \"switchtop\" : \"b6.Switch.Shade.OR\",\n//        \"switchbottom\" : \"b6.Switch.Shade.UR\",\n//        \"timeout\":\"25\"};\n\ndata = {\"destination\": msg.payload.paramX.destination,\n        \"direction\": msg.payload.paramX.direction,\n        \"destinationcmd\": msg.payload.paramX.destinationcmd,\n        \"speed\": msg.payload.paramX.speed,\n        \"switchtop\" : msg.payload.paramX.switchtop,\n        \"switchbottom\" : msg.payload.paramX.switchbottom,\n        \"timeout\": msg.payload.paramX.timeout,\n        \"checkinit\" : msg.payload.paramX.checkinit};    // Defines if the initial Switch position must be checked (if the shade is in the middle, it can be set to \"false\")\n\nmsg.ucobject = data;\n\n//Name des Motors: B6.CLIMATE.UNIT.SHADE.LEFT\n//Richtung: Close (runLeft) / Open (runRight)\n//Motor Command: runLeft / runRight\n//Speed: 1000\n//Intervall: Seconds (25)\n//Top Switch\n//Bottom Switch\n\n//Wenn Close: \n//      Check -> Top = Low, Bottom = High\n//      Watch -> Bottom = Low\n//      Run -> Motor Close\n//      Watch Event -> Bottom = Low oder Timeout\n//      Final Check -> Top = High, Bottom = Low\n\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":480,"wires":[["b93bf590.e07da8"]]},{"id":"d754174f.b7ca38","type":"function","z":"a443370b.2db948","name":"Check Switch States (Open, Close)","func":"var CheckSwitchValue=msg.payload.paramX.value;\n\nmsg.error=\"true\";\n\n//CheckSwitch must be open (LOW)\nif (CheckSwitchValue == \"LOW\") {\n    msg.error = \"false\";\n} else {\n    msg.error = \"true\";\n    msg.errorStatus = 'Beschattung (Fehler): Ausgangsposition der Endschalter fehlerhaft: ' +\n                'Beschattung: ' + msg.ucobject.destination + '...' +\n                'Richtung: ' + msg.ucobject.direction + '...' +\n                'Endschalter: ' + msg.ucobject.initswitch + '...' +\n                'Erwartete -> LOW (geschlossen), Aktuell:' + CheckSwitchValue + ' (offen)';\n}\n\nif (msg.error==\"false\") {\n    return [ msg, null ];\n} else {\n    return [ null, msg];\n}\n\n","outputs":2,"noerr":0,"x":1180,"y":760,"wires":[["45d51b79.2bd924","c6e9429b.4b1"],[]]},{"id":"7964d8c1.b8ff08","type":"function","z":"a5b56371.83719","name":"Input Params","func":"msg.payload = {\"@class\":\"org.timeit.apps.core.Msg\",\n            \"destination\":\"b6climate.controller\", \n            \"param0\":\"AU.SHADE\", \n            \"paramX\":{\"direction\":\"CLOSE\",\n                        \"destination\":\"B6.CLIMATE.UNIT.SHADE.RIGHT\",\n                        \"destinationcmd\":\"startLeft\",\n                        \"speed\":\"1500\",\n                        \"timeout\":\"25\",\n                        \"switchtop\" : \"b6.Switch.Shade.OR\",\n                        \"switchbottom\" : \"b6.Switch.Shade.UR\"}};\n                        \nreturn msg;","outputs":1,"noerr":0,"x":440,"y":60,"wires":[["4e5c370a.8d9f28"]]},{"id":"fee75e33.b9feb","type":"inject","z":"a5b56371.83719","name":"Close Sunblind (Right)","repeat":"","crontab":"","once":false,"topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6climate.controller\", \"param0\":\"AU.SHADE\", \"paramX\":{\"trigger\":\"ping.trigger2\",\"unit\":\"ti01.SCHEDULE\",\"status\":\"enabled\", \"only\":\"true\"} }","payloadType":"str","x":180,"y":60,"wires":[["7964d8c1.b8ff08"]]},{"id":"7ce2bc17.b066a4","type":"function","z":"a5b56371.83719","name":"Input Params","func":"var host = global.get('hname');\n\nmsg.payload = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n            '\"destination\":\"' + host + '.controller\", ' +\n            '\"param0\":\"AU.SHADE\", ' +\n            '\"paramX\":{\"direction\":\"CLOSE\",' +\n                        '\"destination\":\"B6.CLIMATE.UNIT.SHADE.RIGHT\",' +\n                        '\"destinationcmd\":\"startLeft\",' +\n                        '\"speed\":\"1100\",' +\n                        '\"timeout\":\"90\",' +\n                        '\"switchtop\" : \"b6.Switch.Shade.OR\",' +\n                        '\"switchbottom\" : \"b6.Switch.Shade.UR\", ' +\n                        '\"checkinit\" : \"false\"}}';\n                        \nreturn msg;","outputs":1,"noerr":0,"x":440,"y":140,"wires":[["4e5c370a.8d9f28"]]},{"id":"f64476fc.c69cb8","type":"function","z":"a5b56371.83719","name":"Input Params","func":"var host = global.get('hname');\n\nmsg.payload = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n            '\"destination\":\"' + host + '.controller\", ' +\n            '\"param0\":\"AU.SHADE\", ' +\n            '\"paramX\":{\"direction\":\"OPEN\",' +\n                        '\"destination\":\"B6.CLIMATE.UNIT.SHADE.RIGHT\",' +\n                        '\"destinationcmd\":\"startRight\",' +\n                        '\"speed\":\"2050\",' +\n                        '\"timeout\":\"90\",' +\n                        '\"switchtop\" : \"b6.Switch.Shade.OR\",' +\n                        '\"switchbottom\" : \"b6.Switch.Shade.UR\",' +\n                        '\"checkinit\" : \"true\"}}';\n                        \nreturn msg;","outputs":1,"noerr":0,"x":440,"y":200,"wires":[["4e5c370a.8d9f28"]]},{"id":"783bebe6.583514","type":"inject","z":"a5b56371.83719","name":"Open Sunblind (Right)","repeat":"","crontab":"","once":false,"topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6climate.controller\", \"param0\":\"AU.SHADE\", \"paramX\":{\"trigger\":\"ping.trigger2\",\"unit\":\"ti01.SCHEDULE\",\"status\":\"enabled\", \"only\":\"true\"} }","payloadType":"str","x":180,"y":200,"wires":[["f64476fc.c69cb8"]]},{"id":"d5500158.1f52f","type":"inject","z":"a5b56371.83719","name":"Close Sunblind (Right)","repeat":"","crontab":"","once":false,"topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6climate.controller\", \"param0\":\"AU.SHADE\", \"paramX\":{\"trigger\":\"ping.trigger2\",\"unit\":\"ti01.SCHEDULE\",\"status\":\"enabled\", \"only\":\"true\"} }","payloadType":"str","x":180,"y":140,"wires":[["7ce2bc17.b066a4"]]},{"id":"8b4af05c.17a2d","type":"function","z":"a5b56371.83719","name":"Input Params","func":"var host = global.get('hname');\n\nmsg.payload = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n            '\"destination\":\"' + host + '.controller\", ' +\n            '\"param0\":\"AU.SHADE\", ' +\n            '\"paramX\":{\"direction\":\"CLOSE\",' +\n                        '\"destination\":\"B6.CLIMATE.UNIT.SHADE.LEFT\",' +\n                        '\"destinationcmd\":\"startLeft\",' +\n                        '\"speed\":\"800\",' +\n                        '\"timeout\":\"60\",' +\n                        '\"switchtop\" : \"b6.Switch.Shade.OL\",' +\n                        '\"switchbottom\" : \"b6.Switch.Shade.UL\", ' +\n                        '\"checkinit\" : \"false\"}}';\n                        \nreturn msg;","outputs":1,"noerr":0,"x":440,"y":280,"wires":[["4e5c370a.8d9f28"]]},{"id":"fe01db4c.547338","type":"function","z":"a5b56371.83719","name":"Input Params","func":"var host = global.get('hname');\n\nmsg.payload = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n            '\"destination\":\"' + host + '.controller\", ' +\n            '\"param0\":\"AU.SHADE\", ' +\n            '\"paramX\":{\"direction\":\"OPEN\",' +\n                        '\"destination\":\"B6.CLIMATE.UNIT.SHADE.LEFT\",' +\n                        '\"destinationcmd\":\"startRight\",' +\n                        '\"speed\":\"1600\",' +\n                        '\"timeout\":\"70\",' +\n                        '\"switchtop\" : \"b6.Switch.Shade.OL\",' +\n                        '\"switchbottom\" : \"b6.Switch.Shade.UL\",' +\n                        '\"checkinit\" : \"true\"}}';\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":360,"wires":[["4e5c370a.8d9f28"]]},{"id":"aaf85f87.bed04","type":"inject","z":"a5b56371.83719","name":"Open Sunblind (Left)","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6climate.controller\", \"param0\":\"AU.SHADE\", \"paramX\":{\"trigger\":\"ping.trigger2\",\"unit\":\"ti01.SCHEDULE\",\"status\":\"enabled\", \"only\":\"true\"} }","payloadType":"str","x":170,"y":360,"wires":[["fe01db4c.547338"]]},{"id":"4483688.e3d2998","type":"inject","z":"a5b56371.83719","name":"Close Sunblind (Left)","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6climate.controller\", \"param0\":\"AU.SHADE\", \"paramX\":{\"trigger\":\"ping.trigger2\",\"unit\":\"ti01.SCHEDULE\",\"status\":\"enabled\", \"only\":\"true\"} }","payloadType":"str","x":180,"y":280,"wires":[["8b4af05c.17a2d"]]},{"id":"af100526.2e4108","type":"function","z":"a5b56371.83719","name":"prep","func":"msg.payload = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"b6climate.controller\",' +\n                '\"param0\":\"CU.PING\",' +\n                '\"paramX\":{\"unit\":\"b6climate.tiRouting\"}}'\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":460,"wires":[["4e5c370a.8d9f28"]]},{"id":"a42d254d.a90fd8","type":"inject","z":"a5b56371.83719","name":"ping","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{}","payloadType":"str","x":210,"y":460,"wires":[["af100526.2e4108"]]},{"id":"4e5c370a.8d9f28","type":"link out","z":"a5b56371.83719","name":"test_g15watch","links":["c460012.d5cb4"],"x":735,"y":220,"wires":[]},{"id":"80e33475.7a8b28","type":"inject","z":"fc1f6c41.e5c79","name":"Line 1 - Pump","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6plant.controller\", \"param0\":\"AU.RUNPUMP\", \"replyTo\":\"REPLY MQTT CHANNEL\",  \"paramX\":{\"unit\":\"B6.PLANT.LINE.1.TANK.PUMP\", \"interval\":\"10\",\"db\":\"true\",\"twitter\":\"false\"} }","payloadType":"str","x":150,"y":40,"wires":[["8dde8ec0.b4ba8"]]},{"id":"acb37f3a.8513c","type":"inject","z":"fc1f6c41.e5c79","name":"Line 2 - Pump","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6plant.controller\", \"param0\":\"AU.RUNPUMP\", \"replyTo\":\"REPLY MQTT CHANNEL\",  \"paramX\":{\"unit\":\"B6.PLANT.LINE.2.TANK.PUMP\", \"interval\":\"120\",\"db\":\"true\",\"twitter\":\"false\"} }","payloadType":"str","x":150,"y":80,"wires":[["8dde8ec0.b4ba8"]]},{"id":"a980070c.174f38","type":"inject","z":"fc1f6c41.e5c79","name":"Line 3 - Pump","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6plant.controller\", \"param0\":\"AU.RUNPUMP\", \"replyTo\":\"REPLY MQTT CHANNEL\",  \"paramX\":{\"unit\":\"B6.PLANT.LINE.3.TANK.PUMP\", \"interval\":\"120\",\"db\":\"true\",\"twitter\":\"false\"} }","payloadType":"str","x":150,"y":120,"wires":[["8dde8ec0.b4ba8"]]},{"id":"b0ebd569.088238","type":"inject","z":"fc1f6c41.e5c79","name":"Line 4 - Pump","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6plant.controller\", \"param0\":\"AU.RUNPUMP\", \"replyTo\":\"REPLY MQTT CHANNEL\",  \"paramX\":{\"unit\":\"B6.PLANT.LINE.4.TANK.PUMP\", \"interval\":\"120\",\"db\":\"true\",\"twitter\":\"false\"} }","payloadType":"str","x":150,"y":160,"wires":[["8dde8ec0.b4ba8"]]},{"id":"71a3a8f5.db4a68","type":"inject","z":"fc1f6c41.e5c79","name":"Line 5 - Pump","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6plant.controller\", \"param0\":\"AU.RUNPUMP\", \"replyTo\":\"REPLY MQTT CHANNEL\",  \"paramX\":{\"unit\":\"B6.PLANT.LINE.5.TANK.PUMP\", \"interval\":\"120\",\"db\":\"true\",\"twitter\":\"false\"} }","payloadType":"str","x":150,"y":200,"wires":[["8dde8ec0.b4ba8"]]},{"id":"1eefe34c.29377d","type":"inject","z":"fc1f6c41.e5c79","name":"Line 6 - Pump","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6plant.controller\", \"param0\":\"AU.RUNPUMP\", \"replyTo\":\"REPLY MQTT CHANNEL\",  \"paramX\":{\"unit\":\"B6.PLANT.LINE.6.TANK.PUMP\", \"interval\":\"120\",\"db\":\"true\",\"twitter\":\"false\"} }","payloadType":"str","x":150,"y":240,"wires":[["8dde8ec0.b4ba8"]]},{"id":"8dde8ec0.b4ba8","type":"link out","z":"fc1f6c41.e5c79","name":"test_b6plant","links":["c460012.d5cb4"],"x":380,"y":140,"wires":[]},{"id":"4edd3d71.f3b604","type":"inject","z":"c82b6327.0aa47","name":"G15 Temp Aussen","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"g15plant.controller\", \"param0\":\"SU.GETVALUE\",  \"paramX\":{\"unit\":\"G15.PLANT.RASP.UNITS.TEMPAUSSEN\"} }","payloadType":"str","x":150,"y":320,"wires":[["af9eddd0.7d3b6"]]},{"id":"95f2af0a.be387","type":"inject","z":"c82b6327.0aa47","name":"G15 Temp Innen","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"g15plant.controller\", \"param0\":\"SU.GETVALUE\",  \"paramX\":{\"unit\":\"G15.PLANT.RASP.UNITS.TEMPINNEN\",\"db\":\"true\"} }","payloadType":"str","x":140,"y":260,"wires":[["af9eddd0.7d3b6"]]},{"id":"53254414.425d4c","type":"inject","z":"c82b6327.0aa47","name":"Run Pump (Tomaten)","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"g15plant.controller\", \"param0\":\"AU.RUNPUMP\",  \"paramX\":{\"unit\":\"G15.PLANT.RASP.UNITS.PUMP2\", \"interval\":\"60\",\"db\":\"true\",\"twitter\":\"false\"} }","payloadType":"str","x":160,"y":60,"wires":[["af9eddd0.7d3b6"]]},{"id":"3721ab2.178b054","type":"inject","z":"c82b6327.0aa47","name":"Run Fan","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"g15plant.controller\", \"param0\":\"AU.RUNPUMP\",  \"paramX\":{\"unit\":\"G15.PLANT.RASP.UNITS2.FANLEFT\", \"interval\":\"10\",\"db\":\"true\",\"twitter\":\"false\"} }","payloadType":"str","x":120,"y":420,"wires":[["af9eddd0.7d3b6"]]},{"id":"2773e50d.62fbaa","type":"inject","z":"c82b6327.0aa47","name":"Run Pump Valve (Wasabi Beet)","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"g15plant.controller\", \"param0\":\"AU.RUNPUMPVALVE\",  \"paramX\":{\"unit\":\"G15.PLANT.RASP.UNITS.PUMP1\", \"valve\":\"G15.PLANT.RASP.UNITS2.VALVE3\", \"interval\":\"30\",\"db\":\"true\",\"twitter\":\"false\"} }","payloadType":"str","x":190,"y":120,"wires":[["af9eddd0.7d3b6"]]},{"id":"40b71c23.7acd34","type":"inject","z":"c82b6327.0aa47","name":"Run Pump Valve (Wasabi zum Tomaten Beet)","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"g15plant.controller\", \"param0\":\"AU.RUNPUMPVALVE\",  \"paramX\":{\"unit\":\"G15.PLANT.RASP.UNITS.PUMP1\", \"valve\":\"G15.PLANT.RASP.UNITS2.VALVE2\", \"interval\":\"30\",\"db\":\"false\",\"twitter\":\"false\"} }","payloadType":"str","x":230,"y":180,"wires":[["af9eddd0.7d3b6"]]},{"id":"af9eddd0.7d3b6","type":"link out","z":"c82b6327.0aa47","name":"test_g15plant","links":["c460012.d5cb4"],"x":540,"y":260,"wires":[]},{"id":"9945eb98.665718","type":"comment","z":"2ce6c32c.72889c","name":"Reply to Sender","info":"","x":1580,"y":460,"wires":[]},{"id":"7ff57b29.09f1d4","type":"ti-message","z":"68a9f738.904da8","name":"ti Exec Sensor","mqserver":"mqtt://localhost","intopic":"TI_CONTROLLER","outtopic":"TI_CMD","x":660,"y":180,"wires":[["45066900.9838f8"]]},{"id":"ff3bd1cc.c869d","type":"inject","z":"a5b56371.83719","name":"Fenster zu","repeat":"","crontab":"","once":false,"topic":"","payload":"{}","payloadType":"json","x":302.0158996582031,"y":593.0424423217773,"wires":[["3afcfd18.411912"]]},{"id":"b9503f4b.26244","type":"ti-message","z":"a5b56371.83719","name":"ti Exec Msg","mqserver":"mqtt://localhost","intopic":"TI_CONTROLLER","outtopic":"TI_CMD","x":916.6429138183594,"y":672.2857360839844,"wires":[["d39db710.97be28"]]},{"id":"5f6f86ce.b95698","type":"inject","z":"a5b56371.83719","name":"Fenster auf","repeat":"","crontab":"","once":false,"topic":"","payload":"{}","payloadType":"json","x":309.0000457763672,"y":636,"wires":[["7066056b.921aec"]]},{"id":"7066056b.921aec","type":"function","z":"a5b56371.83719","name":"prep exec message","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' + \n                    '\"destination\":\"b6climate.controller\",' +\n                    '\"param0\":\"AU.WINDOW\",' +\n                    '\"paramX\":{\"unit\":\"B6.CLIMATE.UNIT.WINDOW.ALL\",' +\n                        '\"direction\":\"open\",' +\n                        '\"db\":\"true\"} }';\n\nreturn msg;","outputs":1,"noerr":0,"x":567,"y":646,"wires":[["b9503f4b.26244"]]},{"id":"9679e6ee.b0a488","type":"inject","z":"a5b56371.83719","name":"Beschattung / links / runter","repeat":"","crontab":"","once":false,"topic":"","payload":"{}","payloadType":"json","x":348.00003814697266,"y":740.9999694824219,"wires":[["f507bc90.7a8d2"]]},{"id":"f507bc90.7a8d2","type":"function","z":"a5b56371.83719","name":"prep exec message","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"B6.CLIMATE.UNIT.SHADE.LEFT\",' +\n                '\"param0\":\"runLeft\",' +\n                '\"paramX\":{\"interval\":\"25\",\"speed\":\"1000\"}}';\n//B6.PLANT.LINE.ENV.LIGHT\nreturn msg;","outputs":1,"noerr":0,"x":624.0077819824219,"y":743.2110595703125,"wires":[["b9503f4b.26244"]]},{"id":"df11966.0de6e68","type":"inject","z":"a5b56371.83719","name":"Beschattung / links / stop","repeat":"","crontab":"","once":false,"topic":"","payload":"{}","payloadType":"json","x":357.0000457763672,"y":838.0000610351562,"wires":[["80cc3f51.3a7fd"]]},{"id":"80cc3f51.3a7fd","type":"function","z":"a5b56371.83719","name":"prep exec message","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"B6.CLIMATE.UNIT.SHADE.LEFT\",' +\n                '\"param0\":\"stop\",' +\n                '\"paramX\":{\"interval\":\"1\",\"speed\":\"2000\"}}';\n//B6.PLANT.LINE.ENV.LIGHT\nreturn msg;","outputs":1,"noerr":0,"x":619,"y":835,"wires":[["b9503f4b.26244"]]},{"id":"e4303728.8046a8","type":"inject","z":"a5b56371.83719","name":"Beschattung / links / hoch","repeat":"","crontab":"","once":false,"topic":"","payload":"{}","payloadType":"json","x":350.0000305175781,"y":780.9999694824219,"wires":[["57016aa0.2888f4"]]},{"id":"57016aa0.2888f4","type":"function","z":"a5b56371.83719","name":"prep exec message","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"B6.CLIMATE.UNIT.SHADE.LEFT\",' +\n                '\"param0\":\"runRight\",' +\n                '\"paramX\":{\"interval\":\"24\",\"speed\":\"1600\"}}';\n//B6.PLANT.LINE.ENV.LIGHT\nreturn msg;","outputs":1,"noerr":0,"x":618.46142578125,"y":787.5312805175781,"wires":[["b9503f4b.26244"]]},{"id":"a2311eaa.c6ca2","type":"inject","z":"a5b56371.83719","name":"Beschattung / rechts / runter","repeat":"","crontab":"","once":false,"topic":"","payload":"{}","payloadType":"json","x":365.00001525878906,"y":936,"wires":[["81be03ed.99c11"]]},{"id":"f8fe158d.d475d8","type":"inject","z":"a5b56371.83719","name":"Beschattung / rechts / hoch","repeat":"","crontab":"","once":false,"topic":"","payload":"{}","payloadType":"json","x":355.00001525878906,"y":982,"wires":[["8589f4d0.e662b8"]]},{"id":"8f6c8fb3.4e8b6","type":"inject","z":"a5b56371.83719","name":"Beschattung / rechts / stop","repeat":"","crontab":"","once":false,"topic":"","payload":"{}","payloadType":"json","x":360.5714569091797,"y":1035.428466796875,"wires":[["52fba89a.0bdf98"]]},{"id":"81be03ed.99c11","type":"function","z":"a5b56371.83719","name":"prep exec message","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"B6.CLIMATE.UNIT.SHADE.RIGHT\",' +\n                '\"param0\":\"startLeft\",' +\n                '\"paramX\":{\"interval\":\"27\",\"speed\":\"800\"}}';\n//B6.PLANT.LINE.ENV.LIGHT\nreturn msg;","outputs":1,"noerr":0,"x":627.3469848632812,"y":935.2896118164062,"wires":[["b9503f4b.26244"]]},{"id":"8589f4d0.e662b8","type":"function","z":"a5b56371.83719","name":"prep exec message","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"B6.CLIMATE.UNIT.SHADE.RIGHT\",' +\n                '\"param0\":\"startRight\",' +\n                '\"paramX\":{\"interval\":\"5\",\"speed\":\"2100\"}}';\n//B6.PLANT.LINE.ENV.LIGHT\nreturn msg;","outputs":1,"noerr":0,"x":629.2969360351562,"y":988.3828735351562,"wires":[["b9503f4b.26244"]]},{"id":"52fba89a.0bdf98","type":"function","z":"a5b56371.83719","name":"prep exec message","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"B6.CLIMATE.UNIT.SHADE.RIGHT\",' +\n                '\"param0\":\"stop\",' +\n                '\"paramX\":{\"interval\":\"1\",\"speed\":\"2000\"}}';\n//B6.PLANT.LINE.ENV.LIGHT\nreturn msg;","outputs":1,"noerr":0,"x":633,"y":1038.0000610351562,"wires":[["b9503f4b.26244"]]},{"id":"10a49979.777d37","type":"inject","z":"a5b56371.83719","name":"Beschattung / links / stop(neu)","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{}","payloadType":"json","x":382.0000305175781,"y":1241,"wires":[["bc1ba7fc.db5fc8"]]},{"id":"bc1ba7fc.db5fc8","type":"function","z":"a5b56371.83719","name":"prep exec message","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"B6.CLIMATE.UNIT.SHADE.LEFT\",' +\n                '\"param0\":\"startRight\",' +\n                '\"paramX\":{\"speed\":\"0\"}}';\n//B6.PLANT.LINE.ENV.LIGHT\nreturn msg;","outputs":1,"noerr":0,"x":652.0000305175781,"y":1241,"wires":[["b9503f4b.26244"]]},{"id":"5c27de62.1539d","type":"inject","z":"a5b56371.83719","name":"Beschattung / links / hoch","repeat":"","crontab":"","once":false,"topic":"","payload":"{}","payloadType":"json","x":372.0000305175781,"y":1181,"wires":[["a81b2810.c0f018"]]},{"id":"a81b2810.c0f018","type":"function","z":"a5b56371.83719","name":"prep exec message","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"B6.CLIMATE.UNIT.SHADE.LEFT\",' +\n                '\"param0\":\"startRight\",' +\n                '\"paramX\":{\"speed\":\"1600\"}}';\n//B6.PLANT.LINE.ENV.LIGHT\nreturn msg;","outputs":1,"noerr":0,"x":640.46142578125,"y":1187.5313110351562,"wires":[["b9503f4b.26244"]]},{"id":"d39db710.97be28","type":"debug","z":"a5b56371.83719","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1160,"y":680,"wires":[]},{"id":"f48962cd.5df31","type":"inject","z":"fc1f6c41.e5c79","name":"Greenhouse Light","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6plant.controller\", \"param0\":\"AU.RUNPUMP\", \"replyTo\":\"REPLY MQTT CHANNEL\",  \"paramX\":{\"unit\":\"B6.PLANT.LINE.ENV.LIGHT\", \"interval\":\"120\",\"db\":\"true\",\"twitter\":\"false\"} }","payloadType":"str","x":170,"y":320,"wires":[["8dde8ec0.b4ba8"]]},{"id":"1caf3d7a.5042b3","type":"inject","z":"a5b56371.83719","name":"Get Humidity Sensor Data","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{}","payloadType":"json","x":355,"y":532,"wires":[["7f3766fb.efe108"]]},{"id":"7f3766fb.efe108","type":"function","z":"a5b56371.83719","name":"prep exec message","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"B6.CLIMATE.UNIT.SENSOR.HUMIDITY\",' +\n                '\"param0\":\"getValueAll\",' +\n                '\"paramX\":{}}';\nreturn msg;\n\n","outputs":1,"noerr":0,"x":574,"y":531,"wires":[["b9503f4b.26244"]]},{"id":"2eade736.ce5078","type":"function","z":"a443370b.2db948","name":"WINDOW","func":"// Parameter\n// destination: Name of the Motor Unit\n// direction: [open|close]\n// duration: [time in milliseconds] - default 30\n// speed: [motor speed] - default 3000\n\ndata = {\"interval\": \"30\",\n        \"speed\": \"3000\",\n        \"direction\": \"\",\n        \"unit\":msg.payload.paramX.unit\n}; \nmsg.ucobject = data;\n\n// If interval is given, overwrite default value\nif (typeof(msg.payload.paramX.interval) !== \"undefined\" && msg.payload.paramX.interval){\n   msg.ucobject.interval = msg.payload.paramX.interval;\n} \n\n// If speed is given, overwrite default value\nif (typeof(msg.payload.paramX.speed) !== \"undefined\"){\n    msg.ucobject.speed = msg.payload.paramX.speed;\n} \n\n// Transfer direction (open / close) into motor instructions\nif (msg.payload.paramX.direction == \"open\"){\n    msg.ucobject.direction = \"runLeft\";\n} \nif (msg.payload.paramX.direction == \"close\"){\n    msg.ucobject.direction = \"runRight\";\n} \n\n// Prepare execution Statement\nmsg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"' + msg.ucobject.unit + '\",' +\n                '\"param0\":\"' + msg.ucobject.direction + '\",' +\n                '\"paramX\":{\"interval\":\"' + msg.ucobject.interval + '\",\"speed\":\"' + msg.ucobject.speed + '\"}}';\n\n// B6.CLIMATE.UNIT.WINDOW.ALL\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":380,"wires":[["81896418.9c1f28"]]},{"id":"3afcfd18.411912","type":"function","z":"a5b56371.83719","name":"prep exec message","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' + \n                    '\"destination\":\"b6climate.controller\",' +\n                    '\"param0\":\"AU.WINDOW\",' +\n                    '\"paramX\":{\"unit\":\"B6.CLIMATE.UNIT.WINDOW.ALL\",' +\n                        '\"direction\":\"close\",' +\n                        '\"db\":\"true\"} }';\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":600,"wires":[["b9503f4b.26244"]]},{"id":"81896418.9c1f28","type":"ti-message","z":"a443370b.2db948","name":"ti Operate Window (open/close)","mqserver":"mqtt://localhost","intopic":"TI_CONTROLLER","outtopic":"TI_CMD","x":750,"y":380,"wires":[["b23089c8.81fd78"]]},{"id":"d123eaa2.f0d138","type":"function","z":"a443370b.2db948","name":"Format Log Parameter","func":"// Format runRight and runLeft to \"open\" / \"close\"\n\nif (msg.payload.param0 == \"runLeft\"){\n    msg.payload.param0 = \"open\";\n} \nif (msg.payload.param0 == \"runRight\"){\n    msg.payload.param0 = \"close\";\n} \n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":380,"wires":[["4d09f8c6.c6f0d8"]]},{"id":"b23089c8.81fd78","type":"json","z":"a443370b.2db948","name":"","property":"payload","action":"","pretty":false,"x":950,"y":380,"wires":[["d123eaa2.f0d138"]]},{"id":"c512394.20929c8","type":"mqtt in","z":"6805060.8f44ffc","name":"stat/#","topic":"stat/#","qos":"2","datatype":"auto","broker":"cbf41ed0.f5061","x":110,"y":620,"wires":[["50239902.419398"]]},{"id":"e9159ba4.be0388","type":"mqtt out","z":"6805060.8f44ffc","name":"","topic":"","qos":"","retain":"","broker":"cbf41ed0.f5061","x":250,"y":720,"wires":[]},{"id":"46ccef47.c97ee","type":"inject","z":"6805060.8f44ffc","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":110,"y":40,"wires":[["760c752a.a463bc"]]},{"id":"a684feb1.90f8f","type":"inject","z":"6805060.8f44ffc","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":150,"y":340,"wires":[["72610f1.17bccf"]]},{"id":"b4d53ede.5480e","type":"function","z":"6805060.8f44ffc","name":"Check Power1 (Pump)","func":"context.chk = context.chk || {};\nswitch (msg.case) {\n  case \"startEvent\":\n    context.chk = msg.payload_ori;\n    break;\n  case \"mqttEvent\":\n    if (typeof(context.chk.paramX) !== \"undefined\"){\n      if (msg.topic==\"stat/\" + context.chk.paramX.node + \"/RESULT\"){\n        msg.payload = JSON.parse(msg.payload);\n        if (typeof(msg.payload.POWER) !== \"undefined\"){\n            msg.PowerEins=\"true\";\n            if (msg.payload.POWER==\"OFF\") {\n                msg.case = \"stopEvent\";\n                msg.OFF=\"true\";\n                msg.payload_ori = context.data;\n                return [msg, null];\n            } else {\n                msg.OFF=\"false\";\n                return [null,msg];\n            } \n        } else {\n            msg.PowerEins=\"false\";\n        } \n      } else {\n          //node.warn(\"wrong topic\" );\n      }\n    } else {\n        //node.warn(\"typeof not set:\"+ JSON.stringify(context.chk));\n    }\n    break;\n}\n\n\n","outputs":2,"noerr":0,"x":580,"y":500,"wires":[["6497d744.8bcb28","eb4b2d3c.909a3"],["eb4b2d3c.909a3"]]},{"id":"eca43c9b.74ce6","type":"debug","z":"a443370b.2db948","name":"AU.WATERING.ESPTRAY","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":200,"y":420,"wires":[]},{"id":"91f9c12c.edb2a","type":"debug","z":"2ce6c32c.72889c","name":"UC Selector - Detail","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"uc","targetType":"msg","x":560,"y":680,"wires":[]},{"id":"c24fa314.2e44b","type":"comment","z":"6805060.8f44ffc","name":"Parameter","info":"Param 1: esp - node - name\nParam 2: event = [on|off]\nParam 3: Pump Timer - how long should the Pump run","x":620,"y":80,"wires":[]},{"id":"72610f1.17bccf","type":"function","z":"6805060.8f44ffc","name":"Set Pump Topic","func":"msg.topic = \"cmnd/\" + msg.payload_ori.paramX.node + \"/Power1\";\nmsg.payload = msg.payload_ori.paramX.event;\nmsg.case =\"startEvent\";\n\nmsg.logvalue = \"1\";\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":320,"wires":[["6497d744.8bcb28","2e28b279.a052ae","883de6f.6bcce18","b4d53ede.5480e","c91453db.aaf08"]]},{"id":"e73b7833.06f1c8","type":"delay","z":"6805060.8f44ffc","name":"","pauseType":"delayv","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":440,"wires":[["6497d744.8bcb28"]]},{"id":"6497d744.8bcb28","type":"function","z":"6805060.8f44ffc","name":"Pump Flow Control","func":"context.data = context.data || {};\nswitch (msg.case) {\n  case \"startEvent\":\n      context.data.startEvent = msg;\n      context.data.timerEvent = null;\n      context.data.stopEvent = null;\n  break;\n  case \"timerEvent\":\n      context.data.timerEvent = msg;\n  break;\n  case \"stopEvent\":\n      context.data.stopEvent = msg;\n  break;\n}\n\n// \"success\"-case -> Pump was triggered and endpoint was reached\nif (context.data.startEvent!==null && context.data.stopEvent!==null) {\n    context.data = null;\n    msg.reset=1;\n    msg.event=\"success\";\n    msg.logvalue = \"0\";\n    return [msg,null];\n}\n\n// \"failed\"- case -> Time limit for pump run was reached\nif (context.data.startEvent!==null && context.data.timerEvent!==null) {\n    context.data = null;\n    msg.event=\"failed\";\n    msg.payload = {\"bot\":\"Pumpe nicht innerhalb des Zeitlimits abgeschaltet!:\" + msg.event + \"\"};\n    return [null,msg];\n}\n","outputs":2,"noerr":0,"x":570,"y":380,"wires":[["61ee329b.9dbafc","e73b7833.06f1c8","c91453db.aaf08"],["506a6493.9bc28c","209404a8.c7715c"]]},{"id":"2e28b279.a052ae","type":"function","z":"6805060.8f44ffc","name":"Timer Event","func":"msg.case =\"timerEvent\";\nmsg.delay = msg.payload_ori.paramX.pump_timeout; //(1 min - 60000)\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":440,"wires":[["e73b7833.06f1c8"]]},{"id":"61ee329b.9dbafc","type":"debug","z":"6805060.8f44ffc","name":"sucess","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":340,"wires":[]},{"id":"506a6493.9bc28c","type":"debug","z":"6805060.8f44ffc","name":"failed (Timer)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":440,"wires":[]},{"id":"43a8d591.aaceac","type":"inject","z":"6805060.8f44ffc","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Power1\":\"OFF\"}","payloadType":"json","x":140,"y":540,"wires":[["3e75d757.651038"]]},{"id":"3e75d757.651038","type":"function","z":"6805060.8f44ffc","name":"Set Power1 (test)","func":"msg.payload.Power1=\"OFF\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":350,"y":540,"wires":[["b4d53ede.5480e"]]},{"id":"eb4b2d3c.909a3","type":"debug","z":"6805060.8f44ffc","name":"msg_out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":540,"wires":[]},{"id":"5cb8da4d.87afd4","type":"subflow:6046dc78.e04e74","z":"a443370b.2db948","name":"","x":180,"y":480,"wires":[]},{"id":"50239902.419398","type":"debug","z":"6805060.8f44ffc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":700,"wires":[]},{"id":"c92f0da9.19a7e","type":"function","z":"ca9455bf.030da8","name":"Enrich Message Obj","func":"//msg.payload.content=\"Hi,ich bin der AI Bot\";\nmsg.payload.chatId=-460817491;\nmsg.payload.type=\"message\";\nmsg.payload.content = msg.payload.bot;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":80,"wires":[["25049827.d06d48"]]},{"id":"7451165c.366fc8","type":"function","z":"6805060.8f44ffc","name":"Set Distance Sensor Topic","func":"//Save ori message\nmsg.payload_ori = msg.payload;\nmsg.case =\"startEvent\";\n\nmsg.topic = \"cmnd/\" + msg.payload_ori.paramX.node + \"/Status\";\nmsg.payload = \"10\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["854ed232.4af16","600be5c9.adea8c","c725ac31.09663"]]},{"id":"899083d6.f137","type":"link out","z":"6805060.8f44ffc","name":"Test_Tasmota_In","links":["78de4c58.597124","254607b7.d2ed48"],"x":495,"y":620,"wires":[]},{"id":"78de4c58.597124","type":"link in","z":"6805060.8f44ffc","name":"","links":["899083d6.f137"],"x":535,"y":140,"wires":[["854ed232.4af16"]]},{"id":"854ed232.4af16","type":"function","z":"6805060.8f44ffc","name":"Check Min Waterlevel (Reservoir)","func":"msg.distance = 0;\ncontext.data = context.data || {};\nswitch (msg.case) {\n  case \"startEvent\":\n    context.data = msg.payload_ori;\n    //context.data.nodename = msg.payload_ori.paramX.node;\n    //context.data.reservoir_level_min = msg.payload_ori.paramX.reservoir_level_min\n    break;\n  case \"mqttEvent\":\n    \n    if (typeof (context.data.paramX) !== \"undefined\"){\n        if (msg.topic==\"stat/\" + context.data.paramX.node + \"/STATUS10\") {\n            msg.payload = JSON.parse(msg.payload);\n            msg.distance = msg.payload.StatusSNS.SR04.Distance;\n            msg.payload_ori = context.data;\n            // If distance is lower min level -> run pum\n            if (Number(msg.distance) > Number(context.data.paramX.reservoir_level_min)) {\n                return [msg, null];\n            } else {\n                msg.payload.bot=\"Reservoir nicht ausreichend (\" + context.data.paramX.node + \") - min level:\" +  context.data.paramX.reservoir_level_min + \" / aktuelles Level:\" + msg.distance; \n                return [null,msg]; \n            }\n        }\n    }\n    break;\n}\n\n\n \n","outputs":2,"noerr":0,"x":780,"y":180,"wires":[["2643d150.40f39e","ca94669b.572d28","72610f1.17bccf"],["78db3.366cf24dc","ca94669b.572d28","209404a8.c7715c"]]},{"id":"2643d150.40f39e","type":"debug","z":"6805060.8f44ffc","name":"sucess (Waterlevel)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":140,"wires":[]},{"id":"78db3.366cf24dc","type":"debug","z":"6805060.8f44ffc","name":"failed (Waterlevel)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":200,"wires":[]},{"id":"b06060.32479fa","type":"link in","z":"6805060.8f44ffc","name":"esp_out","links":["600be5c9.adea8c","883de6f.6bcce18"],"x":95,"y":720,"wires":[[]]},{"id":"600be5c9.adea8c","type":"link out","z":"6805060.8f44ffc","name":"esp_send_mqtt","links":["b06060.32479fa"],"x":535,"y":220,"wires":[]},{"id":"883de6f.6bcce18","type":"link out","z":"6805060.8f44ffc","name":"esp_send_mqtt","links":["b06060.32479fa"],"x":475,"y":320,"wires":[]},{"id":"254607b7.d2ed48","type":"link in","z":"6805060.8f44ffc","name":"","links":["899083d6.f137"],"x":415,"y":500,"wires":[["b4d53ede.5480e"]]},{"id":"760c752a.a463bc","type":"function","z":"6805060.8f44ffc","name":"Input Params","func":"var host = global.get('hname');\n\nmsg.payload = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n            '\"destination\":\"' + host + '.controller\", ' +\n            '\"param0\":\"AU.WATERING.TRAY.ESP\", ' +\n            '\"paramX\":{\"event\":\"on\",' +\n                        '\"reservoir_level_min\":\"20\",' +\n                        '\"pump_timeout\":\"180000\",' + //(1 min - 60000)\n                        '\"node\":\"d37node-grow-water\",' +\n                        '\"water_return_timeout\" : \"18000000\"}}';\n\nflow.set(\"payload\",JSON.parse(msg.payload));   \nreturn msg;","outputs":1,"noerr":0,"x":270,"y":40,"wires":[["c4b0bf2.6beb44"]]},{"id":"961bba85.13c7f8","type":"function","z":"6805060.8f44ffc","name":"Input Params","func":"var host = global.get('hname');\n\nmsg.payload = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n            '\"destination\":\"' + host + '.controller\", ' +\n            '\"param0\":\"AU.WATERING.TRAY.ESP\", ' +\n            '\"paramX\":{\"event\":\"on\",' +\n                        '\"reservoir_level_min\":\"50\",' +\n                        '\"pump_timeout\":\"1800\",' +\n                        '\"node\":\"esp-anzucht-alfa\",' +\n                        '\"water_return_timeout\" : \"18000000\"}}';\n                        \nreturn msg;","outputs":1,"noerr":0,"x":270,"y":100,"wires":[["c4b0bf2.6beb44"]]},{"id":"8fa67d16.70c3d","type":"inject","z":"6805060.8f44ffc","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":110,"y":100,"wires":[["961bba85.13c7f8"]]},{"id":"34ff8f0f.ab323","type":"function","z":"6805060.8f44ffc","name":"set MQTT Case","func":"//msg =  msg.payload.replace(/\\\\/g, \"\");;\n//node.warn(msg);\n\nmsg.case=\"mqttEvent\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":280,"y":620,"wires":[["899083d6.f137"]]},{"id":"c725ac31.09663","type":"debug","z":"6805060.8f44ffc","name":"TEst","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":740,"y":280,"wires":[]},{"id":"c4b0bf2.6beb44","type":"json","z":"6805060.8f44ffc","name":"","property":"payload","action":"","pretty":false,"x":430,"y":80,"wires":[["7451165c.366fc8"]]},{"id":"ca94669b.572d28","type":"function","z":"6805060.8f44ffc","name":"prep Log","func":"var parentPayload = flow.get(\"payload\");\n//node.warn({\"msgPayload=\": msgPayload});\nmsg.logsender = parentPayload.paramX.node + \".SR04\";\n//msg.logsender = msg.payload_ori.paramX.node + \".SR04\";\nmsg.logid = msg._msgid;\n\nmsg.logvalue = msg.distance;\nmsg.logevent = \"data\";\n\nlet current_datetime = new Date();\nlet formatted_date = current_datetime.getFullYear() + \"-\" + (current_datetime.getMonth() + 1) + \"-\" + current_datetime.getDate() + \" \" + current_datetime.getHours() + \":\" + current_datetime.getMinutes() + \":\" + current_datetime.getSeconds();\nmsg.logtimestamp = formatted_date;\nmsg.logdatatype = \"cm\";\nmsg.db = \"true\";\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":300,"wires":[["9adeb97c.e07758","21c6f4fa.56047c"]]},{"id":"9adeb97c.e07758","type":"subflow:4a631457.3c182c","z":"6805060.8f44ffc","name":"","x":1300,"y":300,"wires":[]},{"id":"21c6f4fa.56047c","type":"debug","z":"6805060.8f44ffc","name":"log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":380,"wires":[]},{"id":"c91453db.aaf08","type":"function","z":"6805060.8f44ffc","name":"prep Log","func":"var parentPayload = flow.get(\"payload\");\nmsg.logsender = parentPayload.paramX.node + \".Power1\";\n\nmsg.logid = msg._msgid;\n\nmsg.logevent = \"data\";\n\nlet current_datetime = new Date();\nlet formatted_date = current_datetime.getFullYear() + \"-\" + (current_datetime.getMonth() + 1) + \"-\" + current_datetime.getDate() + \" \" + current_datetime.getHours() + \":\" + current_datetime.getMinutes() + \":\" + current_datetime.getSeconds();\nmsg.logtimestamp = formatted_date;\nmsg.logdatatype = \"count\";\nmsg.db = \"true\";\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":380,"wires":[["9adeb97c.e07758"]]},{"id":"25049827.d06d48","type":"telegram sender","z":"ca9455bf.030da8","name":"AImy.d37.seedling","bot":"26dacbe2.d3ea14","x":550,"y":80,"wires":[[]]},{"id":"209404a8.c7715c","type":"subflow:ca9455bf.030da8","z":"6805060.8f44ffc","name":"","x":910,"y":280,"wires":[[]]},{"id":"242d453.a9921ba","type":"mqtt in","z":"6046dc78.e04e74","name":"stat/#","topic":"stat/#","qos":"2","datatype":"auto","broker":"cbf41ed0.f5061","x":170,"y":640,"wires":[["f91d729c.12b2","3c7d7ec0.717b92"]]},{"id":"6f95b42d.f1df9c","type":"mqtt out","z":"6046dc78.e04e74","name":"","topic":"","qos":"","retain":"","broker":"cbf41ed0.f5061","x":310,"y":740,"wires":[]},{"id":"aa24e86a.125b88","type":"inject","z":"6046dc78.e04e74","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":210,"y":360,"wires":[["310c1c74.ddaa34"]]},{"id":"86e7b9bb.d17708","type":"function","z":"6046dc78.e04e74","name":"Check Power1 (Pump)","func":"context.chk = context.chk || {};\nswitch (msg.case) {\n  case \"startEvent\":\n    context.chk = msg.payload_ori;\n    break;\n  case \"mqttEvent\":\n    if (typeof(context.chk.paramX) !== \"undefined\"){\n      if (msg.topic==\"stat/\" + context.chk.paramX.node + \"/RESULT\"){\n        msg.payload = JSON.parse(msg.payload);\n        if (typeof(msg.payload.POWER) !== \"undefined\"){\n            msg.PowerEins=\"true\";\n            if (msg.payload.POWER==\"OFF\") {\n                msg.case = \"stopEvent\";\n                msg.OFF=\"true\";\n                msg.payload_ori = context.data;\n                return [msg, null];\n            } else {\n                msg.OFF=\"false\";\n                return [null,msg];\n            } \n        } else {\n            msg.PowerEins=\"false\";\n        } \n      } else {\n          //node.warn(\"wrong topic\" );\n      }\n    } else {\n        //node.warn(\"typeof not set:\"+ JSON.stringify(context.chk));\n    }\n    break;\n}\n\n\n","outputs":2,"noerr":0,"x":640,"y":520,"wires":[["e0290d77.cf3d8","9e3a7209.c5c7a"],["9e3a7209.c5c7a"]]},{"id":"8decfb42.d18ca8","type":"comment","z":"6046dc78.e04e74","name":"Parameter","info":"Param 1: esp - node - name\nParam 2: event = [on|off]\nParam 3: Pump Timer - how long should the Pump run","x":680,"y":100,"wires":[]},{"id":"310c1c74.ddaa34","type":"function","z":"6046dc78.e04e74","name":"Set Pump Topic","func":"msg.topic = \"cmnd/\" + msg.payload_ori.paramX.node + \"/Power1\";\nmsg.payload = msg.payload_ori.paramX.event;\nmsg.case =\"startEvent\";\n\nmsg.logvalue = \"1\";\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":340,"wires":[["e0290d77.cf3d8","80c78014.b7c7b","286d9634.4bf24a","86e7b9bb.d17708","34a3034c.37b55c"]]},{"id":"6af28fac.b97b3","type":"delay","z":"6046dc78.e04e74","name":"","pauseType":"delayv","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":460,"wires":[["e0290d77.cf3d8"]]},{"id":"e0290d77.cf3d8","type":"function","z":"6046dc78.e04e74","name":"Pump Flow Control","func":"context.data = context.data || {};\nswitch (msg.case) {\n  case \"startEvent\":\n      context.data.startEvent = msg;\n      context.data.timerEvent = null;\n      context.data.stopEvent = null;\n  break;\n  case \"timerEvent\":\n      context.data.timerEvent = msg;\n  break;\n  case \"stopEvent\":\n      context.data.stopEvent = msg;\n  break;\n}\n\n// \"success\"-case -> Pump was triggered and endpoint was reached\nif (context.data.startEvent!==null && context.data.stopEvent!==null) {\n    context.data = null;\n    msg.reset=1;\n    msg.event=\"success\";\n    msg.logvalue = \"0\";\n    return [msg,null];\n}\n\n// \"failed\"- case -> Time limit for pump run was reached\nif (context.data.startEvent!==null && context.data.timerEvent!==null) {\n    context.data = null;\n    msg.event=\"failed\";\n    msg.payload = {\"bot\":\"Pumpe nicht innerhalb des Zeitlimits abgeschaltet!:\" + msg.event + \"\"};\n    return [null,msg];\n}\n","outputs":2,"noerr":0,"x":630,"y":400,"wires":[["cdd34d9.5a369b","6af28fac.b97b3","34a3034c.37b55c"],["d9c0aaab.daf028","67aa4b07.d2bfb4"]]},{"id":"80c78014.b7c7b","type":"function","z":"6046dc78.e04e74","name":"Timer Event","func":"msg.case =\"timerEvent\";\nmsg.delay = msg.payload_ori.paramX.pump_timeout; //(1 min - 60000)\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":460,"wires":[["6af28fac.b97b3"]]},{"id":"cdd34d9.5a369b","type":"debug","z":"6046dc78.e04e74","name":"sucess","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":840,"y":360,"wires":[]},{"id":"d9c0aaab.daf028","type":"debug","z":"6046dc78.e04e74","name":"failed (Timer)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":460,"wires":[]},{"id":"b3aa82cd.bb418","type":"inject","z":"6046dc78.e04e74","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Power1\":\"OFF\"}","payloadType":"json","x":200,"y":560,"wires":[["2922bc87.682134"]]},{"id":"2922bc87.682134","type":"function","z":"6046dc78.e04e74","name":"Set Power1 (test)","func":"msg.payload.Power1=\"OFF\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":410,"y":560,"wires":[["86e7b9bb.d17708"]]},{"id":"9e3a7209.c5c7a","type":"debug","z":"6046dc78.e04e74","name":"msg_out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":840,"y":560,"wires":[]},{"id":"f91d729c.12b2","type":"debug","z":"6046dc78.e04e74","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":720,"wires":[]},{"id":"9ef6b5f4.0416d8","type":"function","z":"6046dc78.e04e74","name":"Set Distance Sensor Topic","func":"//Save ori message\nflow.set(\"payload\",msg.payload);\nmsg.payload_ori = msg.payload;\nmsg.case =\"startEvent\";\n\nmsg.topic = \"cmnd/\" + msg.payload_ori.paramX.node + \"/Status\";\nmsg.payload = \"10\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":200,"wires":[["33e4695a.355116","a378a4a9.56c3e8","d14d1f8c.5f083"]]},{"id":"62542c0c.1d5d34","type":"link out","z":"6046dc78.e04e74","name":"Test_Tasmota_In","links":["fd049003.4fead","dd6532ad.03263"],"x":555,"y":640,"wires":[]},{"id":"fd049003.4fead","type":"link in","z":"6046dc78.e04e74","name":"","links":["62542c0c.1d5d34"],"x":595,"y":160,"wires":[["33e4695a.355116"]]},{"id":"33e4695a.355116","type":"function","z":"6046dc78.e04e74","name":"Check Min Waterlevel (Reservoir)","func":"msg.distance = 0;\ncontext.data = context.data || {};\nswitch (msg.case) {\n  case \"startEvent\":\n    context.data = msg.payload_ori;\n    //context.data.nodename = msg.payload_ori.paramX.node;\n    //context.data.reservoir_level_min = msg.payload_ori.paramX.reservoir_level_min\n    break;\n  case \"mqttEvent\":\n    \n    if (typeof (context.data.paramX) !== \"undefined\"){\n        if (msg.topic==\"stat/\" + context.data.paramX.node + \"/STATUS10\") {\n            msg.payload = JSON.parse(msg.payload);\n            msg.distance = msg.payload.StatusSNS.SR04.Distance;\n            msg.payload_ori = context.data;\n            // If distance is lower min level -> run pum\n            if (Number(msg.distance) > Number(context.data.paramX.reservoir_level_min)) {\n                return [msg, null];\n            } else {\n                msg.payload.bot=\"Reservoir nicht ausreichend (\" + context.data.paramX.node + \") - min level:\" +  context.data.paramX.reservoir_level_min + \" / aktuelles Level:\" + msg.distance; \n                return [null,msg]; \n            }\n        }\n    }\n    break;\n}\n\n\n \n","outputs":2,"noerr":0,"x":840,"y":200,"wires":[["204fb7de.3e0438","3f42e1bf.1cd47e","310c1c74.ddaa34"],["65aac4ec.9c7c9c","3f42e1bf.1cd47e","67aa4b07.d2bfb4"]]},{"id":"204fb7de.3e0438","type":"debug","z":"6046dc78.e04e74","name":"sucess (Waterlevel)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":160,"wires":[]},{"id":"65aac4ec.9c7c9c","type":"debug","z":"6046dc78.e04e74","name":"failed (Waterlevel)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":220,"wires":[]},{"id":"92af05af.01f9d8","type":"link in","z":"6046dc78.e04e74","name":"esp_out","links":["a378a4a9.56c3e8","286d9634.4bf24a"],"x":155,"y":740,"wires":[["6f95b42d.f1df9c"]]},{"id":"a378a4a9.56c3e8","type":"link out","z":"6046dc78.e04e74","name":"esp_send_mqtt","links":["92af05af.01f9d8"],"x":595,"y":240,"wires":[]},{"id":"286d9634.4bf24a","type":"link out","z":"6046dc78.e04e74","name":"esp_send_mqtt","links":["92af05af.01f9d8"],"x":535,"y":340,"wires":[]},{"id":"dd6532ad.03263","type":"link in","z":"6046dc78.e04e74","name":"","links":["62542c0c.1d5d34"],"x":475,"y":520,"wires":[["86e7b9bb.d17708"]]},{"id":"3c7d7ec0.717b92","type":"function","z":"6046dc78.e04e74","name":"set MQTT Case","func":"//msg =  msg.payload.replace(/\\\\/g, \"\");;\n//node.warn(msg);\n\nmsg.case=\"mqttEvent\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":340,"y":640,"wires":[["62542c0c.1d5d34"]]},{"id":"d14d1f8c.5f083","type":"debug","z":"6046dc78.e04e74","name":"TEst","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":300,"wires":[]},{"id":"3f42e1bf.1cd47e","type":"function","z":"6046dc78.e04e74","name":"prep Log","func":"var parentPayload = flow.get(\"payload\");\n//node.warn({\"parentPayload=\": parentPayload});\nmsg.logsender = parentPayload.paramX.node + \".SR04\";\n//msg.logsender = msg.payload_ori.paramX.node + \".SR04\";\nmsg.logid = msg._msgid;\n\nmsg.logvalue = msg.distance;\nmsg.logevent = \"data\";\n\nlet current_datetime = new Date();\nlet formatted_date = current_datetime.getFullYear() + \"-\" + (current_datetime.getMonth() + 1) + \"-\" + current_datetime.getDate() + \" \" + current_datetime.getHours() + \":\" + current_datetime.getMinutes() + \":\" + current_datetime.getSeconds();\nmsg.logtimestamp = formatted_date;\nmsg.logdatatype = \"cm\";\nmsg.db = \"true\";\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":320,"wires":[["418168a0.8295d8","d0940f5c.dede"]]},{"id":"418168a0.8295d8","type":"subflow:4a631457.3c182c","z":"6046dc78.e04e74","name":"","x":1360,"y":320,"wires":[]},{"id":"d0940f5c.dede","type":"debug","z":"6046dc78.e04e74","name":"log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1270,"y":400,"wires":[]},{"id":"34a3034c.37b55c","type":"function","z":"6046dc78.e04e74","name":"prep Log","func":"var parentPayload = flow.get(\"payload\");\nmsg.logsender = parentPayload.paramX.node + \".Power1\";\n\nmsg.logid = msg._msgid;\n\nmsg.logevent = \"data\";\n\nlet current_datetime = new Date();\nlet formatted_date = current_datetime.getFullYear() + \"-\" + (current_datetime.getMonth() + 1) + \"-\" + current_datetime.getDate() + \" \" + current_datetime.getHours() + \":\" + current_datetime.getMinutes() + \":\" + current_datetime.getSeconds();\nmsg.logtimestamp = formatted_date;\nmsg.logdatatype = \"count\";\nmsg.db = \"true\";\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":400,"wires":[["418168a0.8295d8"]]},{"id":"67aa4b07.d2bfb4","type":"subflow:ca9455bf.030da8","z":"6046dc78.e04e74","name":"","x":970,"y":300,"wires":[[]]},{"id":"2d01eccd.e94d34","type":"subflow:4a631457.3c182c","z":"8e854a39.19c2d8","name":"","env":[],"x":860,"y":280,"wires":[]},{"id":"b810c666.290938","type":"function","z":"4a631457.3c182c","name":"Prep REST call - SNON2.1","func":"//SNOM implementierte Felder\n// msg.log.version: \"SNON 2.1\"\n// msg.log.messageID: Message ID\n// msg.log.messageTime\n// msg.log.message.entityID: ESP Name\n// msg.log.message.measureAcquired: z.B. \"derived\"\n// msg.log.message.value: value to be stored\n// msg.log.message.entityType: \"Humidity\", \"Temperature\", etc.\n\nmsg.headers = '{\"Content-Type\":\"application/json\"}';\n\nmsg.payload = { \"unit\":\"\"  + msg.log.message.entityID + \".\" + msg.log.message.entityType + \"\", \n                \"ts\":\"\" + msg.log.messageTime + \"\", \n                \"event\":\"\" + msg.log.message.measureAcquire + \"\", \n                \"data\":{\"value\" : + msg.log.message.value }, \n                \"msgID\":\"\" + msg.log.messageID + \"\"};\n\nmsg.url = \"http://localhost:3000/api/v1/units/unitdata\";\nmsg.method=\"POST\";\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":340,"wires":[["be21572.ff140a8"]]},{"id":"8181ccbf.28e48","type":"mqtt in","z":"8e854a39.19c2d8","name":"tele/+/LWT","topic":"tele/+/LWT","qos":"2","datatype":"auto","broker":"cbf41ed0.f5061","x":120,"y":280,"wires":[["c94d9e0d.83eec"]]},{"id":"f273844e.e95618","type":"mqtt in","z":"8e854a39.19c2d8","name":"tele/+/STATE","topic":"tele/+/STATE","qos":"2","datatype":"auto","broker":"cbf41ed0.f5061","x":130,"y":360,"wires":[["1d3eecd.d6a8713"]]},{"id":"c94d9e0d.83eec","type":"debug","z":"8e854a39.19c2d8","name":"LWT_log","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":620,"y":280,"wires":[]},{"id":"1d3eecd.d6a8713","type":"debug","z":"8e854a39.19c2d8","name":"STATE_log","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":360,"wires":[]},{"id":"6a26b9cd.eaf8a8","type":"mqtt in","z":"6046dc78.e04e74","name":"tele/+/SENSOR","topic":"tele/+/SENSOR","qos":"2","datatype":"auto","broker":"cbf41ed0.f5061","x":200,"y":920,"wires":[["c7d483ef.96833"]]},{"id":"fbbe5662.43eac8","type":"debug","z":"6046dc78.e04e74","name":"SENSOR_LOG","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":820,"y":900,"wires":[]},{"id":"70b361c2.e6d9d","type":"function","z":"6046dc78.e04e74","name":"prep Sensor Log","func":"// Init Log Object\nmsg.log = msg.log || {};\nmsg.db = \"true\";\n\n//node.warn(msg);\n\n//Log Record based on SNON object notation (www.snon.org)\nmsg.log.version = \"SNON 2.1\"\n\n// Log ID\nmsg.log.messageID = msg._msgid;\n\n// Log Timestamp\nlet current_datetime = new Date();\nlet formatted_date = current_datetime.getFullYear() + \"-\" + (current_datetime.getMonth() + 1) + \"-\" + current_datetime.getDate() + \" \" + current_datetime.getHours() + \":\" + current_datetime.getMinutes() + \":\" + current_datetime.getSeconds();\nmsg.log.messageTime = formatted_date;\n\n// Log Message\n//Split topic: tele/[NodeName]/[Event]\nmsg.log.message = msg.log.message || {};\n\nvar sender = msg.topic.split('/');\nmsg.log.message.entityID = sender[1]; \n\nmsg.log.message.measureAcquire = \"derived\";\n//msg.payloadUpdate =  msg.payload.replace(/\\\\/g, \"\");\nvar msgPayload = msg.payload;\n//node.warn(msgPayload);\nObject.keys(msgPayload).forEach(function(key) {\n    //node.warn({\"key=\": key.substr(0, 5)});\n    if (key.substr(0, 5) === \"SHT3X\") { // Sensor delivers Temp, Humidity, Drew Point\n      Object.keys(msgPayload[key]).forEach(function(subkey) {\n        msg.log.message.value = msgPayload[key][subkey];//msgPayload.payload[key].key2; //ToDo \n        msg.log.message.entityType = subkey;\n        node.send(msg,null);\n      });\n    } else if (key === \"SR04\") { // Ultrasonic Sensor\n      msg.log.message.entityType = Object.keys(msgPayload[key])[0];\n      msg.log.message.value = msgPayload[key].Distance \n      node.send(msg,null);              \n    } else {\n        node.send(null,msg);\n    }\n});\n\nreturn msg;\n","outputs":2,"noerr":0,"x":570,"y":920,"wires":[["fbbe5662.43eac8","418168a0.8295d8"],["e0f6b281.b00d"]]},{"id":"d08d02b7.30541","type":"inject","z":"6046dc78.e04e74","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Time\":\"2020-07-23T18:35:17\",\"Switch1\":\"OFF\",\"SHT3X-0x44\":{\"Temperature\":25.7,\"Humidity\":39.8,\"DewPoint\":10.9},\"SR04\":{\"Distance\":55.333},\"TempUnit\":\"C\"}","payloadType":"str","x":200,"y":820,"wires":[["70b361c2.e6d9d"]]},{"id":"e0f6b281.b00d","type":"debug","z":"6046dc78.e04e74","name":"SENSOR_LOG - Error","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":840,"y":940,"wires":[]},{"id":"c7d483ef.96833","type":"json","z":"6046dc78.e04e74","name":"","property":"payload","action":"","pretty":false,"x":370,"y":920,"wires":[["70b361c2.e6d9d"]]},{"id":"9175582b.2b9468","type":"inject","z":"d383d062.fb00e","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{}","payloadType":"json","x":90,"y":120,"wires":[["710d92ab.2edcec"]]},{"id":"710d92ab.2edcec","type":"function","z":"d383d062.fb00e","name":"set esp-cam node name","func":"msg.payload.nodename ='dos13_espcam_test';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":120,"wires":[["4ecb915e.178c6"]]},{"id":"4ecb915e.178c6","type":"function","z":"d383d062.fb00e","name":"Get facility and config for node","func":"msg.time = msg.payload;\n\n//msg.payload = {\"unit\":\"unit\", \"ts\":\"\" + msg.time + \"\", \"event\":\"event\", \n//                \"msgID\":\"msgID\", \n//                \"data\":[{\"value\" : 8}]};\n                \n//msg.payload = {\"unit\": \"string\",  \"ts\": \"string\",  \"event\": \"string\",  \"msgid\": \"string\",  \"data\": [{\"value\": 0}]};\nmsg.headers = '{\"Content-Type\":\"application/json\"}';\n\nmsg.url = \"http://192.168.0.144:3000/api/v1/config/facility/\";\nmsg.url = msg.url + msg.payload.nodename;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":120,"wires":[["9f09f142.00d09"]]},{"id":"9f09f142.00d09","type":"http request","z":"d383d062.fb00e","name":"/config/[:node]","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":820,"y":120,"wires":[["b2f786c6.b824a8"]]},{"id":"b2f786c6.b824a8","type":"json","z":"d383d062.fb00e","name":"Convert API result","property":"payload","action":"","pretty":false,"x":1070,"y":120,"wires":[["c9d2a7c8.8fba88"]]},{"id":"c9d2a7c8.8fba88","type":"debug","z":"d383d062.fb00e","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1320,"y":120,"wires":[]}]