flows_ti.json
[{"id":"2ce6c32c.72889c","type":"tab","label":"Main"},{"id":"e6a5f68f.971a78","type":"tab","label":"Test","disabled":false,"info":""},{"id":"66ae377c.2d73f8","type":"tab","label":"Tools","disabled":false,"info":""},{"id":"5aeca004.ff39b","type":"tab","label":"Globals","disabled":false,"info":""},{"id":"a5b56371.83719","type":"tab","label":"test_b6climate","disabled":false,"info":""},{"id":"fc1f6c41.e5c79","type":"tab","label":"test_b6plant","disabled":false,"info":""},{"id":"c82b6327.0aa47","type":"tab","label":"test_g15plant","disabled":false,"info":""},{"id":"4101efb9.97013","type":"tab","label":"test_g15watch","disabled":false,"info":""},{"id":"d383d062.fb00e","type":"tab","label":"espcam_control","disabled":false,"info":""},{"id":"6805060.8f44ffc","type":"tab","label":"d37-spezial-anzucht","disabled":false,"info":""},{"id":"b8c2d87e.37df68","type":"tab","label":"DroneControl","disabled":false,"info":""},{"id":"ba2cec47.07a08","type":"tab","label":"RealSenseControl","disabled":false,"info":""},{"id":"4edffef3.e14ce","type":"subflow","name":"Control Unit (CU)","info":"","in":[{"x":60,"y":240,"wires":[{"id":"f1163352.0d53c"}]}],"out":[{"x":1484,"y":220,"wires":[{"id":"8e73b81.d0bbc48","port":0}]},{"x":1480,"y":500,"wires":[]},{"x":1480,"y":620,"wires":[]}]},{"id":"a443370b.2db948","type":"subflow","name":"Actor Unit (AU)","info":"","in":[{"x":100,"y":240,"wires":[{"id":"ac10d133.3516b"}]}],"out":[{"x":2040,"y":300,"wires":[{"id":"314327c2.f23ca8","port":0},{"id":"de842283.31177","port":0},{"id":"931fef06.018e3","port":0}]},{"x":2000,"y":660,"wires":[{"id":"931fef06.018e3","port":1},{"id":"d754174f.b7ca38","port":1}]},{"x":2000,"y":760,"wires":[{"id":"12c2cf59.1f6461","port":0}]}],"outputLabels":["ok","error","debug"]},{"id":"d7c5729f.4d707","type":"subflow","name":"TI_TWITTER","info":"","in":[{"x":357,"y":122,"wires":[{"id":"1d21a395.f6928c"}]}],"out":[]},{"id":"4a631457.3c182c","type":"subflow","name":"TI_LOGAPPENDER","info":"Persists data from Sensor / Actors in DB ","in":[{"x":110,"y":148,"wires":[{"id":"913048e2.95fd48"}]}],"out":[]},{"id":"68a9f738.904da8","type":"subflow","name":"Sensor Unit (SU)","info":"","in":[{"x":89,"y":282,"wires":[{"id":"7733f649.3c5c38"}]}],"out":[{"x":1240,"y":240,"wires":[{"id":"45066900.9838f8","port":0}]},{"x":1240,"y":360,"wires":[{"id":"7733f649.3c5c38","port":1}]},{"x":1240,"y":480,"wires":[]}]},{"id":"bb9dbdb7.f5a47","type":"subflow","name":"Watch Switch","info":"","in":[{"x":50,"y":30,"wires":[{"id":"fcba05c8.50d7f8"}]}],"out":[{"x":1140,"y":160,"wires":[{"id":"afd14a84.897398","port":0}]}]},{"id":"6046dc78.e04e74","type":"subflow","name":"EspControl","info":"","category":"","in":[{"x":100,"y":40,"wires":[{"id":"3a4be193.4d755e"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"ca9455bf.030da8","type":"subflow","name":"AIBot","info":"","category":"","in":[{"x":80,"y":100,"wires":[{"id":"9f844fc8.9dce9"}]}],"out":[{"x":1360,"y":100,"wires":[{"id":"25049827.d06d48","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"cbf41ed0.f5061","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"NodeRed","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"26dacbe2.d3ea14","type":"telegram bot","botname":"AImy.d37.seedling","usernames":"","chatids":"-460817491","baseapiurl":"","updatemode":"polling","pollinterval":"100000","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"baa8f94a.4818b8","type":"telegram bot","botname":"AImy_dos13_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300000","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true},{"id":"a3498b69.39d4e8","type":"telegram bot","botname":"AImy_d37_planting_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"3000","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"c1541142.e5a5e","type":"comment","z":"4a631457.3c182c","name":"TI.LOGAPPENDER - Interface Definition","info":"Subflow Logs Data to Unit Data tables. \nMandatory attributes:\n    Input                   Variable                    Output                      Description\n    msg.payload.sender      -> msg.tmp.sender           msg.payload.sender          -> data table evaluated by Sender\n    msg.payload.msgID       -> msg.tmp.id               msg.payload.msgID           -> MsgID to be stored in table\n    msg.payload.paramX.value-> msg.tmp.value            msg.payload.paramX.value    -> float value to be stored\n    msg.payload.timestamp   -> msg.tmp.timestamp        msg.timestamp               -> Timestamp of the value\n                                                        msg.destination             -> \"TI.LOG\"\n                                                        msg.param0                  -> \"logUnitValue\"\n                                                        msg.payload.paramX.event    -> \"data\"","x":189,"y":64,"wires":[]},{"id":"626df866.00d938","type":"debug","z":"4a631457.3c182c","name":"Log Appender - Log for:","active":true,"console":"false","complete":"logsender","x":593,"y":126,"wires":[]},{"id":"3d8a67a3.602278","type":"debug","z":"4a631457.3c182c","name":"No DB Log","active":true,"console":"false","complete":"db","x":613,"y":438,"wires":[]},{"id":"ac10d133.3516b","type":"switch","z":"a443370b.2db948","name":"","property":"uc","propertyType":"msg","rules":[{"t":"eq","v":"RUNPUMP","vt":"str"},{"t":"eq","v":"RUNPUMPVALVE","vt":"str"},{"t":"eq","v":"SHADE","vt":"str"},{"t":"eq","v":"TEST","vt":"str"},{"t":"eq","v":"WINDOW","vt":"str"},{"t":"eq","v":"WATERING.TRAY.ESP","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":7,"x":253,"y":252,"wires":[["3bf9f372.2c646c"],["98e3b73c.a8d188","defd0350.0aba8"],["430e4478.0e098c"],["d766c6c2.2467a8"],["2eade736.ce5078"],["5cb8da4d.87afd4"],["78b39bfe.693f54"]]},{"id":"3bf9f372.2c646c","type":"function","z":"a443370b.2db948","name":"RUNPUMP","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\", \\\n                \"destination\":\"' + msg.payload.paramX.unit + '\", \\\n                \"param0\":\"run\", \\\n                \"paramX\":{\"interval\":\"' + msg.payload.paramX.interval + '\"}}';\n                \n\nreturn msg;","outputs":1,"noerr":0,"x":448,"y":167,"wires":[["ef4a34d3.83fd48","72c86529.41d2ac"]]},{"id":"78b39bfe.693f54","type":"debug","z":"a443370b.2db948","name":"AU.NO_USE_CASE_FOUND","active":true,"console":"false","complete":"payload","x":310,"y":580,"wires":[]},{"id":"ef4a34d3.83fd48","type":"debug","z":"a443370b.2db948","name":"","active":true,"console":"false","complete":"false","x":736.9999694824219,"y":49.000003814697266,"wires":[]},{"id":"72c86529.41d2ac","type":"ti-message","z":"a443370b.2db948","name":"ti Exec Msg","mqserver":"mqtt://localhost","intopic":"TI_CONTROLLER","outtopic":"TI_CMD","x":656,"y":164,"wires":[["314327c2.f23ca8"]]},{"id":"314327c2.f23ca8","type":"json","z":"a443370b.2db948","name":"","x":950,"y":160,"wires":[["4d09f8c6.c6f0d8"]]},{"id":"4d09f8c6.c6f0d8","type":"function","z":"a443370b.2db948","name":"prep Log","func":"msg.logsender = msg.payload.sender;\nmsg.logid = msg.payload.msgID;\n\nif (msg.payload.paramX.value !== undefined) {\n    msg.logvalue = msg.payload.paramX.value;\n    msg.logevent = \"data\";\n} else if (msg.payload.paramX.interval !== undefined) {\n    msg.logvalue = msg.payload.paramX.interval;\n    msg.logevent = msg.payload.param0;\n}\n\nmsg.logtimestamp = msg.payload.timestamp;\nmsg.logdatatype = msg.payload.paramX.datatype;\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":160,"wires":[["b87ff7f3.f11508"]]},{"id":"b87ff7f3.f11508","type":"subflow:4a631457.3c182c","z":"a443370b.2db948","x":1340,"y":160,"wires":[]},{"id":"d766c6c2.2467a8","type":"debug","z":"a443370b.2db948","name":"Test Output (AU)","active":true,"console":"false","complete":"payload","x":270,"y":640,"wires":[]},{"id":"1d21a395.f6928c","type":"function","z":"d7c5729f.4d707","name":"Twitter Msg","func":"var val;\nif (typeof msg.payload.paramX.value !== undefined) {\n    val = msg.payload.paramX.value;\n} else if (typeof msg.payload.paramX.interval !== undefined) {\n    val = \"no Value\";\n}\n\nmsg.payload = \"#data\" +\n\" UseCaseGroup:\" + msg.ucgroup +\n\" UseCase:\" + msg.uc +\n\" Time:\" + new Date().toString() +\n\" Sender: \" + msg.payload.sender +\n\" Value:\" + val;\n\nif (msg.twitter == \"true\"){\n    return [ msg, null ];     \n} else if(msg.twitter == \"false\") {\n    return [ null, msg ];\n}\n","outputs":"2","noerr":0,"x":507,"y":122,"wires":[[],["4c34c324.15cfec"]]},{"id":"4c34c324.15cfec","type":"debug","z":"d7c5729f.4d707","name":"no Twitter Message","active":true,"console":"false","complete":"twitter","x":705,"y":189,"wires":[]},{"id":"913048e2.95fd48","type":"function","z":"4a631457.3c182c","name":"Prep MQTT message to TI.LOG -> logUnitValue","func":"//Test Values\n//msg.tmpsender = \"TI.GREENHOUSE.RASP.UNITS.TEMPINNEN\";\n//msg.tmpid = \"4711\";\n//msg.tmpvalue = \"12\";\n//msg.tmptimestamp = \"2016/05/24 17:18:37\";\n\n\nif (msg.db === \"true\"){\n    if (typeof msg.log === \"undefined\") {\n    // if not available it`s not using SNON protocol (www.snon.org) \n        return [ msg, null,  null ];\n    }\n    else {\n        return [ null, msg, null ];\n    }\n}\nelse {\n    return [ null, null, msg ];\n}\n            \n","outputs":3,"noerr":0,"x":400,"y":280,"wires":[["352f842e.a18b3c","608d99f7.cbabe8"],["b810c666.290938"],["c240f044.4cc94"]]},{"id":"373c11a9.64c7fe","type":"comment","z":"4a631457.3c182c","name":"TI.LOGAPPENDER - Interface Definition","info":"New Format (all infomation is stored in log object -> msg.log)\n//SNOM implemented fields\n// msg.log.version: \"SNON 2.1\"\n// msg.log.messageID: Message ID\n// msg.log.messageTime: Time of the log entry\n// msg.log.message.entityID: ESP Name, Cam Name, etc\n// msg.log.message.measureAcquired: z.B. \"derived\", [name of UseCase], etc\n// msg.log.message.value: value(s) to be stored in JSON format\n// msg.log.message.entityType: \"Humidity\", \"Temperature\", etc.\n\n\n\nSubflow Logs Data to Unit Data tables. \nMandatory attributes:\n    Input                   Variable                    Output                      Description\n    msg.payload.sender      -> msg.tmp.sender           msg.payload.sender          -> data table evaluated by Sender\n    msg.payload.msgID       -> msg.tmp.id               msg.payload.msgID           -> MsgID to be stored in table\n    msg.payload.paramX.value-> msg.tmp.value            msg.payload.paramX.value    -> float value to be stored\n    msg.payload.timestamp   -> msg.tmp.timestamp        msg.timestamp               -> Timestamp of the value\n                                                        msg.destination             -> \"TI.LOG\"\n                                                        msg.param0                  -> \"logUnitValue\"\n                                                        msg.payload.paramX.event    -> \"data\"\n                                                        \n","x":189,"y":64,"wires":[]},{"id":"352f842e.a18b3c","type":"debug","z":"4a631457.3c182c","name":"Log Appender - Log for:","active":true,"console":"false","complete":"true","x":593,"y":126,"wires":[]},{"id":"c240f044.4cc94","type":"debug","z":"4a631457.3c182c","name":"No DB Log","active":true,"tosidebar":true,"console":false,"complete":"db","statusVal":"","statusType":"auto","x":613,"y":438,"wires":[]},{"id":"7733f649.3c5c38","type":"switch","z":"68a9f738.904da8","name":"","property":"uc","propertyType":"msg","rules":[{"t":"eq","v":"GETVALUE","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":214,"y":282,"wires":[["9f9a54fe.358b58"],["3c239a1e.6c84d6"]]},{"id":"3c239a1e.6c84d6","type":"debug","z":"68a9f738.904da8","name":"SU.NO_USE_CASE_FOUND","active":true,"console":"false","complete":"payload","x":487,"y":378,"wires":[]},{"id":"9f9a54fe.358b58","type":"function","z":"68a9f738.904da8","name":"GETVALUE","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\", \\\n                \"destination\":\"' + msg.payload.paramX.unit + '\", \\\n                \"param0\":\"getValue\", \\\n                \"paramX\":{}}';\n                \nreturn msg;","outputs":1,"noerr":0,"x":460,"y":179,"wires":[["7ff57b29.09f1d4"]]},{"id":"2fc74421.3e58fc","type":"subflow:4a631457.3c182c","z":"68a9f738.904da8","name":"","x":1087,"y":41,"wires":[]},{"id":"810bd8bb.eb6918","type":"function","z":"68a9f738.904da8","name":"Prep Log","func":"msg.logsender = msg.payload.sender;\nmsg.logid = msg.payload.msgID;\n\nif (msg.payload.paramX.value !== undefined) {\n    msg.logvalue = msg.payload.paramX.value;\n    msg.logevent = \"data\";\n} else if (msg.payload.paramX.interval !== undefined) {\n    msg.logvalue = msg.payload.paramX.interval;\n    msg.logevent = msg.payload.param0;\n}\n\nmsg.logtimestamp = msg.payload.timestamp;\nmsg.logdatatype = msg.payload.paramX.datatype;\n\nreturn msg;","outputs":1,"noerr":0,"x":971,"y":86,"wires":[["2fc74421.3e58fc"]]},{"id":"45066900.9838f8","type":"json","z":"68a9f738.904da8","name":"","x":864,"y":141,"wires":[["810bd8bb.eb6918"]]},{"id":"e5896042.f1015","type":"mqtt in","z":"2ce6c32c.72889c","name":"","topic":"TI_CMD","qos":"2","datatype":"auto","broker":"cbf41ed0.f5061","x":140,"y":280,"wires":[["af15c470.d1f4a8","d3a1b391.5708c"]]},{"id":"27798b27.d7d404","type":"debug","z":"2ce6c32c.72889c","name":"Incoming TI_CMD","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":280,"wires":[]},{"id":"66a47472.c16c7c","type":"switch","z":"2ce6c32c.72889c","name":"UC Group","property":"ucgroup","propertyType":"msg","rules":[{"t":"eq","v":"SU","vt":"str"},{"t":"eq","v":"AU","vt":"str"},{"t":"eq","v":"CU","vt":"str"},{"t":"eq","v":"OTHER","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":520,"y":620,"wires":[["7342123f.a2d76c"],["f1b01de1.31583"],["17fe5c90.058b83"],["fa5523e6.40b39"],["fface78a.eedd88"]]},{"id":"7342123f.a2d76c","type":"subflow:68a9f738.904da8","z":"2ce6c32c.72889c","name":"","env":[],"x":950,"y":560,"wires":[["f2c8105c.a8aa2","252ca5a4.84617a"],["60971772.d844c8"],["203e23c3.157e1c"]]},{"id":"2c74f245.c35a5e","type":"function","z":"2ce6c32c.72889c","name":"Split UseCase Group","func":"var ucSplit = msg.payload.param0.split(\".\");\nmsg.ucgroup = ucSplit[0];\nmsg.uc = msg.payload.param0.slice(msg.ucgroup.length +1);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":620,"wires":[["66a47472.c16c7c","3e5c43dc.5067ac","91f9c12c.edb2a"]]},{"id":"fface78a.eedd88","type":"debug","z":"2ce6c32c.72889c","name":"UC Fails Output","active":false,"tosidebar":true,"console":false,"complete":"uc","x":940,"y":960,"wires":[]},{"id":"af15c470.d1f4a8","type":"json","z":"2ce6c32c.72889c","name":"MQTT String to JSON Obj","x":390,"y":220,"wires":[["e3a1c45.3cbfb38"]]},{"id":"6dbe86e2.81d3a8","type":"debug","z":"2ce6c32c.72889c","name":"Controller Message Ignored","active":false,"console":"false","complete":"true","x":1380,"y":240,"wires":[]},{"id":"4777ea47.43b1a4","type":"comment","z":"2ce6c32c.72889c","name":"Ignore TI_NOTIFY Messages","info":"Ignore all messages from TI_NOTIFY that do not have \"CONTROLLER.USECASE\" set as \"msg.payload.destination\"","x":1380,"y":160,"wires":[]},{"id":"69ff7a54.40bda4","type":"comment","z":"2ce6c32c.72889c","name":"Choose Use Case Group","info":"","x":530,"y":500,"wires":[]},{"id":"4d388c0b.98ce54","type":"comment","z":"2ce6c32c.72889c","name":"Use Case Groups","info":"","x":950,"y":460,"wires":[]},{"id":"e3a1c45.3cbfb38","type":"function","z":"2ce6c32c.72889c","name":"set Flow Options (Twitter, DB Log)","func":"msg.twitter=\"true\";\nif (typeof(msg.payload.paramX.twitter) != \"undefined\"){\n    if (msg.payload.paramX.twitter==\"false\") {\n        msg.twitter = \"false\";    //Twitter disabled\n    }\n} \n\nmsg.db=\"true\";\nif (typeof(msg.payload.paramX.db) != \"undefined\"){\n    if (msg.payload.paramX.db==\"false\") {\n        msg.db = \"false\";    //Database Entry disabled\n    }\n} \n\nmsg.replyTo= msg.payload.replyTo;   // Remember ReplyTo\nmsg.msgID = msg.payload.msgID;      // Remember MsgID\nmsg.sender = msg.payload.sender;    // Remember Original Sender\n\nreturn msg;\n","outputs":1,"noerr":0,"x":720,"y":220,"wires":[["84c64e8f.c0ab5"]]},{"id":"f1b01de1.31583","type":"subflow:a443370b.2db948","z":"2ce6c32c.72889c","name":"","env":[],"x":940,"y":633,"wires":[["f2c8105c.a8aa2","252ca5a4.84617a"],["60971772.d844c8","c56fb649.feb0e8"],["203e23c3.157e1c"]]},{"id":"f2c8105c.a8aa2","type":"debug","z":"2ce6c32c.72889c","name":"Output UseCase","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1370,"y":880,"wires":[]},{"id":"17fe5c90.058b83","type":"subflow:4edffef3.e14ce","z":"2ce6c32c.72889c","name":"","env":[],"x":950,"y":720,"wires":[["f2c8105c.a8aa2","252ca5a4.84617a"],["60971772.d844c8"],["203e23c3.157e1c"]]},{"id":"d5e5542f.9056a8","type":"function","z":"a443370b.2db948","name":"RUNPUMP","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\", \\\n                \"destination\":\"' + msg.payload.paramX.unit + '\", \\\n                \"param0\":\"run\", \\\n                \"paramX\":{\"interval\":\"' + msg.payload.paramX.interval + '\"}}';\n                \n\nreturn msg;","outputs":1,"noerr":0,"x":625,"y":235,"wires":[["686c566c.16f188"]]},{"id":"de842283.31177","type":"ti-message","z":"a443370b.2db948","name":"ti OpenValve","mqserver":"mqtt://localhost","intopic":"TI_CONTROLLER","outtopic":"TI_CMD","x":795.5,"y":297,"wires":[[]]},{"id":"686c566c.16f188","type":"ti-message","z":"a443370b.2db948","name":"ti runPump","mqserver":"mqtt://localhost","intopic":"TI_CONTROLLER","outtopic":"TI_CMD","x":813,"y":236,"wires":[["314327c2.f23ca8"]]},{"id":"defd0350.0aba8","type":"delay","z":"a443370b.2db948","name":"Delay Pump","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":455.5,"y":233,"wires":[["d5e5542f.9056a8"]]},{"id":"98e3b73c.a8d188","type":"function","z":"a443370b.2db948","name":"RUNPUMPVALVE","func":"\nduration = parseInt(msg.payload.paramX.interval) + 5;\n\nmsg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\", \\\n                \"destination\":\"' + msg.payload.paramX.valve + '\", \\\n                \"param0\":\"run\", \\\n                \"paramX\":{\"interval\":\"' + duration + '\"}}';\n                \n\nreturn msg;","outputs":1,"noerr":0,"x":556,"y":290,"wires":[["de842283.31177"]]},{"id":"a64aa544.53c4a8","type":"debug","z":"4a631457.3c182c","name":"","active":true,"console":"false","complete":"true","x":1266,"y":276,"wires":[]},{"id":"be21572.ff140a8","type":"http request","z":"4a631457.3c182c","name":"create unitdata","method":"use","ret":"txt","url":"","tls":"","x":1069.5,"y":263,"wires":[["a64aa544.53c4a8"]]},{"id":"608d99f7.cbabe8","type":"function","z":"4a631457.3c182c","name":"Prep REST call","func":"msg.headers = '{\"Content-Type\":\"application/json\"}';\n\nmsg.payload = { \"unit\":\"\"  + msg.logsender + \"\", \n                \"ts\":\"\" + msg.logtimestamp + \"\", \n                \"event\":\"\" + msg.logevent + \"\", \n                \"data\":{\"value\" : + msg.logvalue }, \n                \"msgID\":\"\" + msg.logid + \"\"};\n\nmsg.url = \"http://localhost:3000/api/v1/units/unitdata\";\nmsg.postrequest=msg.payload;\nmsg.method=\"POST\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":852,"y":265,"wires":[["be21572.ff140a8"]]},{"id":"252ca5a4.84617a","type":"switch","z":"2ce6c32c.72889c","name":"ReplyTo","property":"replyTo","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":1340,"y":620,"wires":[["ffa0b78a.4fa898"]]},{"id":"1bdd0edf.862731","type":"mqtt out","z":"2ce6c32c.72889c","name":"","topic":"","qos":"","retain":"","broker":"cbf41ed0.f5061","x":1830,"y":620,"wires":[]},{"id":"ffa0b78a.4fa898","type":"function","z":"2ce6c32c.72889c","name":"Destination Channel","func":"msg.topic=msg.replyTo;\nmsg.payload.destination = msg.sender; \nmsg.payload.msgID = msg.msgID; \nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":620,"wires":[["1bdd0edf.862731","bc1c6395.3757e"]]},{"id":"bc1c6395.3757e","type":"debug","z":"2ce6c32c.72889c","name":"ReplyTo Topic","active":true,"console":"false","complete":"true","x":1820,"y":540,"wires":[]},{"id":"d3a1b391.5708c","type":"json","z":"2ce6c32c.72889c","name":"","property":"payload","action":"","pretty":false,"x":330,"y":280,"wires":[["27798b27.d7d404"]]},{"id":"b8af9f7b.01979","type":"inject","z":"66ae377c.2d73f8","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{}","payloadType":"json","x":110,"y":140,"wires":[["a88f2e3c.b806f"]]},{"id":"9d61f36a.f28e4","type":"function","z":"66ae377c.2d73f8","name":"Get Events for Node","func":"msg.time = msg.payload;\n\n//msg.payload = {\"unit\":\"unit\", \"ts\":\"\" + msg.time + \"\", \"event\":\"event\", \n//                \"msgID\":\"msgID\", \n//                \"data\":[{\"value\" : 8}]};\n                \n//msg.payload = {\"unit\": \"string\",  \"ts\": \"string\",  \"event\": \"string\",  \"msgid\": \"string\",  \"data\": [{\"value\": 0}]};\nmsg.headers = '{\"Content-Type\":\"application/json\"}';\n\nmsg.url = \"http://localhost:3000/api/v1/event/\";\nmsg.url = msg.url + msg.payload.hostname;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":140,"wires":[["454f753a.f61e1c"]]},{"id":"454f753a.f61e1c","type":"http request","z":"66ae377c.2d73f8","name":"/event/[:node]","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":840,"y":140,"wires":[["99fb66f7.2c5d38"]]},{"id":"aa46ac05.86508","type":"debug","z":"66ae377c.2d73f8","name":"","active":true,"console":"false","complete":"payload","x":1330,"y":140,"wires":[]},{"id":"a8dcadf.f9eb85","type":"switch","z":"4edffef3.e14ce","name":"","property":"uc","propertyType":"msg","rules":[{"t":"eq","v":"GETEVENT","vt":"str"},{"t":"eq","v":"GETSCHEDULE","vt":"str"},{"t":"eq","v":"SETTRIGGERSTATUS","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":370,"y":240,"wires":[["c0f2d2fa.9880d"],["b99bef5b.c0b68"],["73331c82.cac234"],[]]},{"id":"c0f2d2fa.9880d","type":"function","z":"4edffef3.e14ce","name":"Get Events for Node","func":"msg.time = msg.payload;\n\n//msg.payload = {\"unit\":\"unit\", \"ts\":\"\" + msg.time + \"\", \"event\":\"event\", \n//                \"msgID\":\"msgID\", \n//                \"data\":[{\"value\" : 8}]};\n                \n//msg.payload = {\"unit\": \"string\",  \"ts\": \"string\",  \"event\": \"string\",  \"msgid\": \"string\",  \"data\": [{\"value\": 0}]};\nmsg.headers = '{\"Content-Type\":\"application/json\"}';\n\nmsg.url = \"http://localhost:3000/api/v1/event/\";\n//msg.url = msg.url + msg.payload.hostname;\nmsg.url = msg.url + global.get('hname');\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":180,"wires":[["498eb79c.7d6578"]]},{"id":"498eb79c.7d6578","type":"http request","z":"4edffef3.e14ce","name":"/event/[:node]","method":"GET","ret":"txt","url":"","tls":"","x":800,"y":180,"wires":[["21a9762.f8c8b8a"]]},{"id":"21a9762.f8c8b8a","type":"json","z":"4edffef3.e14ce","name":"","x":970,"y":220,"wires":[["8e73b81.d0bbc48"]]},{"id":"99fb66f7.2c5d38","type":"json","z":"66ae377c.2d73f8","name":"Convert API result","property":"payload","action":"","pretty":false,"x":1090,"y":140,"wires":[["aa46ac05.86508"]]},{"id":"54b6004f.ffb75","type":"comment","z":"4edffef3.e14ce","name":"get events for local node","info":"","x":570,"y":140,"wires":[]},{"id":"3e5c43dc.5067ac","type":"debug","z":"2ce6c32c.72889c","name":"UC Selector Group","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"ucgroup","targetType":"msg","x":550,"y":560,"wires":[]},{"id":"8e73b81.d0bbc48","type":"function","z":"4edffef3.e14ce","name":"Prep Ret Message","func":"msg.replyTo=\"TI_CMD\";\n\nmsg.ret_payload.destination = msg.ret_payload.paramX.replyTo;\nmsg.ret_payload.param0 = msg.ret_payload.paramX.param0;\nmsg.ret_payload.paramX = msg.payload;\n\nmsg.payload = msg.ret_payload;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":220,"wires":[[]]},{"id":"f1163352.0d53c","type":"function","z":"4edffef3.e14ce","name":"Save Payload","func":"msg.ret_payload = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":240,"wires":[["a8dcadf.f9eb85"]]},{"id":"de743117.5e062","type":"function","z":"66ae377c.2d73f8","name":"Get Scheduler for Node","func":"msg.time = msg.payload;\n\n//msg.payload = {\"unit\":\"unit\", \"ts\":\"\" + msg.time + \"\", \"event\":\"event\", \n//                \"msgID\":\"msgID\", \n//                \"data\":[{\"value\" : 8}]};\n                \n//msg.payload = {\"unit\": \"string\",  \"ts\": \"string\",  \"event\": \"string\",  \"msgid\": \"string\",  \"data\": [{\"value\": 0}]};\nmsg.headers = '{\"Content-Type\":\"application/json\"}';\n\nmsg.url = \"http://localhost:3000/api/v1/scheduler/\";\nmsg.url = msg.url + msg.payload.hostname;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":220,"wires":[["321ff528.fa701a"]]},{"id":"321ff528.fa701a","type":"http request","z":"66ae377c.2d73f8","name":"/scheduler/[:node]","method":"GET","ret":"txt","url":"","tls":"","x":850,"y":220,"wires":[["1fdd166b.525afa"]]},{"id":"1ad83977.3066f7","type":"debug","z":"66ae377c.2d73f8","name":"","active":true,"console":"false","complete":"payload","x":1330,"y":220,"wires":[]},{"id":"1fdd166b.525afa","type":"json","z":"66ae377c.2d73f8","name":"Convert API result","property":"payload","action":"","pretty":false,"x":1090,"y":220,"wires":[["1ad83977.3066f7"]]},{"id":"b27857b8.dc8ee8","type":"comment","z":"66ae377c.2d73f8","name":"All Events for the local Node","info":"","x":600,"y":100,"wires":[]},{"id":"7be107e8.65e918","type":"comment","z":"66ae377c.2d73f8","name":"All Schedule events for the local node","info":"","x":630,"y":180,"wires":[]},{"id":"b578ad5b.e4a9c","type":"inject","z":"66ae377c.2d73f8","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{}","payloadType":"json","x":110,"y":220,"wires":[["9fd3135f.e9148"]]},{"id":"9fd3135f.e9148","type":"function","z":"66ae377c.2d73f8","name":"set node name","func":"msg.payload.hostname = \"g15plant\";\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":220,"wires":[["de743117.5e062","9d61f36a.f28e4"]]},{"id":"b99bef5b.c0b68","type":"function","z":"4edffef3.e14ce","name":"Get Schedules for Node","func":"msg.time = msg.payload;\n\nmsg.headers = '{\"Content-Type\":\"application/json\"}';\n\nmsg.url = \"http://localhost:3000/api/v1/scheduler/\";\n//msg.url = msg.url + msg.payload.hostname;\nmsg.url = msg.url + global.get('hname');\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":260,"wires":[["92f61850.2f2ba8"]]},{"id":"92f61850.2f2ba8","type":"http request","z":"4edffef3.e14ce","name":"/scheduler/[:node]","method":"GET","ret":"txt","url":"","tls":"","x":790,"y":260,"wires":[["21a9762.f8c8b8a"]]},{"id":"513110a1.61f28","type":"comment","z":"4edffef3.e14ce","name":"get schedule events for local node","info":"","x":600,"y":220,"wires":[]},{"id":"2e892f1f.a27e8","type":"OS","z":"5aeca004.ff39b","name":"","x":430,"y":120,"wires":[["d5f050b2.30414"]]},{"id":"d5f050b2.30414","type":"function","z":"5aeca004.ff39b","name":"set: hname (hostname)","func":"global.set('hname',msg.payload.hostname);\nnode.log('Hostname set to:' + msg.payload.hostname);\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":120,"wires":[[]]},{"id":"c766872a.ee5f78","type":"inject","z":"5aeca004.ff39b","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":210,"y":120,"wires":[["2e892f1f.a27e8"]]},{"id":"a88f2e3c.b806f","type":"function","z":"66ae377c.2d73f8","name":"set node name","func":"msg.payload.hostname =global.get('hname');\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":140,"wires":[["9d61f36a.f28e4","de743117.5e062"]]},{"id":"84c64e8f.c0ab5","type":"function","z":"2ce6c32c.72889c","name":"Validate local Controller name","func":"msg.controller = global.get('hname') + \".controller\";\n\nif (msg.payload.destination==msg.controller) {\nreturn [ msg, null ];\n\n} else {\n    return [ null, msg];\n}\n\n\nreturn msg;","outputs":2,"noerr":0,"x":1010,"y":220,"wires":[["2c74f245.c35a5e"],["6dbe86e2.81d3a8"]]},{"id":"fa5523e6.40b39","type":"debug","z":"2ce6c32c.72889c","name":"Other UC","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":920,"y":840,"wires":[]},{"id":"96acce8b.3d466","type":"comment","z":"4edffef3.e14ce","name":"activate Trigger / set Trigger Status (enable/disable)","info":"","x":650,"y":300,"wires":[]},{"id":"73331c82.cac234","type":"function","z":"4edffef3.e14ce","name":"Get Schedules and Triggers ","func":"msg.headers = '{\"Content-Type\":\"application/json\"}';\n\nmsg.url = \"http://localhost:3000/api/v1/scheduler/trigger/status\";\n//msg.url = msg.url + msg.payload.hostname;\n//msg.url = msg.url + global.get('hname');\nmsg.payload ={ \"unit\":\"\"  + msg.ret_payload.paramX.unit + \"\", \n                \"trigger\":\"\" + msg.ret_payload.paramX.trigger + \"\", \n                \"status\":\"\" + msg.ret_payload.paramX.status + \"\", \n                \"only\":\"\" + msg.ret_payload.paramX.only + \"\"};\n                \n                //{\"unit\":\"ti01.SCHEDULE\",\"trigger\":\"job2.trigger2\", \"status\":\"false\", \"only\":\"true\"};\n\n// Re-Init the Scheduler if Trigger Updates are neccessary\nmsg.ret_payload.paramX.replyTo = msg.ret_payload.paramX.unit;\nmsg.ret_payload.paramX.param0 = \"reinitSchedule\";\nmsg.sender =  msg.ret_payload.paramX.unit;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":580,"y":340,"wires":[["9412511e.8227e"]]},{"id":"9412511e.8227e","type":"http request","z":"4edffef3.e14ce","name":"scheduler/trigger/status","method":"POST","ret":"txt","url":"","tls":"","x":830,"y":340,"wires":[["838a8bf.cb60878"]]},{"id":"838a8bf.cb60878","type":"json","z":"4edffef3.e14ce","name":"json (trigger update)","property":"payload","action":"","pretty":false,"x":1060,"y":340,"wires":[["953faf01.724df"]]},{"id":"953faf01.724df","type":"function","z":"4edffef3.e14ce","name":"Prep Ret Message","func":"if (msg.payload==\"{no change}\") {\n    return [ null, msg];\n} else {\n    return [ msg, null];\n}","outputs":2,"noerr":0,"x":1290,"y":340,"wires":[["8e73b81.d0bbc48"],["dfa4fde0.8237e"]]},{"id":"1ff7f13a.74af6f","type":"comment","z":"4edffef3.e14ce","name":"cur Trigger equals new Trigger","info":"","x":1340,"y":280,"wires":[]},{"id":"36b7346e.2c02fc","type":"inject","z":"e6a5f68f.971a78","name":"Activate Trigger","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"ti01.controller\", \"param0\":\"CU.SETTRIGGERSTATUS\", \"paramX\":{\"trigger\":\"ping.trigger2\",\"unit\":\"ti01.SCHEDULE\",\"status\":\"enabled\", \"only\":\"true\"} }","payloadType":"str","x":200,"y":120,"wires":[["df84f477.e3f8f8"]]},{"id":"df84f477.e3f8f8","type":"link out","z":"e6a5f68f.971a78","name":"Test","links":["c460012.d5cb4"],"x":595,"y":140,"wires":[]},{"id":"c460012.d5cb4","type":"link in","z":"2ce6c32c.72889c","name":"Main Input","links":["4e5c370a.8d9f28","8dde8ec0.b4ba8","af9eddd0.7d3b6","df84f477.e3f8f8"],"x":195,"y":200,"wires":[["af15c470.d1f4a8"]]},{"id":"dfa4fde0.8237e","type":"function","z":"4edffef3.e14ce","name":"no change","func":"node.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":380,"wires":[[]]},{"id":"9a55e205.3e0a1","type":"inject","z":"e6a5f68f.971a78","name":"Open Sunblind","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"ti01.controller\", \"param0\":\"AU.SHADE\", \"paramX\":{\"trigger\":\"ping.trigger2\",\"unit\":\"ti01.SCHEDULE\",\"status\":\"enabled\", \"only\":\"true\"} }","payloadType":"str","x":200,"y":200,"wires":[["df84f477.e3f8f8"]]},{"id":"60971772.d844c8","type":"debug","z":"2ce6c32c.72889c","name":"ERROR OUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1360,"y":980,"wires":[]},{"id":"203e23c3.157e1c","type":"debug","z":"2ce6c32c.72889c","name":"DEBUG OUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1360,"y":1060,"wires":[]},{"id":"fcba05c8.50d7f8","type":"function","z":"bb9dbdb7.f5a47","name":"Start Watch","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"' + msg.ucobject.checkswitch + '\",' +\n                '\"param0\":\"watch\",' +\n                '\"paramX\":{\"duration\":\"' + msg.ucobject.timeout + '\"}}';\n\n//var Xswitch =\"\";\n//if (msg.ucobject.direction==\"CLOSE\") {\n    //Xswitch = msg.ucobject.switchbottom;\n//} else if (msg.ucobject.direction==\"OPEN\") {\n    //Xswitch = msg.ucobject.switchtop;\n//}\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":180,"wires":[["afd14a84.897398"]]},{"id":"afd14a84.897398","type":"json","z":"bb9dbdb7.f5a47","name":"","property":"payload","action":"","pretty":false,"x":1020,"y":180,"wires":[[]]},{"id":"93f5f7c2.ec88e8","type":"inject","z":"e6a5f68f.971a78","name":"Close Sunblind (Right)","repeat":"","crontab":"","once":false,"topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6climate.controller\", \"param0\":\"AU.SHADE\", \"paramX\":{\"trigger\":\"ping.trigger2\",\"unit\":\"ti01.SCHEDULE\",\"status\":\"enabled\", \"only\":\"true\"} }","payloadType":"str","x":200,"y":300,"wires":[["b70f1cb6.007a2"]]},{"id":"b70f1cb6.007a2","type":"function","z":"e6a5f68f.971a78","name":"Input Params","func":"var host = global.get('hname');\n\nmsg.payload = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n            '\"destination\":\"' + host + '.controller\", ' +\n            '\"param0\":\"AU.SHADE\", ' +\n            '\"paramX\":{\"direction\":\"CLOSE\",' +\n                        '\"destination\":\"B6.CLIMATE.UNIT.SHADE.RIGHT\",' +\n                        '\"destinationcmd\":\"startLeft\",' +\n                        '\"speed\":\"1500\",' +\n                        '\"timeout\":\"25\",' +\n                        '\"switchtop\" : \"ti88.Switch.J\",' +\n                        '\"switchbottom\" : \"ti88.Switch.K\", ' +\n                        '\"checkinit\" : \"true\"}}';\n                        \nreturn msg;","outputs":1,"noerr":0,"x":430,"y":240,"wires":[["df84f477.e3f8f8"]]},{"id":"c56fb649.feb0e8","type":"link out","z":"2ce6c32c.72889c","name":"Actor Unit - Error","links":[],"x":1295,"y":720,"wires":[]},{"id":"7f6a9570.f23f1c","type":"inject","z":"e6a5f68f.971a78","name":"Open Sunblind (Right)","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6climate.controller\", \"param0\":\"AU.SHADE\", \"paramX\":{\"trigger\":\"ping.trigger2\",\"unit\":\"ti01.SCHEDULE\",\"status\":\"enabled\", \"only\":\"true\"} }","payloadType":"str","x":200,"y":360,"wires":[["ee720c8a.98f45"]]},{"id":"ee720c8a.98f45","type":"function","z":"e6a5f68f.971a78","name":"Input Params","func":"var host = global.get('hname');\n\nmsg.payload = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n            '\"destination\":\"' + host + '.controller\", ' +\n            '\"param0\":\"AU.SHADE\", ' +\n            '\"paramX\":{\"direction\":\"OPEN\",' +\n                        '\"destination\":\"B6.CLIMATE.UNIT.SHADE.RIGHT\",' +\n                        '\"destinationcmd\":\"startRight\",' +\n                        '\"speed\":\"1500\",' +\n                        '\"timeout\":\"25\",' +\n                        '\"switchtop\" : \"ti88.Switch.J\",' +\n                        '\"switchbottom\" : \"ti88.Switch.K\",' +\n                        '\"checkinit\" : \"true\"}}';\n                        \nreturn msg;","outputs":1,"noerr":0,"x":440,"y":340,"wires":[["df84f477.e3f8f8"]]},{"id":"b93bf590.e07da8","type":"function","z":"a443370b.2db948","name":"Check Switch","func":"msg.ucobject.checkswitch=\"\";\n\nif (msg.ucobject.direction==\"CLOSE\") {\n    //If the Shade should be closing, the bottom switch is relevant for checking during motor run\n    msg.ucobject.watchswitch = msg.ucobject.switchbottom; //Switch to be checked during runtime of the motor\n    msg.ucobject.initswitch = msg.ucobject.switchtop; //Switch to be checked for intial situation\n} else if (msg.ucobject.direction==\"OPEN\") {\n    //If the Shade should be opened, the top switch is relevant for checking during motor run\n    msg.ucobject.watchswitch = msg.ucobject.switchtop;\n    msg.ucobject.initswitch = msg.ucobject.switchbottom;\n}\n\nif (msg.ucobject.checkinit==\"true\") { //Check the Value of the initial Switch of Parameter is enabled\n    msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"' + msg.ucobject.initswitch + '\",' +\n                '\"param0\":\"getValue\",' +\n                '\"paramX\":{\"ident\":\"check\"}}';\n                \n    return [ msg, null ];\n} else { // Ignore the Value of the initial Switch \n    msg.payload.paramX.value = \"LOW\"\n    return [ null, msg];\n}\n\n\n\nreturn msg;","outputs":2,"noerr":0,"x":620,"y":480,"wires":[["46d57a45.e1e414"],["d754174f.b7ca38"]]},{"id":"46d57a45.e1e414","type":"ti-message","z":"a443370b.2db948","name":"Execute","mqserver":"mqtt://localhost","intopic":"TI_CONTROLLER","outtopic":"TI_CMD","x":980,"y":480,"wires":[["5433a016.27a46"]]},{"id":"5433a016.27a46","type":"json","z":"a443370b.2db948","name":"json","property":"payload","action":"","pretty":true,"x":1170,"y":480,"wires":[["5e11cadd.843724"]]},{"id":"45d51b79.2bd924","type":"function","z":"a443370b.2db948","name":"Start Watch","func":"var timeout = parseInt(msg.ucobject.timeout)-1;\n\nmsg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"' + msg.ucobject.watchswitch + '\",' +\n                '\"param0\":\"watch\",' +\n                '\"paramX\":{\"duration\":\"' + timeout + '\",\"ident\":\"watch\"}}';\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":660,"wires":[["2c933c4f.022144"]]},{"id":"5e11cadd.843724","type":"switch","z":"a443370b.2db948","name":"Case","property":"payload.paramX.ident","propertyType":"msg","rules":[{"t":"eq","v":"check","vt":"str"},{"t":"eq","v":"watch","vt":"str"},{"t":"eq","v":"run","vt":"str"},{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1330,"y":480,"wires":[["d754174f.b7ca38"],["12c2cf59.1f6461"],[],[]]},{"id":"c6e9429b.4b1","type":"function","z":"a443370b.2db948","name":"Start Motor","func":"var timeout = parseInt(msg.ucobject.timeout) + 2;\n\nmsg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"'+ msg.ucobject.destination +'\",' +\n                '\"param0\":\"' +  msg.ucobject.destinationcmd + '\",' +\n                '\"paramX\":{\"speed\":\"' + msg.ucobject.speed + '\",\"ident\":\"run\"}}';\n//                '\"paramX\":{\"interval\":\"' + timeout + '\",\"speed\":\"' + msg.ucobject.speed + '\",\"ident\":\"run\"}}';\n\nmsg.delay= timeout * 1000;\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":560,"wires":[["83f47879.4113f8","46d57a45.e1e414"]]},{"id":"2c933c4f.022144","type":"delay","z":"a443370b.2db948","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":580,"wires":[["46d57a45.e1e414"]]},{"id":"42980e3c.d5bc8","type":"function","z":"a443370b.2db948","name":"Stop Motor","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"'+ msg.ucobject.destination +'\",' +\n                '\"param0\":\"' +  msg.ucobject.destinationcmd + '\",' +\n                '\"paramX\":{\"speed\":\"0\",\"ident\":\"stop\"}}';\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":760,"wires":[["46d57a45.e1e414"]]},{"id":"931fef06.018e3","type":"function","z":"a443370b.2db948","name":"Error - no Switch Executed","func":"if (msg.reset==1) { //If the Timer Reset is triggered by the Switch Watch Prozess\n    if (msg.timeout==1) { //If the Switch Watch process terminated due to a timeout\n        msg.error = \"true\";\n        msg.errorStatus = 'Beschattung (Fehler): Endschalter (' + msg.ucobject.watchswitch + ') nicht erreicht innerhalb des Überwachungszeitraums:' +\n                'Beschattung: ' + msg.ucobject.destination + '...' +\n                'Richtung: ' + msg.ucobject.direction + '...' +\n                'Überwachungszeit: ' + msg.ucobject.timeout;\n        return [ null, msg];\n    } else {\n        msg.error = \"false\";\n        msg.errorStatus = \"Shading execution successfull\"\n        return [ msg, null ];\n    }\n} else { \n    msg.error = \"true\";\n    msg.errorStatus = 'Beschattung (Fehler): Endschalter (' + msg.ucobject.watchswitch + ') nicht erreicht innerhalb der Motor Laufzeit:' +\n                'Beschattung: ' + msg.ucobject.destination + '...' +\n                'Richtung: ' + msg.ucobject.direction + '...' +\n                'Laufzeit: ' + msg.delay;\n                \n    return [ null, msg];\n}\n\n","outputs":2,"noerr":0,"x":1760,"y":560,"wires":[[],[]]},{"id":"83f47879.4113f8","type":"delay","z":"a443370b.2db948","name":"","pauseType":"delayv","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":560,"wires":[["931fef06.018e3","42980e3c.d5bc8"]]},{"id":"12c2cf59.1f6461","type":"function","z":"a443370b.2db948","name":"Reset Timer","func":"if (msg.payload.paramX.value==\"TIMEOUT\") { //If the Switch gives a Timeout \n    msg.timeout=1;    \n} else {\n    msg.timeout=0;    \n}\n\nmsg.reset=1;\n\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":480,"wires":[["83f47879.4113f8","931fef06.018e3","42980e3c.d5bc8"]]},{"id":"430e4478.0e098c","type":"function","z":"a443370b.2db948","name":"Input Params","func":"duration = parseInt(msg.payload.paramX.interval) + 5;\n\n//var data = {\"destination\":\"B6.CLIMATE.UNIT.SHADE.RIGHT\",\n//        \"direction\":\"CLOSE\",\n//        \"destinationcmd\":\"startLeft\",\n//        \"speed\":\"1000\",\n//        \"interval\":\"25\",\n//        \"switchtop\" : \"b6.Switch.Shade.OR\",\n//        \"switchbottom\" : \"b6.Switch.Shade.UR\",\n//        \"timeout\":\"25\"};\n\ndata = {\"destination\": msg.payload.paramX.destination,\n        \"direction\": msg.payload.paramX.direction,\n        \"destinationcmd\": msg.payload.paramX.destinationcmd,\n        \"speed\": msg.payload.paramX.speed,\n        \"switchtop\" : msg.payload.paramX.switchtop,\n        \"switchbottom\" : msg.payload.paramX.switchbottom,\n        \"timeout\": msg.payload.paramX.timeout,\n        \"checkinit\" : msg.payload.paramX.checkinit};    // Defines if the initial Switch position must be checked (if the shade is in the middle, it can be set to \"false\")\n\nmsg.ucobject = data;\n\n//Name des Motors: B6.CLIMATE.UNIT.SHADE.LEFT\n//Richtung: Close (runLeft) / Open (runRight)\n//Motor Command: runLeft / runRight\n//Speed: 1000\n//Intervall: Seconds (25)\n//Top Switch\n//Bottom Switch\n\n//Wenn Close: \n//      Check -> Top = Low, Bottom = High\n//      Watch -> Bottom = Low\n//      Run -> Motor Close\n//      Watch Event -> Bottom = Low oder Timeout\n//      Final Check -> Top = High, Bottom = Low\n\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":480,"wires":[["b93bf590.e07da8"]]},{"id":"d754174f.b7ca38","type":"function","z":"a443370b.2db948","name":"Check Switch States (Open, Close)","func":"var CheckSwitchValue=msg.payload.paramX.value;\n\nmsg.error=\"true\";\n\n//CheckSwitch must be open (LOW)\nif (CheckSwitchValue == \"LOW\") {\n    msg.error = \"false\";\n} else {\n    msg.error = \"true\";\n    msg.errorStatus = 'Beschattung (Fehler): Ausgangsposition der Endschalter fehlerhaft: ' +\n                'Beschattung: ' + msg.ucobject.destination + '...' +\n                'Richtung: ' + msg.ucobject.direction + '...' +\n                'Endschalter: ' + msg.ucobject.initswitch + '...' +\n                'Erwartete -> LOW (geschlossen), Aktuell:' + CheckSwitchValue + ' (offen)';\n}\n\nif (msg.error==\"false\") {\n    return [ msg, null ];\n} else {\n    return [ null, msg];\n}\n\n","outputs":2,"noerr":0,"x":1180,"y":760,"wires":[["45d51b79.2bd924","c6e9429b.4b1"],[]]},{"id":"7964d8c1.b8ff08","type":"function","z":"a5b56371.83719","name":"Input Params","func":"msg.payload = {\"@class\":\"org.timeit.apps.core.Msg\",\n            \"destination\":\"b6climate.controller\", \n            \"param0\":\"AU.SHADE\", \n            \"paramX\":{\"direction\":\"CLOSE\",\n                        \"destination\":\"B6.CLIMATE.UNIT.SHADE.RIGHT\",\n                        \"destinationcmd\":\"startLeft\",\n                        \"speed\":\"1500\",\n                        \"timeout\":\"25\",\n                        \"switchtop\" : \"b6.Switch.Shade.OR\",\n                        \"switchbottom\" : \"b6.Switch.Shade.UR\"}};\n                        \nreturn msg;","outputs":1,"noerr":0,"x":440,"y":60,"wires":[["4e5c370a.8d9f28"]]},{"id":"fee75e33.b9feb","type":"inject","z":"a5b56371.83719","name":"Close Sunblind (Right)","repeat":"","crontab":"","once":false,"topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6climate.controller\", \"param0\":\"AU.SHADE\", \"paramX\":{\"trigger\":\"ping.trigger2\",\"unit\":\"ti01.SCHEDULE\",\"status\":\"enabled\", \"only\":\"true\"} }","payloadType":"str","x":180,"y":60,"wires":[["7964d8c1.b8ff08"]]},{"id":"7ce2bc17.b066a4","type":"function","z":"a5b56371.83719","name":"Input Params","func":"var host = global.get('hname');\n\nmsg.payload = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n            '\"destination\":\"' + host + '.controller\", ' +\n            '\"param0\":\"AU.SHADE\", ' +\n            '\"paramX\":{\"direction\":\"CLOSE\",' +\n                        '\"destination\":\"B6.CLIMATE.UNIT.SHADE.RIGHT\",' +\n                        '\"destinationcmd\":\"startLeft\",' +\n                        '\"speed\":\"1100\",' +\n                        '\"timeout\":\"90\",' +\n                        '\"switchtop\" : \"b6.Switch.Shade.OR\",' +\n                        '\"switchbottom\" : \"b6.Switch.Shade.UR\", ' +\n                        '\"checkinit\" : \"false\"}}';\n                        \nreturn msg;","outputs":1,"noerr":0,"x":440,"y":140,"wires":[["4e5c370a.8d9f28"]]},{"id":"f64476fc.c69cb8","type":"function","z":"a5b56371.83719","name":"Input Params","func":"var host = global.get('hname');\n\nmsg.payload = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n            '\"destination\":\"' + host + '.controller\", ' +\n            '\"param0\":\"AU.SHADE\", ' +\n            '\"paramX\":{\"direction\":\"OPEN\",' +\n                        '\"destination\":\"B6.CLIMATE.UNIT.SHADE.RIGHT\",' +\n                        '\"destinationcmd\":\"startRight\",' +\n                        '\"speed\":\"2050\",' +\n                        '\"timeout\":\"90\",' +\n                        '\"switchtop\" : \"b6.Switch.Shade.OR\",' +\n                        '\"switchbottom\" : \"b6.Switch.Shade.UR\",' +\n                        '\"checkinit\" : \"true\"}}';\n                        \nreturn msg;","outputs":1,"noerr":0,"x":440,"y":200,"wires":[["4e5c370a.8d9f28"]]},{"id":"783bebe6.583514","type":"inject","z":"a5b56371.83719","name":"Open Sunblind (Right)","repeat":"","crontab":"","once":false,"topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6climate.controller\", \"param0\":\"AU.SHADE\", \"paramX\":{\"trigger\":\"ping.trigger2\",\"unit\":\"ti01.SCHEDULE\",\"status\":\"enabled\", \"only\":\"true\"} }","payloadType":"str","x":180,"y":200,"wires":[["f64476fc.c69cb8"]]},{"id":"d5500158.1f52f","type":"inject","z":"a5b56371.83719","name":"Close Sunblind (Right)","repeat":"","crontab":"","once":false,"topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6climate.controller\", \"param0\":\"AU.SHADE\", \"paramX\":{\"trigger\":\"ping.trigger2\",\"unit\":\"ti01.SCHEDULE\",\"status\":\"enabled\", \"only\":\"true\"} }","payloadType":"str","x":180,"y":140,"wires":[["7ce2bc17.b066a4"]]},{"id":"8b4af05c.17a2d","type":"function","z":"a5b56371.83719","name":"Input Params","func":"var host = global.get('hname');\n\nmsg.payload = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n            '\"destination\":\"' + host + '.controller\", ' +\n            '\"param0\":\"AU.SHADE\", ' +\n            '\"paramX\":{\"direction\":\"CLOSE\",' +\n                        '\"destination\":\"B6.CLIMATE.UNIT.SHADE.LEFT\",' +\n                        '\"destinationcmd\":\"startLeft\",' +\n                        '\"speed\":\"800\",' +\n                        '\"timeout\":\"60\",' +\n                        '\"switchtop\" : \"b6.Switch.Shade.OL\",' +\n                        '\"switchbottom\" : \"b6.Switch.Shade.UL\", ' +\n                        '\"checkinit\" : \"false\"}}';\n                        \nreturn msg;","outputs":1,"noerr":0,"x":440,"y":280,"wires":[["4e5c370a.8d9f28"]]},{"id":"fe01db4c.547338","type":"function","z":"a5b56371.83719","name":"Input Params","func":"var host = global.get('hname');\n\nmsg.payload = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n            '\"destination\":\"' + host + '.controller\", ' +\n            '\"param0\":\"AU.SHADE\", ' +\n            '\"paramX\":{\"direction\":\"OPEN\",' +\n                        '\"destination\":\"B6.CLIMATE.UNIT.SHADE.LEFT\",' +\n                        '\"destinationcmd\":\"startRight\",' +\n                        '\"speed\":\"1600\",' +\n                        '\"timeout\":\"70\",' +\n                        '\"switchtop\" : \"b6.Switch.Shade.OL\",' +\n                        '\"switchbottom\" : \"b6.Switch.Shade.UL\",' +\n                        '\"checkinit\" : \"true\"}}';\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":360,"wires":[["4e5c370a.8d9f28"]]},{"id":"aaf85f87.bed04","type":"inject","z":"a5b56371.83719","name":"Open Sunblind (Left)","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6climate.controller\", \"param0\":\"AU.SHADE\", \"paramX\":{\"trigger\":\"ping.trigger2\",\"unit\":\"ti01.SCHEDULE\",\"status\":\"enabled\", \"only\":\"true\"} }","payloadType":"str","x":170,"y":360,"wires":[["fe01db4c.547338"]]},{"id":"4483688.e3d2998","type":"inject","z":"a5b56371.83719","name":"Close Sunblind (Left)","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6climate.controller\", \"param0\":\"AU.SHADE\", \"paramX\":{\"trigger\":\"ping.trigger2\",\"unit\":\"ti01.SCHEDULE\",\"status\":\"enabled\", \"only\":\"true\"} }","payloadType":"str","x":180,"y":280,"wires":[["8b4af05c.17a2d"]]},{"id":"af100526.2e4108","type":"function","z":"a5b56371.83719","name":"prep","func":"msg.payload = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"b6climate.controller\",' +\n                '\"param0\":\"CU.PING\",' +\n                '\"paramX\":{\"unit\":\"b6climate.tiRouting\"}}'\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":460,"wires":[["4e5c370a.8d9f28"]]},{"id":"a42d254d.a90fd8","type":"inject","z":"a5b56371.83719","name":"ping","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{}","payloadType":"str","x":210,"y":460,"wires":[["af100526.2e4108"]]},{"id":"4e5c370a.8d9f28","type":"link out","z":"a5b56371.83719","name":"test_g15watch","links":["c460012.d5cb4"],"x":735,"y":220,"wires":[]},{"id":"80e33475.7a8b28","type":"inject","z":"fc1f6c41.e5c79","name":"Line 1 - Pump","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6plant.controller\", \"param0\":\"AU.RUNPUMP\", \"replyTo\":\"REPLY MQTT CHANNEL\",  \"paramX\":{\"unit\":\"B6.PLANT.LINE.1.TANK.PUMP\", \"interval\":\"10\",\"db\":\"true\",\"twitter\":\"false\"} }","payloadType":"str","x":150,"y":40,"wires":[["8dde8ec0.b4ba8"]]},{"id":"acb37f3a.8513c","type":"inject","z":"fc1f6c41.e5c79","name":"Line 2 - Pump","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6plant.controller\", \"param0\":\"AU.RUNPUMP\", \"replyTo\":\"REPLY MQTT CHANNEL\",  \"paramX\":{\"unit\":\"B6.PLANT.LINE.2.TANK.PUMP\", \"interval\":\"120\",\"db\":\"true\",\"twitter\":\"false\"} }","payloadType":"str","x":150,"y":80,"wires":[["8dde8ec0.b4ba8"]]},{"id":"a980070c.174f38","type":"inject","z":"fc1f6c41.e5c79","name":"Line 3 - Pump","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6plant.controller\", \"param0\":\"AU.RUNPUMP\", \"replyTo\":\"REPLY MQTT CHANNEL\",  \"paramX\":{\"unit\":\"B6.PLANT.LINE.3.TANK.PUMP\", \"interval\":\"120\",\"db\":\"true\",\"twitter\":\"false\"} }","payloadType":"str","x":150,"y":120,"wires":[["8dde8ec0.b4ba8"]]},{"id":"b0ebd569.088238","type":"inject","z":"fc1f6c41.e5c79","name":"Line 4 - Pump","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6plant.controller\", \"param0\":\"AU.RUNPUMP\", \"replyTo\":\"REPLY MQTT CHANNEL\",  \"paramX\":{\"unit\":\"B6.PLANT.LINE.4.TANK.PUMP\", \"interval\":\"120\",\"db\":\"true\",\"twitter\":\"false\"} }","payloadType":"str","x":150,"y":160,"wires":[["8dde8ec0.b4ba8"]]},{"id":"71a3a8f5.db4a68","type":"inject","z":"fc1f6c41.e5c79","name":"Line 5 - Pump","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6plant.controller\", \"param0\":\"AU.RUNPUMP\", \"replyTo\":\"REPLY MQTT CHANNEL\",  \"paramX\":{\"unit\":\"B6.PLANT.LINE.5.TANK.PUMP\", \"interval\":\"120\",\"db\":\"true\",\"twitter\":\"false\"} }","payloadType":"str","x":150,"y":200,"wires":[["8dde8ec0.b4ba8"]]},{"id":"1eefe34c.29377d","type":"inject","z":"fc1f6c41.e5c79","name":"Line 6 - Pump","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6plant.controller\", \"param0\":\"AU.RUNPUMP\", \"replyTo\":\"REPLY MQTT CHANNEL\",  \"paramX\":{\"unit\":\"B6.PLANT.LINE.6.TANK.PUMP\", \"interval\":\"120\",\"db\":\"true\",\"twitter\":\"false\"} }","payloadType":"str","x":150,"y":240,"wires":[["8dde8ec0.b4ba8"]]},{"id":"8dde8ec0.b4ba8","type":"link out","z":"fc1f6c41.e5c79","name":"test_b6plant","links":["c460012.d5cb4"],"x":380,"y":140,"wires":[]},{"id":"4edd3d71.f3b604","type":"inject","z":"c82b6327.0aa47","name":"G15 Temp Aussen","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"g15plant.controller\", \"param0\":\"SU.GETVALUE\",  \"paramX\":{\"unit\":\"G15.PLANT.RASP.UNITS.TEMPAUSSEN\"} }","payloadType":"str","x":150,"y":320,"wires":[["af9eddd0.7d3b6"]]},{"id":"95f2af0a.be387","type":"inject","z":"c82b6327.0aa47","name":"G15 Temp Innen","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"g15plant.controller\", \"param0\":\"SU.GETVALUE\",  \"paramX\":{\"unit\":\"G15.PLANT.RASP.UNITS.TEMPINNEN\",\"db\":\"true\"} }","payloadType":"str","x":140,"y":260,"wires":[["af9eddd0.7d3b6"]]},{"id":"53254414.425d4c","type":"inject","z":"c82b6327.0aa47","name":"Run Pump (Tomaten)","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"g15plant.controller\", \"param0\":\"AU.RUNPUMP\",  \"paramX\":{\"unit\":\"G15.PLANT.RASP.UNITS.PUMP2\", \"interval\":\"60\",\"db\":\"true\",\"twitter\":\"false\"} }","payloadType":"str","x":160,"y":60,"wires":[["af9eddd0.7d3b6"]]},{"id":"3721ab2.178b054","type":"inject","z":"c82b6327.0aa47","name":"Run Fan","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"g15plant.controller\", \"param0\":\"AU.RUNPUMP\",  \"paramX\":{\"unit\":\"G15.PLANT.RASP.UNITS2.FANLEFT\", \"interval\":\"10\",\"db\":\"true\",\"twitter\":\"false\"} }","payloadType":"str","x":120,"y":420,"wires":[["af9eddd0.7d3b6"]]},{"id":"2773e50d.62fbaa","type":"inject","z":"c82b6327.0aa47","name":"Run Pump Valve (Wasabi Beet)","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"g15plant.controller\", \"param0\":\"AU.RUNPUMPVALVE\",  \"paramX\":{\"unit\":\"G15.PLANT.RASP.UNITS.PUMP1\", \"valve\":\"G15.PLANT.RASP.UNITS2.VALVE3\", \"interval\":\"30\",\"db\":\"true\",\"twitter\":\"false\"} }","payloadType":"str","x":190,"y":120,"wires":[["af9eddd0.7d3b6"]]},{"id":"40b71c23.7acd34","type":"inject","z":"c82b6327.0aa47","name":"Run Pump Valve (Wasabi zum Tomaten Beet)","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"g15plant.controller\", \"param0\":\"AU.RUNPUMPVALVE\",  \"paramX\":{\"unit\":\"G15.PLANT.RASP.UNITS.PUMP1\", \"valve\":\"G15.PLANT.RASP.UNITS2.VALVE2\", \"interval\":\"30\",\"db\":\"false\",\"twitter\":\"false\"} }","payloadType":"str","x":230,"y":180,"wires":[["af9eddd0.7d3b6"]]},{"id":"af9eddd0.7d3b6","type":"link out","z":"c82b6327.0aa47","name":"test_g15plant","links":["c460012.d5cb4"],"x":540,"y":260,"wires":[]},{"id":"9945eb98.665718","type":"comment","z":"2ce6c32c.72889c","name":"Reply to Sender","info":"","x":1580,"y":460,"wires":[]},{"id":"7ff57b29.09f1d4","type":"ti-message","z":"68a9f738.904da8","name":"ti Exec Sensor","mqserver":"mqtt://localhost","intopic":"TI_CONTROLLER","outtopic":"TI_CMD","x":660,"y":180,"wires":[["45066900.9838f8"]]},{"id":"ff3bd1cc.c869d","type":"inject","z":"a5b56371.83719","name":"Fenster zu","repeat":"","crontab":"","once":false,"topic":"","payload":"{}","payloadType":"json","x":302.0158996582031,"y":593.0424423217773,"wires":[["3afcfd18.411912"]]},{"id":"b9503f4b.26244","type":"ti-message","z":"a5b56371.83719","name":"ti Exec Msg","mqserver":"mqtt://localhost","intopic":"TI_CONTROLLER","outtopic":"TI_CMD","x":916.6429138183594,"y":672.2857360839844,"wires":[["d39db710.97be28"]]},{"id":"5f6f86ce.b95698","type":"inject","z":"a5b56371.83719","name":"Fenster auf","repeat":"","crontab":"","once":false,"topic":"","payload":"{}","payloadType":"json","x":309.0000457763672,"y":636,"wires":[["7066056b.921aec"]]},{"id":"7066056b.921aec","type":"function","z":"a5b56371.83719","name":"prep exec message","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' + \n                    '\"destination\":\"b6climate.controller\",' +\n                    '\"param0\":\"AU.WINDOW\",' +\n                    '\"paramX\":{\"unit\":\"B6.CLIMATE.UNIT.WINDOW.ALL\",' +\n                        '\"direction\":\"open\",' +\n                        '\"db\":\"true\"} }';\n\nreturn msg;","outputs":1,"noerr":0,"x":567,"y":646,"wires":[["b9503f4b.26244"]]},{"id":"9679e6ee.b0a488","type":"inject","z":"a5b56371.83719","name":"Beschattung / links / runter","repeat":"","crontab":"","once":false,"topic":"","payload":"{}","payloadType":"json","x":348.00003814697266,"y":740.9999694824219,"wires":[["f507bc90.7a8d2"]]},{"id":"f507bc90.7a8d2","type":"function","z":"a5b56371.83719","name":"prep exec message","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"B6.CLIMATE.UNIT.SHADE.LEFT\",' +\n                '\"param0\":\"runLeft\",' +\n                '\"paramX\":{\"interval\":\"25\",\"speed\":\"1000\"}}';\n//B6.PLANT.LINE.ENV.LIGHT\nreturn msg;","outputs":1,"noerr":0,"x":624.0077819824219,"y":743.2110595703125,"wires":[["b9503f4b.26244"]]},{"id":"df11966.0de6e68","type":"inject","z":"a5b56371.83719","name":"Beschattung / links / stop","repeat":"","crontab":"","once":false,"topic":"","payload":"{}","payloadType":"json","x":357.0000457763672,"y":838.0000610351562,"wires":[["80cc3f51.3a7fd"]]},{"id":"80cc3f51.3a7fd","type":"function","z":"a5b56371.83719","name":"prep exec message","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"B6.CLIMATE.UNIT.SHADE.LEFT\",' +\n                '\"param0\":\"stop\",' +\n                '\"paramX\":{\"interval\":\"1\",\"speed\":\"2000\"}}';\n//B6.PLANT.LINE.ENV.LIGHT\nreturn msg;","outputs":1,"noerr":0,"x":619,"y":835,"wires":[["b9503f4b.26244"]]},{"id":"e4303728.8046a8","type":"inject","z":"a5b56371.83719","name":"Beschattung / links / hoch","repeat":"","crontab":"","once":false,"topic":"","payload":"{}","payloadType":"json","x":350.0000305175781,"y":780.9999694824219,"wires":[["57016aa0.2888f4"]]},{"id":"57016aa0.2888f4","type":"function","z":"a5b56371.83719","name":"prep exec message","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"B6.CLIMATE.UNIT.SHADE.LEFT\",' +\n                '\"param0\":\"runRight\",' +\n                '\"paramX\":{\"interval\":\"24\",\"speed\":\"1600\"}}';\n//B6.PLANT.LINE.ENV.LIGHT\nreturn msg;","outputs":1,"noerr":0,"x":618.46142578125,"y":787.5312805175781,"wires":[["b9503f4b.26244"]]},{"id":"a2311eaa.c6ca2","type":"inject","z":"a5b56371.83719","name":"Beschattung / rechts / runter","repeat":"","crontab":"","once":false,"topic":"","payload":"{}","payloadType":"json","x":365.00001525878906,"y":936,"wires":[["81be03ed.99c11"]]},{"id":"f8fe158d.d475d8","type":"inject","z":"a5b56371.83719","name":"Beschattung / rechts / hoch","repeat":"","crontab":"","once":false,"topic":"","payload":"{}","payloadType":"json","x":355.00001525878906,"y":982,"wires":[["8589f4d0.e662b8"]]},{"id":"8f6c8fb3.4e8b6","type":"inject","z":"a5b56371.83719","name":"Beschattung / rechts / stop","repeat":"","crontab":"","once":false,"topic":"","payload":"{}","payloadType":"json","x":360.5714569091797,"y":1035.428466796875,"wires":[["52fba89a.0bdf98"]]},{"id":"81be03ed.99c11","type":"function","z":"a5b56371.83719","name":"prep exec message","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"B6.CLIMATE.UNIT.SHADE.RIGHT\",' +\n                '\"param0\":\"startLeft\",' +\n                '\"paramX\":{\"interval\":\"27\",\"speed\":\"800\"}}';\n//B6.PLANT.LINE.ENV.LIGHT\nreturn msg;","outputs":1,"noerr":0,"x":627.3469848632812,"y":935.2896118164062,"wires":[["b9503f4b.26244"]]},{"id":"8589f4d0.e662b8","type":"function","z":"a5b56371.83719","name":"prep exec message","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"B6.CLIMATE.UNIT.SHADE.RIGHT\",' +\n                '\"param0\":\"startRight\",' +\n                '\"paramX\":{\"interval\":\"5\",\"speed\":\"2100\"}}';\n//B6.PLANT.LINE.ENV.LIGHT\nreturn msg;","outputs":1,"noerr":0,"x":629.2969360351562,"y":988.3828735351562,"wires":[["b9503f4b.26244"]]},{"id":"52fba89a.0bdf98","type":"function","z":"a5b56371.83719","name":"prep exec message","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"B6.CLIMATE.UNIT.SHADE.RIGHT\",' +\n                '\"param0\":\"stop\",' +\n                '\"paramX\":{\"interval\":\"1\",\"speed\":\"2000\"}}';\n//B6.PLANT.LINE.ENV.LIGHT\nreturn msg;","outputs":1,"noerr":0,"x":633,"y":1038.0000610351562,"wires":[["b9503f4b.26244"]]},{"id":"10a49979.777d37","type":"inject","z":"a5b56371.83719","name":"Beschattung / links / stop(neu)","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{}","payloadType":"json","x":382.0000305175781,"y":1241,"wires":[["bc1ba7fc.db5fc8"]]},{"id":"bc1ba7fc.db5fc8","type":"function","z":"a5b56371.83719","name":"prep exec message","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"B6.CLIMATE.UNIT.SHADE.LEFT\",' +\n                '\"param0\":\"startRight\",' +\n                '\"paramX\":{\"speed\":\"0\"}}';\n//B6.PLANT.LINE.ENV.LIGHT\nreturn msg;","outputs":1,"noerr":0,"x":652.0000305175781,"y":1241,"wires":[["b9503f4b.26244"]]},{"id":"5c27de62.1539d","type":"inject","z":"a5b56371.83719","name":"Beschattung / links / hoch","repeat":"","crontab":"","once":false,"topic":"","payload":"{}","payloadType":"json","x":372.0000305175781,"y":1181,"wires":[["a81b2810.c0f018"]]},{"id":"a81b2810.c0f018","type":"function","z":"a5b56371.83719","name":"prep exec message","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"B6.CLIMATE.UNIT.SHADE.LEFT\",' +\n                '\"param0\":\"startRight\",' +\n                '\"paramX\":{\"speed\":\"1600\"}}';\n//B6.PLANT.LINE.ENV.LIGHT\nreturn msg;","outputs":1,"noerr":0,"x":640.46142578125,"y":1187.5313110351562,"wires":[["b9503f4b.26244"]]},{"id":"d39db710.97be28","type":"debug","z":"a5b56371.83719","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1160,"y":680,"wires":[]},{"id":"f48962cd.5df31","type":"inject","z":"fc1f6c41.e5c79","name":"Greenhouse Light","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6plant.controller\", \"param0\":\"AU.RUNPUMP\", \"replyTo\":\"REPLY MQTT CHANNEL\",  \"paramX\":{\"unit\":\"B6.PLANT.LINE.ENV.LIGHT\", \"interval\":\"120\",\"db\":\"true\",\"twitter\":\"false\"} }","payloadType":"str","x":170,"y":320,"wires":[["8dde8ec0.b4ba8"]]},{"id":"1caf3d7a.5042b3","type":"inject","z":"a5b56371.83719","name":"Get Humidity Sensor Data","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{}","payloadType":"json","x":355,"y":532,"wires":[["7f3766fb.efe108"]]},{"id":"7f3766fb.efe108","type":"function","z":"a5b56371.83719","name":"prep exec message","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"B6.CLIMATE.UNIT.SENSOR.HUMIDITY\",' +\n                '\"param0\":\"getValueAll\",' +\n                '\"paramX\":{}}';\nreturn msg;\n\n","outputs":1,"noerr":0,"x":574,"y":531,"wires":[["b9503f4b.26244"]]},{"id":"2eade736.ce5078","type":"function","z":"a443370b.2db948","name":"WINDOW","func":"// Parameter\n// destination: Name of the Motor Unit\n// direction: [open|close]\n// duration: [time in milliseconds] - default 30\n// speed: [motor speed] - default 3000\n\ndata = {\"interval\": \"30\",\n        \"speed\": \"3000\",\n        \"direction\": \"\",\n        \"unit\":msg.payload.paramX.unit\n}; \nmsg.ucobject = data;\n\n// If interval is given, overwrite default value\nif (typeof(msg.payload.paramX.interval) !== \"undefined\" && msg.payload.paramX.interval){\n   msg.ucobject.interval = msg.payload.paramX.interval;\n} \n\n// If speed is given, overwrite default value\nif (typeof(msg.payload.paramX.speed) !== \"undefined\"){\n    msg.ucobject.speed = msg.payload.paramX.speed;\n} \n\n// Transfer direction (open / close) into motor instructions\nif (msg.payload.paramX.direction == \"open\"){\n    msg.ucobject.direction = \"runLeft\";\n} \nif (msg.payload.paramX.direction == \"close\"){\n    msg.ucobject.direction = \"runRight\";\n} \n\n// Prepare execution Statement\nmsg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"' + msg.ucobject.unit + '\",' +\n                '\"param0\":\"' + msg.ucobject.direction + '\",' +\n                '\"paramX\":{\"interval\":\"' + msg.ucobject.interval + '\",\"speed\":\"' + msg.ucobject.speed + '\"}}';\n\n// B6.CLIMATE.UNIT.WINDOW.ALL\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":380,"wires":[["81896418.9c1f28"]]},{"id":"3afcfd18.411912","type":"function","z":"a5b56371.83719","name":"prep exec message","func":"msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' + \n                    '\"destination\":\"b6climate.controller\",' +\n                    '\"param0\":\"AU.WINDOW\",' +\n                    '\"paramX\":{\"unit\":\"B6.CLIMATE.UNIT.WINDOW.ALL\",' +\n                        '\"direction\":\"close\",' +\n                        '\"db\":\"true\"} }';\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":600,"wires":[["b9503f4b.26244"]]},{"id":"81896418.9c1f28","type":"ti-message","z":"a443370b.2db948","name":"ti Operate Window (open/close)","mqserver":"mqtt://localhost","intopic":"TI_CONTROLLER","outtopic":"TI_CMD","x":750,"y":380,"wires":[["b23089c8.81fd78"]]},{"id":"d123eaa2.f0d138","type":"function","z":"a443370b.2db948","name":"Format Log Parameter","func":"// Format runRight and runLeft to \"open\" / \"close\"\n\nif (msg.payload.param0 == \"runLeft\"){\n    msg.payload.param0 = \"open\";\n} \nif (msg.payload.param0 == \"runRight\"){\n    msg.payload.param0 = \"close\";\n} \n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":380,"wires":[["4d09f8c6.c6f0d8"]]},{"id":"b23089c8.81fd78","type":"json","z":"a443370b.2db948","name":"","property":"payload","action":"","pretty":false,"x":950,"y":380,"wires":[["d123eaa2.f0d138"]]},{"id":"91f9c12c.edb2a","type":"debug","z":"2ce6c32c.72889c","name":"UC Selector - Detail","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"uc","targetType":"msg","x":560,"y":680,"wires":[]},{"id":"5cb8da4d.87afd4","type":"subflow:6046dc78.e04e74","z":"a443370b.2db948","name":"","x":490,"y":420,"wires":[]},{"id":"25049827.d06d48","type":"telegram sender","z":"ca9455bf.030da8","name":"Telegram Bot - AImy...","bot":"baa8f94a.4818b8","x":1200,"y":100,"wires":[[]]},{"id":"8decfb42.d18ca8","type":"comment","z":"6046dc78.e04e74","name":"Parameter","info":"Param 1: esp - node - name\nParam 2: event = [on|off]\nParam 3: Pump Timer - how long should the Pump run\n\nSample Message:\n\n{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"d37plant.controller\", \"param0\":\"AU.WATERING.TRAY.ESP\", \"paramX\":{\"event\":\"on\",\"reservoir_level_min\":\"80\",\"pump_timeout\":\"180000\",\"node\":\"d37node-grow-water\",\"water_return_timeout\" : \"18000000\",\"db\":\"true\",\"twitter\":\"true\"}}","x":260,"y":40,"wires":[]},{"id":"b810c666.290938","type":"function","z":"4a631457.3c182c","name":"Prep REST call - SNON2.1","func":"//SNOM implementierte Felder\n// msg.log.version: \"SNON 2.1\"\n// msg.log.messageID: Message ID\n// msg.log.messageTime\n// msg.log.message.entityID: ESP Name\n// msg.log.message.measureAcquired: z.B. \"derived\"\n// msg.log.message.value: value to be stored\n// msg.log.message.entityType: \"Humidity\", \"Temperature\", etc.\n\n//node.warn({\"msg.log (logappender)\": msg.log});\n\nmsg.headers = '{\"Content-Type\":\"application/json\"}';\n\nmsg.payload = { \"unit\":\"\"  + msg.log.message.entityID + \".\" + msg.log.message.entityType + \"\", \n                \"ts\":\"\" + msg.log.messageTime + \"\", \n                \"event\":\"\" + msg.log.message.measureAcquire + \"\", \n                \"data\": msg.log.message.value, \n                \"msgID\":\"\" + msg.log.messageID + \"\"};\n\nmsg.url = \"http://localhost:3000/api/v1/units/unitdata\";\nmsg.postrequest = msg.payload;\nmsg.method=\"POST\";\n\n//node.warn({\"msg.log (logappender)\": msg.payload});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":320,"wires":[["be21572.ff140a8","ef2a2fbe.bef78"]]},{"id":"6a26b9cd.eaf8a8","type":"mqtt in","z":"6046dc78.e04e74","name":"tele/+/SENSOR","topic":"tele/+/SENSOR","qos":"2","datatype":"auto","broker":"cbf41ed0.f5061","x":200,"y":920,"wires":[["c7d483ef.96833"]]},{"id":"fbbe5662.43eac8","type":"debug","z":"6046dc78.e04e74","name":"SENSOR_LOG","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":820,"y":900,"wires":[]},{"id":"70b361c2.e6d9d","type":"function","z":"6046dc78.e04e74","name":"prep Sensor Log","func":"// Init Log Object\nmsg.log = msg.log || {};\nmsg.db = \"true\";\n\n//node.warn(msg);\n\n//Log Record based on SNON object notation (www.snon.org)\nmsg.log.version = \"SNON 2.1\"\n\n// Log ID\nmsg.log.messageID = msg._msgid;\n\n// Log Timestamp\nlet current_datetime = new Date();\nlet formatted_date = current_datetime.getFullYear() + \"-\" + (current_datetime.getMonth() + 1) + \"-\" + current_datetime.getDate() + \" \" + current_datetime.getHours() + \":\" + current_datetime.getMinutes() + \":\" + current_datetime.getSeconds();\nmsg.log.messageTime = formatted_date;\n\n// Log Message\n//Split topic: tele/[NodeName]/[Event]\nmsg.log.message = msg.log.message || {};\n\nvar sender = msg.topic.split('/');\nmsg.log.message.entityID = sender[1]; \n\nmsg.log.message.measureAcquire = \"derived\";\n//msg.payloadUpdate =  msg.payload.replace(/\\\\/g, \"\");\nvar msgPayload = msg.payload;\n//node.warn(msgPayload);\nObject.keys(msgPayload).forEach(function(key) {\n    //node.warn({\"key=\": key.substr(0, 5)});\n    if (key.substr(0, 5) === \"SHT3X\") { // Sensor delivers Temp, Humidity, Drew Point\n      Object.keys(msgPayload[key]).forEach(function(subkey) {\n        msg.log.message.value = {\"value\":  msgPayload[key][subkey] }; //msgPayload.payload[key].key2; //ToDo \n        msg.log.message.entityType = subkey;\n        node.send(msg,null);\n      });\n    } \n    \n    if (key === \"SR04\") { // Ultrasonic Sensor\n      msg.log.message.entityType = Object.keys(msgPayload[key])[0];\n      msg.log.message.value = {\"value\":  msgPayload[key].Distance  }; \n      node.send(msg,null);              \n    } \n    \n    if (key === \"BME280\") {\n        Object.keys(msgPayload[key]).forEach(function(subkey) {\n            msg.log.message.value = {\"value\":  msgPayload[key][subkey] }; //msgPayload.payload[key].key2; //ToDo \n            msg.log.message.entityType = subkey;\n            node.send(msg,null);\n        });\n    }\n    \n    if(key == \"TSL2561\") {\n        msg.log.message.entityType = \"Illuminance\";\n        msg.log.message.value = {\"value\":  msgPayload[key].Illuminance  }; \n        node.send(msg,null);\n    }\n    \n    if (key.substr(0, 7) === \"DS18B20\") {\n        msg.log.message.entityType = key + \"_\" + msgPayload[key].Id;\n        msg.log.message.value = {\"value\":  msgPayload[key].Temperature  }; \n        node.send(msg,null);\n    }\n    \n    if(key == \"ADS1115\") {  //Analog - Digital Converter\n      Object.keys(msgPayload[key]).forEach(function(subkey) {\n        msg.log.message.value = {\"value\":  msgPayload[key][subkey] }; //msgPayload.payload[key].key2; //ToDo \n        msg.log.message.entityType = subkey;\n        node.send(msg,null);\n      });\n    }\n    \n    \n});\n\nreturn msg;\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":570,"y":920,"wires":[["fbbe5662.43eac8","bc2f1b7f.5e2ee8"],["e0f6b281.b00d"]]},{"id":"d08d02b7.30541","type":"inject","z":"6046dc78.e04e74","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Time\":\"2020-07-23T18:35:17\",\"Switch1\":\"OFF\",\"SHT3X-0x44\":{\"Temperature\":25.7,\"Humidity\":39.8,\"DewPoint\":10.9},\"SR04\":{\"Distance\":55.333},\"TempUnit\":\"C\"}","payloadType":"str","x":200,"y":860,"wires":[["70b361c2.e6d9d"]]},{"id":"e0f6b281.b00d","type":"debug","z":"6046dc78.e04e74","name":"SENSOR_LOG - Error","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":840,"y":940,"wires":[]},{"id":"c7d483ef.96833","type":"json","z":"6046dc78.e04e74","name":"","property":"payload","action":"","pretty":false,"x":370,"y":920,"wires":[["70b361c2.e6d9d"]]},{"id":"9175582b.2b9468","type":"inject","z":"d383d062.fb00e","name":"timestamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/30 7-19 * * *","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":110,"y":120,"wires":[["710d92ab.2edcec"]]},{"id":"710d92ab.2edcec","type":"function","z":"d383d062.fb00e","name":"set gateway node name and set bot","func":"msg.nodename = global.get('hname'); \n\nmsg.timestamp = msg.payload;\n\n// Prep Bot Monitoring\nmsg.bot = msg.bot || {};\nflow.set(\"bot\",msg.bot);\nmsg.bot.eventtype = \"info\";\nmsg.bot.status =\"[ok]\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":120,"wires":[["4ecb915e.178c6"]]},{"id":"4ecb915e.178c6","type":"function","z":"d383d062.fb00e","name":"Get facility and config for node","func":"//msg.time = msg.payload;\n\n//msg.payload = {\"unit\":\"unit\", \"ts\":\"\" + msg.time + \"\", \"event\":\"event\", \n//                \"msgID\":\"msgID\", \n//                \"data\":[{\"value\" : 8}]};\n                \n//msg.payload = {\"unit\": \"string\",  \"ts\": \"string\",  \"event\": \"string\",  \"msgid\": \"string\",  \"data\": [{\"value\": 0}]};\nmsg.headers = '{\"Content-Type\":\"application/json\"}';\n\nmsg.url = \"http://192.168.0.144:3000/api/v1/config/facility/\";\nmsg.url = msg.url + msg.nodename;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":120,"wires":[["9f09f142.00d09"]]},{"id":"9f09f142.00d09","type":"http request","z":"d383d062.fb00e","name":"/config/[:node]","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1060,"y":120,"wires":[["b2f786c6.b824a8"]]},{"id":"b2f786c6.b824a8","type":"json","z":"d383d062.fb00e","name":"Convert API result","property":"payload","action":"","pretty":false,"x":1290,"y":120,"wires":[["7de6c63e.9ece88"]]},{"id":"c9d2a7c8.8fba88","type":"debug","z":"d383d062.fb00e","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":600,"wires":[]},{"id":"7de6c63e.9ece88","type":"function","z":"d383d062.fb00e","name":"get esp-cam IPs","func":"objarr = msg.payload['docs'][0].nodes;\n\nmsg.facility = msg.payload['docs'][0].name\n\nvar esp_cam_arr = [];\nfor (var i = 0; i < objarr.length;i++){\n    \n    if (objarr[i].type == \"espcam\"){\n        //msg.ip = objarr[i].netaddress\n        //msg.esp_nodename = objarr[i].name\n        esp_cam_arr.push([objarr[i].netaddress, \n        objarr[i].name,\n        objarr[i].img_basedir, \n        objarr[i].cloudip ])\n           \n    }\n}\nmsg.payload = esp_cam_arr\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":100,"y":200,"wires":[["8059a7b5.197588"]]},{"id":"8719ecf5.dbbb6","type":"http request","z":"d383d062.fb00e","name":"","method":"GET","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1050,"y":260,"wires":[["cc03e23a.3c9c7","f68c878.7c0d278","172fe807.f48198"]]},{"id":"4fc35d76.3e08d4","type":"function","z":"d383d062.fb00e","name":"Prepare image request call to esp-cam ","func":"//msg.time = msg.payload;\n\n//msg.payload = {\"unit\":\"unit\", \"ts\":\"\" + msg.time + \"\", \"event\":\"event\", \n//                \"msgID\":\"msgID\", \n//                \"data\":[{\"value\" : 8}]};\n                \n//msg.payload = {\"unit\": \"string\",  \"ts\": \"string\",  \"event\": \"string\",  \"msgid\": \"string\",  \"data\": [{\"value\": 0}]};\n\nmsg.url = \"http://\"+msg.ip+\"/capture\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":260,"wires":[["8719ecf5.dbbb6","bad57ccd.ede23"]]},{"id":"cc03e23a.3c9c7","type":"file","z":"d383d062.fb00e","name":"Save image to local file system","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":170,"y":460,"wires":[["c9d2a7c8.8fba88","9baa470b.aea0c8","8e2d6f66.1d602"]]},{"id":"e6fc6a7b.9c4e28","type":"function","z":"d383d062.fb00e","name":"setup local path and filename","func":"//ToDo: Replace with dictionary\nip = msg.payload[0]\ncam_name = msg.payload[1]\nimg_basedir = msg.payload[2]\ncloudip = msg.payload[3]\n\n\nmsg.sub_name_fac = msg.facility+'/'+cam_name+'/'+msg.timestamp+\".jpg\"\nmsg.filename = img_basedir+'/'+msg.sub_name_fac;\n\n\n\nmsg.cam_name = cam_name\nmsg.ip = ip\n\nmsg.img_basedir = img_basedir;//;\nmsg.cloudip = cloudip;// \n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":200,"wires":[["7ac5f51b.67135c"]]},{"id":"9f844fc8.9dce9","type":"function","z":"ca9455bf.030da8","name":"Request Bots Config","func":"msg.time = msg.payload;\n\nmsg.headers = '{\"Content-Type\":\"application/json\"}';\n\nmsg.url = \"http://localhost:3000/api/v1/config/facility/\";\nmsg.url = msg.url +  global.get('hname');\n//node.warn({\"msg.url (bot)\": msg.url});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":100,"wires":[["7ecabd0a.b4f5e4"]]},{"id":"7ecabd0a.b4f5e4","type":"http request","z":"ca9455bf.030da8","name":"/config/facility/[:node]","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":100,"wires":[["3271c920.5ddfa6"]]},{"id":"c3730244.b78d7","type":"function","z":"ca9455bf.030da8","name":"Set Bot Parameter","func":"for (var key in msg.payload.docs[0].bots) {\n    if (key === msg.bot.eventtype + \".chatId\") {\n        msg.payload.chatId=msg.payload.docs[0].bots[key] ;\n        //node.warn(key + \" -> \" + msg.payload.docs[0].bots[key]);\n    }\n    //node.warn(key + \" -> \" + msg.payload.docs[0].bots[key]);\n}\n\nmsg.payload.type=\"message\";\nmsg.payload.options = {parse_mode : \"html\"};\nmsg.payload.content = msg.bot.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":100,"wires":[["25049827.d06d48"]]},{"id":"3271c920.5ddfa6","type":"json","z":"ca9455bf.030da8","name":"","property":"payload","action":"","pretty":false,"x":750,"y":100,"wires":[["c3730244.b78d7"]]},{"id":"863b7259.432e6","type":"comment","z":"ca9455bf.030da8","name":"Parameter for AIBot Subflow","info":"Data stored in msg.bot object\n\nmsg.bot.eventtype = [alert|info] -> defines the Channel \nmsg.bot.content = [Message Content]; -> message to be send","x":180,"y":40,"wires":[]},{"id":"8059a7b5.197588","type":"split","z":"d383d062.fb00e","name":"Split esp cam array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":310,"y":200,"wires":[["e6fc6a7b.9c4e28","c94aec44.0d499"]]},{"id":"c94aec44.0d499","type":"debug","z":"d383d062.fb00e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":150,"y":340,"wires":[]},{"id":"bad57ccd.ede23","type":"debug","z":"d383d062.fb00e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":460,"y":320,"wires":[]},{"id":"55932014.e1a74","type":"function","z":"d383d062.fb00e","name":"prep Log","func":"var logobj = flow.get(\"log\");\nmsg.log = msg.log || {};\nmsg.log = logobj;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":460,"wires":[["4ee59c4b.296814","e1d169f2.3c5168"]]},{"id":"4ee59c4b.296814","type":"subflow:4a631457.3c182c","z":"d383d062.fb00e","name":"","env":[],"x":1240,"y":420,"wires":[]},{"id":"e1d169f2.3c5168","type":"debug","z":"d383d062.fb00e","name":"log before register to db","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":500,"wires":[]},{"id":"fc49055d.5b1598","type":"mqtt in","z":"6046dc78.e04e74","name":"stat/#","topic":"stat/#","qos":"2","datatype":"auto","broker":"cbf41ed0.f5061","x":170,"y":660,"wires":[["ebd98bda.a82e78","bc2c4cd2.86bee"]]},{"id":"bf8e1835.d38a78","type":"mqtt out","z":"6046dc78.e04e74","name":"","topic":"","qos":"","retain":"","broker":"cbf41ed0.f5061","x":310,"y":760,"wires":[]},{"id":"8b9eb591.2773a8","type":"inject","z":"6046dc78.e04e74","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":170,"y":320,"wires":[["f3998f3c.327e5"]]},{"id":"e61407a4.234c48","type":"function","z":"6046dc78.e04e74","name":"Check Power1 (Pump)","func":"context.chk = context.chk || {};\nswitch (msg.case) {\n  case \"startEvent\":\n    context.chk = msg.payload_ori;\n    break;\n  case \"mqttEvent\":\n    if (typeof(context.chk.paramX) !== \"undefined\"){\n      if (msg.topic==\"stat/\" + context.chk.paramX.node + \"/RESULT\"){\n        msg.payload = JSON.parse(msg.payload);\n        if (typeof(msg.payload.POWER1) !== \"undefined\"){\n            msg.PowerEins=\"true\";\n            if (msg.payload.POWER1==\"OFF\") {\n                msg.case = \"stopEvent\";\n                msg.OFF=\"true\";\n                msg.payload_ori = context.data;\n                return [msg, null];\n            } else {\n                msg.OFF=\"false\";\n                return [null,msg];\n            } \n        } else {\n            msg.PowerEins=\"false\";\n        } \n      } else {\n          //node.warn(\"wrong topic\" );\n      }\n    } else {\n        //node.warn(\"typeof not set:\"+ JSON.stringify(context.chk));\n    }\n    break;\n}\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":600,"y":520,"wires":[["886f106.6650cf"],[]]},{"id":"f3998f3c.327e5","type":"function","z":"6046dc78.e04e74","name":"Set Pump Topic","func":"var logobj = flow.get(\"log\");\n\nmsg.topic = \"cmnd/\" + msg.payload_ori.paramX.node + \"/Power1\";\nmsg.payload = msg.payload_ori.paramX.event;\nmsg.case =\"startEvent\";\n\nmsg.logvalue = \"1\";\n\nObject.assign(logobj.message.value,{\"pump_id\":msg.topic});\n// Log Timestamp\nlet current_datetime = new Date();\nlet formatted_date = current_datetime.getFullYear() + \"-\" + (current_datetime.getMonth() + 1) + \"-\" + current_datetime.getDate() + \" \" + current_datetime.getHours() + \":\" + current_datetime.getMinutes() + \":\" + current_datetime.getSeconds();\n\nObject.assign(logobj.message.value,{\"pump_start_ts\":formatted_date});\n            \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":320,"wires":[["886f106.6650cf","62a2ec27.b647e4","7edbe713.b19908","e61407a4.234c48"]]},{"id":"79a850d8.d1fd2","type":"delay","z":"6046dc78.e04e74","name":"","pauseType":"delayv","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":480,"wires":[["886f106.6650cf"]]},{"id":"886f106.6650cf","type":"function","z":"6046dc78.e04e74","name":"Pump Flow Control","func":"var logobj = flow.get(\"log\");\nvar bot = flow.get(\"bot\");\nvar payload_ori = flow.get(\"payload\");\n\nmsg.db = payload_ori.paramX.db;\n\ncontext.data = context.data || {};\nswitch (msg.case) {\n  case \"startEvent\":\n      context.data.startEvent = msg;\n      context.data.timerEvent = null;\n      context.data.stopEvent = null;\n  break;\n  case \"timerEvent\":\n      context.data.timerEvent = msg;\n  break;\n  case \"stopEvent\":\n      context.data.stopEvent = msg;\n  break;\n}\n\n// Log Timestamp\nlet current_datetime = new Date();\nlet formatted_date = current_datetime.getFullYear() + \"-\" + (current_datetime.getMonth() + 1) + \"-\" + current_datetime.getDate() + \" \" + current_datetime.getHours() + \":\" + current_datetime.getMinutes() + \":\" + current_datetime.getSeconds();\n\n// \"success\"-case -> Pump was triggered and endpoint was reached\nif (context.data.startEvent!==null && context.data.stopEvent!==null && context.data.timerEvent===null) {\n    context.data = null;\n    msg.reset=1;\n    msg.event=\"success\";\n    \n    Object.assign(logobj.message.value,{\"endpoint_reached_ts\":formatted_date});\n    \n    //Validate if Pump has been running for more than 10 seconds (10000 mSeconds)\n    let diff = Math.abs(new Date(logobj.message.value.endpoint_reached_ts) - new Date(logobj.message.value.pump_start_ts));\n    if (diff<10000) {\n        //node.warn({\"diff alert\": diff});\n        Object.assign(logobj.message.value,{\"state\":\"ERROR:pump did finish already after \" + diff / 1000 + \" sec. Check if water is not drained in pipe\"});\n        bot.eventtype = \"alert\"\n        bot.content = bot.content + \"\\r\\n ERROR - Watering () - Pump did finish to early (Water not drained in pump?)!\";\n    } else {\n        //node.warn({\"diff normal\": diff});\n        bot.content = bot.content + \"\\r\\n SUCCESS: full watering circle finalized\";\n    }\n    Object.assign(logobj.message.value,{\"value\":diff / 1000});\n    \n    msg.bot = bot;\n    return [msg,null];\n}\n\n// \"failed\"- case -> Time limit for pump run was reached\nif (context.data.startEvent!==null && context.data.stopEvent===null && context.data.timerEvent!==null) {\n    context.data = null;\n    Object.assign(logobj.message.value,{\"state\":\"ERROR:pump not finished within time limit\"});\n    bot.eventtype = \"alert\"\n    let bot_msg = \"\\r\\n ERROR - Watering () - Pump not finished within time limit!\";\n    Object.assign(logobj.message.value,{\"value\":0});\n   \n    if (payload_ori.paramX.check_endpoint!==null) {\n        if (payload_ori.paramX.check_endpoint===\"false\") {\n            Object.assign(logobj.message.value,{\"timeout_reached_ts\":formatted_date});\n            Object.assign(logobj.message.value,{\"state\":\"SUCCESS: partial fill finalized\"});\n            bot_msg = \"\\r\\n SUCCESS: partial watering circle finalized\";\n    \n            let diff = Math.abs(new Date(formatted_date) - new Date(logobj.message.value.pump_start_ts));\n    \n            Object.assign(logobj.message.value,{\"value\":diff / 1000});\n            bot.eventtype = \"info\";\n        }        \n    } \n    \n    bot.content = bot.content + bot_msg;\n    msg.bot = bot;\n    \n    msg.topic = \"cmnd/\" + payload_ori.paramX.node + \"/Power1\";\n    msg.payload = \"off\";\n\n    return [null,msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":970,"y":380,"wires":[["79a850d8.d1fd2","4adb234f.dff18c","ba74b132.aece2"],["ba74b132.aece2","4adb234f.dff18c","40805cd7.4ad334"]]},{"id":"62a2ec27.b647e4","type":"function","z":"6046dc78.e04e74","name":"Timer Event","func":"var logobj = flow.get(\"log\");\nmsg.case =\"timerEvent\";\nmsg.delay = msg.payload_ori.paramX.pump_timeout; //(1 min - 60000)\n\nObject.assign(logobj.message.value,{\"pump_timeout\":msg.delay});\n            \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":420,"wires":[["79a850d8.d1fd2"]]},{"id":"aec0cc3f.f4975","type":"inject","z":"6046dc78.e04e74","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Power1\":\"OFF\"}","payloadType":"json","x":140,"y":500,"wires":[["1e427fc1.f7e7a"]]},{"id":"1e427fc1.f7e7a","type":"function","z":"6046dc78.e04e74","name":"Set Power1 (test)","func":"msg.payload.Power1=\"OFF\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":350,"y":500,"wires":[["e61407a4.234c48"]]},{"id":"ebd98bda.a82e78","type":"debug","z":"6046dc78.e04e74","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":740,"wires":[]},{"id":"3a4be193.4d755e","type":"function","z":"6046dc78.e04e74","name":"Set Distance Sensor Topic","func":"// Prep log Object\nmsg.logobj = msg.logobj || {};\nflow.set(\"log\",msg.logobj);\n\nmsg.logobj.messageID = msg._msgid;\nmsg.logobj.logevent = \"data\";\n\n// Log Timestamp\nlet current_datetime = new Date();\nlet formatted_date = current_datetime.getFullYear() + \"-\" + (current_datetime.getMonth() + 1) + \"-\" + current_datetime.getDate() + \" \" + current_datetime.getHours() + \":\" + current_datetime.getMinutes() + \":\" + current_datetime.getSeconds();\nmsg.logobj.messageTime = formatted_date;\n\nmsg.logobj.message = msg.logobj.message || {};\nmsg.logobj.message.entityType = msg.payload.param0;\nmsg.logobj.message.entityID=msg.payload.paramX.node;\nmsg.logobj.message.measureAcquire = msg.payload.param0;\nmsg.logobj.message.value ={\"time_start_ts\":formatted_date};\nmsg.logobj.messageURL = \"<a href='http://192.168.0.112:5984/_utils/#database/d37/\" + msg.logobj.messageTime + \"_\" + msg.logobj.message.entityID + \".\" + msg.logobj.message.entityType + \"'>Click for Details</a>\";\n\n// Prep Bot Monitoring\nmsg.bot = msg.bot || {};\nflow.set(\"bot\",msg.bot);\nmsg.bot.eventtype = \"info\";\nmsg.bot.status =\"[ok]\"\nmsg.bot.content = \"Watering (\" + msg.payload.paramX.node + \") \\n\" + msg.logobj.messageURL;\n\n//Save ori message\nflow.set(\"payload\",msg.payload);\nmsg.payload_ori = msg.payload;\nmsg.case =\"startEvent\";\n\n// Set ESP MQTT Message to query Sensor information\nmsg.topic = \"cmnd/\" + msg.payload.paramX.node + \"/Status\";\nmsg.payload = \"10\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":180,"wires":[["ad4870bd.2f5c8","f880a606.1e4668"]]},{"id":"2e3efa00.2bb7e6","type":"link out","z":"6046dc78.e04e74","name":"Test_Tasmota_In","links":["d5b54183.aaf27","abd6b4f0.debe58","dffee1cf.500a9"],"x":555,"y":660,"wires":[]},{"id":"d5b54183.aaf27","type":"link in","z":"6046dc78.e04e74","name":"","links":["2e3efa00.2bb7e6"],"x":575,"y":140,"wires":[["f880a606.1e4668"]]},{"id":"f880a606.1e4668","type":"function","z":"6046dc78.e04e74","name":"Check Min Waterlevel (Reservoir)","func":"msg.distance = 0;\ncontext.data = context.data || {};\nvar bot = flow.get(\"bot\");\nvar logobj = flow.get(\"log\");\n\nswitch (msg.case) {\n  case \"startEvent\":\n    context.data = msg.payload_ori;\n    //context.data.nodename = msg.payload_ori.paramX.node;\n    //context.data.reservoir_level_min = msg.payload_ori.paramX.reservoir_level_min\n    break;\n  case \"mqttEvent\":\n    if (typeof (context.data.paramX) !== \"undefined\"){\n        if (msg.topic==\"stat/\" + context.data.paramX.node + \"/STATUS10\") {\n            msg.payload = JSON.parse(msg.payload);\n            msg.distance = msg.payload.StatusSNS.SR04.Distance;\n            Object.assign(logobj.message.value,{\"start_reservoir_level_min\":parseFloat(context.data.paramX.reservoir_level_min)});\n            Object.assign(logobj.message.value,{\"start_reservoir_level_current\":msg.distance});\n            \n            msg.payload_ori = context.data;\n            // If distance is lower min level -> run pum\n            if (Number(msg.distance) < Number(context.data.paramX.reservoir_level_min)) {\n                return [msg, null];\n            } else {\n                Object.assign(logobj.message.value,{\"state\":\"ERROR:reservoir below critical limit\"});\n                msg.db = msg.payload_ori.paramX.db;\n                bot.eventtype = \"alert\"\n                bot.content = bot.content + \"-> ERROR - Watering (\" + context.data.paramX.node + \") - Reservoir min Level reached!\";\n                msg.bot = bot;\n                return [null,msg]; \n            }\n        }\n    }\n    break;\n}\n\n\n \n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":820,"y":180,"wires":[["dea4dde7.43b4a","f3998f3c.327e5"],["a92d8d1e.6a9e2","4adb234f.dff18c","ba74b132.aece2"]]},{"id":"dea4dde7.43b4a","type":"debug","z":"6046dc78.e04e74","name":"sucess (Waterlevel)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":140,"wires":[]},{"id":"a92d8d1e.6a9e2","type":"debug","z":"6046dc78.e04e74","name":"failed (Waterlevel)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":180,"wires":[]},{"id":"5a0bd65b.ab6eb8","type":"link in","z":"6046dc78.e04e74","name":"esp_out","links":["ad4870bd.2f5c8","7edbe713.b19908","7e8090fa.e9f92","40805cd7.4ad334"],"x":155,"y":760,"wires":[["bf8e1835.d38a78"]]},{"id":"ad4870bd.2f5c8","type":"link out","z":"6046dc78.e04e74","name":"esp_send_mqtt","links":["5a0bd65b.ab6eb8"],"x":535,"y":220,"wires":[]},{"id":"7edbe713.b19908","type":"link out","z":"6046dc78.e04e74","name":"esp_send_mqtt","links":["5a0bd65b.ab6eb8"],"x":575,"y":320,"wires":[]},{"id":"abd6b4f0.debe58","type":"link in","z":"6046dc78.e04e74","name":"","links":["2e3efa00.2bb7e6"],"x":435,"y":560,"wires":[["e61407a4.234c48"]]},{"id":"bc2c4cd2.86bee","type":"function","z":"6046dc78.e04e74","name":"set MQTT Case","func":"//msg =  msg.payload.replace(/\\\\/g, \"\");;\n//node.warn(msg);\n\nmsg.case=\"mqttEvent\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":340,"y":660,"wires":[["2e3efa00.2bb7e6"]]},{"id":"bc2f1b7f.5e2ee8","type":"subflow:4a631457.3c182c","z":"6046dc78.e04e74","name":"","x":1620,"y":300,"wires":[]},{"id":"84d5110f.6410a","type":"debug","z":"6046dc78.e04e74","name":"log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1570,"y":340,"wires":[]},{"id":"4adb234f.dff18c","type":"subflow:ca9455bf.030da8","z":"6046dc78.e04e74","name":"","x":1410,"y":540,"wires":[[]]},{"id":"ba74b132.aece2","type":"function","z":"6046dc78.e04e74","name":"prep Log","func":"var logobj = flow.get(\"log\");\nmsg.log = msg.log || {};\nmsg.log = logobj;\n\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":300,"wires":[["bc2f1b7f.5e2ee8","84d5110f.6410a"]]},{"id":"b16841e0.3c585","type":"comment","z":"6046dc78.e04e74","name":"ToDo in Flow (next increment)","info":"1. Check return value from ESP (has the pump really started?)\n2. Replace date String generation with standard functionality\n3. get reservoir value at the end of the flow. Compare beginning to end (senity check), control after x min to check water downflow\n4. compare pump start with end (duration) and throw error if time is below threshold\n5. Replace \"send/receive\" nodes with single \"tasmota\" node\n6. Change msg.url from CouchDB to API service request - REPLACE FIXED URL STRING TO COUCHDB IN START NODE\n7. Store State infomation of ESP in database","x":600,"y":40,"wires":[]},{"id":"60241e07.8f90f","type":"mqtt in","z":"6046dc78.e04e74","name":"tele/+/LWT","topic":"tele/+/LWT","qos":"2","datatype":"auto","broker":"cbf41ed0.f5061","x":180,"y":1020,"wires":[["9e92df8e.01f0b"]]},{"id":"3866ac6b.eed624","type":"mqtt in","z":"6046dc78.e04e74","name":"tele/+/STATE","topic":"tele/+/STATE","qos":"2","datatype":"auto","broker":"cbf41ed0.f5061","x":190,"y":1100,"wires":[["b6550a21.8c0028"]]},{"id":"9e92df8e.01f0b","type":"debug","z":"6046dc78.e04e74","name":"LWT_log","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":660,"y":1020,"wires":[]},{"id":"b6550a21.8c0028","type":"debug","z":"6046dc78.e04e74","name":"STATE_log","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":1100,"wires":[]},{"id":"7ac5f51b.67135c","type":"function","z":"d383d062.fb00e","name":"Prepare http-framesize setting call to esp-cam ","func":"//msg.time = msg.payload;\n\n//msg.payload = {\"unit\":\"unit\", \"ts\":\"\" + msg.time + \"\", \"event\":\"event\", \n//                \"msgID\":\"msgID\", \n//                \"data\":[{\"value\" : 8}]};\n                \n//msg.payload = {\"unit\": \"string\",  \"ts\": \"string\",  \"event\": \"string\",  \"msgid\": \"string\",  \"data\": [{\"value\": 0}]};\n\nmsg.url = \"http://\"+msg.ip+\"/control?var=framesize&val=10\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":200,"wires":[["dcd7b8b4.cd7488","bad57ccd.ede23"]]},{"id":"dcd7b8b4.cd7488","type":"http request","z":"d383d062.fb00e","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1230,"y":200,"wires":[["f66c5717.966f48"]]},{"id":"f66c5717.966f48","type":"function","z":"d383d062.fb00e","name":"Prepare http-quality(resolution) setting call to esp-cam ","func":"//msg.time = msg.payload;\n\n//msg.payload = {\"unit\":\"unit\", \"ts\":\"\" + msg.time + \"\", \"event\":\"event\", \n//                \"msgID\":\"msgID\", \n//                \"data\":[{\"value\" : 8}]};\n                \n//msg.payload = {\"unit\": \"string\",  \"ts\": \"string\",  \"event\": \"string\",  \"msgid\": \"string\",  \"data\": [{\"value\": 0}]};\n\nmsg.url = \"http://\"+msg.ip+\"/control?var=quality&val=12\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":260,"wires":[["459ae10b.d7c81","bad57ccd.ede23"]]},{"id":"459ae10b.d7c81","type":"http request","z":"d383d062.fb00e","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":260,"wires":[["4fc35d76.3e08d4","6e8103d7.23eb8c"]]},{"id":"9baa470b.aea0c8","type":"function","z":"d383d062.fb00e","name":"prepare logobject","func":"// Prep log Object\nmsg.logobj = msg.logobj || {};\nflow.set(\"log\",msg.logobj);\n\nmsg.logobj.messageID = msg._msgid;\nmsg.logobj.logevent = \"data\";\nlet current_datetime = new Date();\nlet formatted_date = current_datetime.getFullYear() + \"-\" + (current_datetime.getMonth() + 1) + \"-\" + current_datetime.getDate() + \" \" + current_datetime.getHours() + \":\" + current_datetime.getMinutes() + \":\" + current_datetime.getSeconds();\nmsg.logobj.messageTime = formatted_date;\nmsg.logobj.message = msg.logobj.message || {};\nmsg.logobj.message.entityType = \"IMAGE\";\nmsg.logobj.message.entityID=msg.cam_name;\nmsg.logobj.message.measureAcquire =  \"captured\";\nvar time = current_datetime.getHours() + \":\" + current_datetime.getMinutes() + \":\" + current_datetime.getSeconds();\nmsg.logobj.message.value ={\"value\":1,\"Captured \":msg.sub_name_fac,\"time \":msg.timestamp, \"ip\": msg.ip };\nmsg.db = \"true\";\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":460,"wires":[["55932014.e1a74"]]},{"id":"54f868ee.860928","type":"function","z":"d383d062.fb00e","name":"prepare rsync command","func":"\nmsg.payload = 'rsync --relative --inplace --partial --append --progress -avz '+msg.img_basedir+'/'+msg.facility+'/./'+msg.cam_name+'/ pi@'+msg.cloudip+':'+msg.img_basedir+'/'+msg.facility+'/'\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":580,"wires":[["8f600d34.fd88f"]]},{"id":"8f600d34.fd88f","type":"exec","z":"d383d062.fb00e","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":990,"y":580,"wires":[[],["b87e67f0.27db28"],[]]},{"id":"b87e67f0.27db28","type":"debug","z":"d383d062.fb00e","name":"rsync with cloud debug","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1250,"y":580,"wires":[]},{"id":"8e2d6f66.1d602","type":"delay","z":"d383d062.fb00e","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":520,"wires":[["54f868ee.860928"]]},{"id":"262766ec.6acbfa","type":"inject","z":"e6a5f68f.971a78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":150,"y":500,"wires":[["99f893d4.43d5c"]]},{"id":"622886ad.003788","type":"debug","z":"e6a5f68f.971a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":480,"wires":[]},{"id":"99f893d4.43d5c","type":"function","z":"e6a5f68f.971a78","name":"","func":"// Log Timestamp\n    let current_datetime = new Date();\n    let formatted_date = current_datetime.getFullYear() + \"-\" + (current_datetime.getMonth() + 1) + \"-\" + current_datetime.getDate() + \" \" + current_datetime.getHours() + \":\" + current_datetime.getMinutes() + \":\" + current_datetime.getSeconds();\n\n    let next_datetime = new Date();\n    next_datetime.setSeconds(next_datetime.getSeconds() + 1);\n    let next_formatted_date = next_datetime.getFullYear() + \"-\" + (next_datetime.getMonth() + 1) + \"-\" + next_datetime.getDate() + \" \" + next_datetime.getHours() + \":\" + next_datetime.getMinutes() + \":\" + next_datetime.getSeconds();\n    \n    let conv_date1 = new Date(formatted_date);\n    let conv_date2 = new Date(next_formatted_date);\n    let diff = Math.abs(new Date(formatted_date) - new Date(next_formatted_date));\n\nnode.warn({\"date \": formatted_date, \"date_next\":next_formatted_date});\nnode.warn({\"diff\": diff});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":500,"wires":[["622886ad.003788"]]},{"id":"40805cd7.4ad334","type":"link out","z":"6046dc78.e04e74","name":"","links":["5a0bd65b.ab6eb8"],"x":1135,"y":480,"wires":[]},{"id":"f68c878.7c0d278","type":"debug","z":"d383d062.fb00e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1490,"y":260,"wires":[]},{"id":"da91441a.a09a78","type":"inject","z":"6805060.8f44ffc","name":"LED (unten) - an","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"topic":"switch1","payload":"1","payloadType":"str","x":190,"y":120,"wires":[["4ea6ee0a.2ebd"]]},{"id":"64576b94.6c5d04","type":"debug","z":"6805060.8f44ffc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":120,"wires":[]},{"id":"a77294c4.349a78","type":"inject","z":"6805060.8f44ffc","name":"LED (unten) - aus","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"switch1","payload":"0","payloadType":"str","x":190,"y":160,"wires":[["4ea6ee0a.2ebd"]]},{"id":"faeecfc6.fd592","type":"inject","z":"6805060.8f44ffc","name":"LED (oben) - an","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"switch2","payload":"1","payloadType":"str","x":180,"y":220,"wires":[["4ea6ee0a.2ebd"]]},{"id":"649e1119.6d692","type":"inject","z":"6805060.8f44ffc","name":"LED (oben) - aus","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"switch2","payload":"0","payloadType":"str","x":180,"y":260,"wires":[["4ea6ee0a.2ebd"]]},{"id":"ae62314c.97b84","type":"inject","z":"6805060.8f44ffc","name":"Pumpe (morgens) - an","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"topic":"switch3","payload":"1","payloadType":"str","x":210,"y":320,"wires":[["4ea6ee0a.2ebd"]]},{"id":"94f37dd4.cbcc5","type":"inject","z":"6805060.8f44ffc","name":"Pumpe (morgens) - aus","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"05 07 * * *","once":false,"onceDelay":0.1,"topic":"switch3","payload":"0","payloadType":"str","x":210,"y":360,"wires":[["4ea6ee0a.2ebd"]]},{"id":"5a76fbb4.0bb294","type":"inject","z":"6805060.8f44ffc","name":"Pumpe (nachmittags) - an","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 15 * * *","once":false,"onceDelay":0.1,"topic":"switch3","payload":"1","payloadType":"str","x":220,"y":420,"wires":[["4ea6ee0a.2ebd"]]},{"id":"e5dc039f.f7dd7","type":"inject","z":"6805060.8f44ffc","name":"Pumpe (nachmittags) - aus","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"05 15 * * *","once":false,"onceDelay":0.1,"topic":"switch3","payload":"0","payloadType":"str","x":220,"y":460,"wires":[["4ea6ee0a.2ebd"]]},{"id":"6b4df9b0.8f05e8","type":"inject","z":"6805060.8f44ffc","name":"Kamera - an","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"15 00 * * *","once":false,"onceDelay":0.1,"topic":"switch4","payload":"1","payloadType":"str","x":180,"y":520,"wires":[["4ea6ee0a.2ebd"]]},{"id":"5017e3e6.16f90c","type":"inject","z":"6805060.8f44ffc","name":"Kamera - aus","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"10 00 * * *","once":false,"onceDelay":0.1,"topic":"switch4","payload":"0","payloadType":"str","x":180,"y":560,"wires":[["4ea6ee0a.2ebd"]]},{"id":"2c01edfe.e1cdd2","type":"comment","z":"6805060.8f44ffc","name":"ToDo","info":"- Zeitsteuerung in Scheduler aufnehmen\n- Komponente für Tasmota in tiRouting überführen","x":200,"y":60,"wires":[]},{"id":"4ea6ee0a.2ebd","type":"Tasmota Switch","z":"6805060.8f44ffc","broker":"cbf41ed0.f5061","device":"d37node-seedling-switch","name":"d37node-seedling-switch","outputs":1,"uidisabler":false,"fullTopic":"","cmndPrefix":"","statPrefix":"","telePrefix":"","x":480,"y":100,"wires":[["64576b94.6c5d04"]]},{"id":"172fe807.f48198","type":"function","z":"d383d062.fb00e","name":"Inspect http get result and prepare bot message","func":"var bot = flow.get(\"bot\");\n\nbot.content = \"Imaging (\" + msg.cam_name  + \")\";\nif (msg.statusCode != 200){\n    bot.eventtype = \"alert\";\n    bot.content = bot.content + \"\\r\\n ERROR - HTTP call failed: \"+msg.url +\"  Please check \"+msg.cam_name\n} else {\n    //node.warn({\"diff normal\": diff});\n    bot.content = bot.content + \"\\r\\n SUCCESS: HTTP Call successed: \"+msg.url;\n    \n    return null\n}\nmsg.bot = bot;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":320,"wires":[["9e894345.07077","27ac89ba.13bbb6"]]},{"id":"9e894345.07077","type":"debug","z":"d383d062.fb00e","name":"Telegram Bot Input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":380,"wires":[]},{"id":"27ac89ba.13bbb6","type":"subflow:ca9455bf.030da8","z":"d383d062.fb00e","name":"","env":[],"x":1710,"y":320,"wires":[[]]},{"id":"6e8103d7.23eb8c","type":"function","z":"d383d062.fb00e","name":"Prepare aternative image request per ffmpeg to bitmap","func":"//msg.time = msg.payload;\n\n//msg.payload = {\"unit\":\"unit\", \"ts\":\"\" + msg.time + \"\", \"event\":\"event\", \n//                \"msgID\":\"msgID\", \n//                \"data\":[{\"value\" : 8}]};\n                \n//msg.payload = {\"unit\": \"string\",  \"ts\": \"string\",  \"event\": \"string\",  \"msgid\": \"string\",  \"data\": [{\"value\": 0}]};\n\nmsg.filename_alt = msg.filename.replace('.jpg','.jpeg');\n\nmsg.payload = \"ffmpeg -i http://\"+msg.ip+\"/capture \"+msg.filename_alt;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":720,"wires":[["9736f836.fd6478"]]},{"id":"9736f836.fd6478","type":"exec","z":"d383d062.fb00e","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":690,"y":720,"wires":[["3559f5eb.505462"],["b7778c74.f0e88"],[]]},{"id":"3559f5eb.505462","type":"debug","z":"d383d062.fb00e","name":"ffmpeg stdout","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":700,"wires":[]},{"id":"b7778c74.f0e88","type":"debug","z":"d383d062.fb00e","name":"ffmpeg stderr","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":740,"wires":[]},{"id":"56210ac7.ddf4c4","type":"inject","z":"b8c2d87e.37df68","name":"timestamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 08 * * *","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":150,"y":140,"wires":[["2da63e29.6144b2"]]},{"id":"2da63e29.6144b2","type":"function","z":"b8c2d87e.37df68","name":"set gateway node name and set bot","func":"msg.nodename = global.get('hname'); \n\nmsg.timestamp = msg.payload;\n\n// Prep Bot Monitoring\nmsg.bot = msg.bot || {};\nflow.set(\"bot\",msg.bot);\nmsg.bot.eventtype = \"info\";\nmsg.bot.status =\"[ok]\"\n\nmsg.logobj = msg.logobj || {};\nflow.set(\"log\",msg.logobj);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":140,"wires":[["4750a815.1e15a8"]]},{"id":"cf7fd973.0abe98","type":"exec","z":"b8c2d87e.37df68","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":770,"y":260,"wires":[["9bb96c91.85dd","d051d1c6.2c46b"],[],[]]},{"id":"9bb96c91.85dd","type":"function","z":"b8c2d87e.37df68","name":"Inspect remote ls exec output","func":"var bot = flow.get(\"bot\");\n\nneed_new_drone_run = false\n\nif (msg.payload.length === 0 ){\n    need_new_drone_run = true}\n\nbot.content = \"Imaging (\" + msg.name  + \")\";\nif (need_new_drone_run){\n    bot.eventtype = \"alert\";\n    bot.content = bot.content + \"\\r\\n  ERROR - (\"+msg.name +\") - No flight since \"+msg.flight_interval+\" days or Rasperry is not available due to powercut. Please start a run.\";\n} else {\n    //node.warn({\"diff normal\": diff});\n    bot.content = bot.content + \"\\r\\n SUCCESS: Drone was run within hte last three days: \";\n    \n    return null\n}\nmsg.bot = bot;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":240,"wires":[["4cd440bc.e736a"]]},{"id":"4cd440bc.e736a","type":"subflow:ca9455bf.030da8","z":"b8c2d87e.37df68","name":"","env":[],"x":1310,"y":220,"wires":[[]]},{"id":"4750a815.1e15a8","type":"function","z":"b8c2d87e.37df68","name":"Get facility and config for node","func":"//msg.time = msg.payload;\n\n//msg.payload = {\"unit\":\"unit\", \"ts\":\"\" + msg.time + \"\", \"event\":\"event\", \n//                \"msgID\":\"msgID\", \n//                \"data\":[{\"value\" : 8}]};\n                \n//msg.payload = {\"unit\": \"string\",  \"ts\": \"string\",  \"event\": \"string\",  \"msgid\": \"string\",  \"data\": [{\"value\": 0}]};\nmsg.headers = '{\"Content-Type\":\"application/json\"}';\n\nmsg.url = \"http://192.168.0.144:3000/api/v1/config/facility/\";\nmsg.url = msg.url + msg.nodename;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":140,"wires":[["40e1a53b.2e629c"]]},{"id":"40e1a53b.2e629c","type":"http request","z":"b8c2d87e.37df68","name":"/config/[:node]","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1060,"y":140,"wires":[["76f192e3.0a466c"]]},{"id":"76f192e3.0a466c","type":"json","z":"b8c2d87e.37df68","name":"Convert API result","property":"payload","action":"","pretty":false,"x":1290,"y":140,"wires":[["c5cf53e7.f92f"]]},{"id":"c5cf53e7.f92f","type":"function","z":"b8c2d87e.37df68","name":"get drone specs","func":"objarr = msg.payload['docs'][0].nodes;\n\nmsg.facility = msg.payload['docs'][0].name\n\nvar arr = [];\nfor (var i = 0; i < objarr.length;i++){\n    \n    if (objarr[i].type == \"drone\"){\n        //msg.ip = objarr[i].netaddress\n        //msg.esp_nodename = objarr[i].name\n        arr.push([objarr[i].name,\n        objarr[i].controllernetaddress, \n        objarr[i].wifiname,\n        objarr[i].flight_interval])\n           \n    }\n}\nmsg.payload = arr\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":260,"wires":[["b748efd9.5fe93","9c37ad16.42c8e","283b8546.2a56aa"]]},{"id":"b748efd9.5fe93","type":"function","z":"b8c2d87e.37df68","name":"prepare ssh check if drone runs exist command","func":"\nmsg.previouspay = msg.payload\n\nname = msg.payload[0][0]\ncontrollernetaddress = msg.payload[0][1]\nwifiname = msg.payload[0][2]\nflight_interval = msg.payload[0][3]\n\nmsg.payload = 'ssh '+controllernetaddress+' find  /home/pi/ti/tiFileStore/dos13/'+wifiname+' -mtime '+flight_interval+' -maxdepth 1 -mindepth 1 -type d'\n\nmsg.name = name\nmsg.flight_interval = flight_interval\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":260,"wires":[["7a595cfb.bfd774","cf7fd973.0abe98"]]},{"id":"d051d1c6.2c46b","type":"debug","z":"b8c2d87e.37df68","name":"inspect runs within flight_interval","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":340,"wires":[]},{"id":"7a595cfb.bfd774","type":"debug","z":"b8c2d87e.37df68","name":"PrepareFindCall","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":360,"wires":[]},{"id":"9c37ad16.42c8e","type":"debug","z":"b8c2d87e.37df68","name":"DroneSpecs","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":150,"y":340,"wires":[]},{"id":"e71c21ff.f219d","type":"debug","z":"2ce6c32c.72889c","name":"SubFlow Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":1100,"wires":[]},{"id":"777a7155.1d3fe","type":"link in","z":"2ce6c32c.72889c","name":"","links":["ef2a2fbe.bef78"],"x":635,"y":1100,"wires":[["e71c21ff.f219d"]]},{"id":"ef2a2fbe.bef78","type":"link out","z":"4a631457.3c182c","name":"","links":["777a7155.1d3fe"],"x":1005,"y":440,"wires":[]},{"id":"75367fbe.a827f","type":"function","z":"b8c2d87e.37df68","name":"prepare logobject","func":"// Prep log Object\nmsg.logobj = msg.logobj || {};\n\n\npath_to_dronerun = msg.payload;\n\nif (path_to_dronerun === \"\"){\n    return null}\n\nparts = path_to_dronerun.split(\"/\");\n\nfolder_dateencoded = parts[parts.length - 1]; \nmsg.folder_dateencoded= folder_dateencoded\n\n\ndate_parts =  folder_dateencoded.split(\"-\");\nmsg.date_parts= date_parts\n\nfullYear = date_parts[0];\nmonth = date_parts[1];\nday = date_parts[2];\nhour = date_parts[3];\nminutes = date_parts[4];\nsec = date_parts[5];\n\nmsg.fullYear = fullYear\n\nmsg.logobj.messageID = msg._msgid;\nmsg.logobj.logevent = \"data\";\n\nlet current_datetime = new Date();\n//let formatted_date = current_datetime.getFullYear() + \"-\" + (current_datetime.getMonth() + 1) + \"-\" + current_datetime.getDate() + \" \" + current_datetime.getHours() + \":\" + current_datetime.getMinutes() + \":\" + current_datetime.getSeconds();\n\nvar formatted_date = fullYear + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minutes + \":\" + sec;\n\nmsg.formatted_date = formatted_date\n\nmsg.logobj.messageTime = formatted_date;\nmsg.logobj.message = msg.logobj.message || {};\nmsg.logobj.message.entityType = \"DRONERUN\";\nmsg.logobj.message.entityID=msg.name;\nmsg.logobj.message.measureAcquire =  \"captured\";\nmsg.logobj.message.value ={\"value\":1,\"time \":formatted_date };\nmsg.db = \"true\";\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":500,"wires":[["7362c9a7.fd37e8"]]},{"id":"7362c9a7.fd37e8","type":"function","z":"b8c2d87e.37df68","name":"prep Log","func":"var logobj = flow.get(\"log\");\n\nmsg.log = msg.log || {};\nmsg.log = msg.logobj;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":500,"wires":[["1ad84f56.877f59","980f54aa.cf4db"]]},{"id":"1ad84f56.877f59","type":"debug","z":"b8c2d87e.37df68","name":"Send to database","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":580,"wires":[]},{"id":"980f54aa.cf4db","type":"subflow:4a631457.3c182c","z":"b8c2d87e.37df68","name":"","env":[],"x":1540,"y":460,"wires":[]},{"id":"6802bd50.b984dc","type":"split","z":"b8c2d87e.37df68","name":"split drone runs of interval","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":1000,"y":600,"wires":[["422acdc6.b637b4","75367fbe.a827f"]]},{"id":"422acdc6.b637b4","type":"debug","z":"b8c2d87e.37df68","name":"Splitted drone runs","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":680,"wires":[]},{"id":"283b8546.2a56aa","type":"function","z":"b8c2d87e.37df68","name":"prepare ssh command to register runs in db","func":"\nmsg.previouspay = msg.payload\n\nname = msg.payload[0][0]\ncontrollernetaddress = msg.payload[0][1]\nwifiname = msg.payload[0][2]\nflight_interval = msg.payload[0][3]\n\nmsg.payload = 'ssh '+controllernetaddress+' find  /home/pi/ti/tiFileStore/dos13/'+wifiname+' -mtime -1 -maxdepth 1 -mindepth 1 -type d'\n\nmsg.name = name\nmsg.flight_interval = flight_interval\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":600,"wires":[["c8a94c95.bffbf"]]},{"id":"c8a94c95.bffbf","type":"exec","z":"b8c2d87e.37df68","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":770,"y":600,"wires":[["6802bd50.b984dc"],[],[]]},{"id":"30d02a75.f0c2ee","type":"inject","z":"ba2cec47.07a08","name":"timestamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 09 * * *","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":90,"y":120,"wires":[["9f438789.78e7b8"]]},{"id":"9f438789.78e7b8","type":"function","z":"ba2cec47.07a08","name":"set gateway node name and set bot","func":"msg.nodename = global.get('hname'); \n\nmsg.timestamp = msg.payload;\n\n// Prep Bot Monitoring\nmsg.bot = msg.bot || {};\nflow.set(\"bot\",msg.bot);\nmsg.bot.eventtype = \"info\";\nmsg.bot.status =\"[ok]\"\n\nmsg.logobj = msg.logobj || {};\nflow.set(\"log\",msg.logobj);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":120,"wires":[["b1e062b0.efc6c8"]]},{"id":"b1e062b0.efc6c8","type":"function","z":"ba2cec47.07a08","name":"Get facility and config for node","func":"//msg.time = msg.payload;\n\n//msg.payload = {\"unit\":\"unit\", \"ts\":\"\" + msg.time + \"\", \"event\":\"event\", \n//                \"msgID\":\"msgID\", \n//                \"data\":[{\"value\" : 8}]};\n                \n//msg.payload = {\"unit\": \"string\",  \"ts\": \"string\",  \"event\": \"string\",  \"msgid\": \"string\",  \"data\": [{\"value\": 0}]};\nmsg.headers = '{\"Content-Type\":\"application/json\"}';\n\nmsg.url = \"http://192.168.0.144:3000/api/v1/config/facility/\";\nmsg.url = msg.url + msg.nodename;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":120,"wires":[["c6e013d8.0b4508"]]},{"id":"c6e013d8.0b4508","type":"http request","z":"ba2cec47.07a08","name":"/config/[:node]","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1000,"y":120,"wires":[["6c389111.bf3da"]]},{"id":"6c389111.bf3da","type":"json","z":"ba2cec47.07a08","name":"Convert API result","property":"payload","action":"","pretty":false,"x":1230,"y":120,"wires":[["7e533785.55fdc8"]]},{"id":"7e533785.55fdc8","type":"function","z":"ba2cec47.07a08","name":"get roscam / depthcam specs","func":"objarr = msg.payload['docs'][0].nodes;\n\nmsg.facility = msg.payload['docs'][0].name\n\nvar arr = [];\nfor (var i = 0; i < objarr.length;i++){\n    \n    if (objarr[i].type == \"roscam\"){\n        //msg.ip = objarr[i].netaddress\n        //msg.esp_nodename = objarr[i].name\n        arr.push([objarr[i].name,\n        objarr[i].controllernetaddress, \n        objarr[i].type,\n        objarr[i].cmd_run,\n        objarr[i].cmd_sync,\n        objarr[i].cam_id\n        ])\n           \n    }\n}\nmsg.payload = arr\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":280,"wires":[["736b1619.7884e8"]]},{"id":"8b76d58b.d2d05","type":"function","z":"ba2cec47.07a08","name":"prepare take data call","func":"\n\nname = msg.payload[0]\ncontrollernetaddress = msg.payload[1]\ntype = msg.payload[2]\ncmd_run = msg.payload[3]\ncmd_sync = msg.payload[4]\ncam_id = msg.payload[5]\n\n\n\n\nmsg.name = name\nmsg.cam_id = cam_id\nmsg.cmdexctakedata =  'ssh '+controllernetaddress+' '+cmd_run\nmsg.cmd_sync = cmd_sync\nmsg.controllernetaddress  = controllernetaddress\nmsg.payload = msg.cmdexctakedata\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":280,"wires":[["4a955763.bb7c18"]]},{"id":"9bb3290.9abf658","type":"inject","z":"ba2cec47.07a08","name":"timestamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 13 * * *","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":90,"y":160,"wires":[["9f438789.78e7b8"]]},{"id":"18f939bc.6c2756","type":"inject","z":"ba2cec47.07a08","name":"timestamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 17 * * *","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":90,"y":200,"wires":[["9f438789.78e7b8"]]},{"id":"4a955763.bb7c18","type":"exec","z":"ba2cec47.07a08","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Take data","x":880,"y":280,"wires":[["574694a6.e569ac","fd312b8e.1e0608","5b347c34.7e3b6c"],["fe35a65f.ae08c8","a2a47e07.97265"],[]]},{"id":"5b347c34.7e3b6c","type":"function","z":"ba2cec47.07a08","name":"prepare logobject","func":"// Prep log Object\nmsg.logobj = msg.logobj || {};\n\n    \nfilename = msg.payload     \n    \n    \nmsg.logobj.messageID = msg._msgid;\nmsg.logobj.logevent = \"data\";\n\nlet current_datetime = new Date();\nlet formatted_date = current_datetime.getFullYear() + \"-\" + (current_datetime.getMonth() + 1) + \"-\" + current_datetime.getDate() + \" \" + current_datetime.getHours() + \":\" + current_datetime.getMinutes() + \":\" + current_datetime.getSeconds();\n\nmsg.logobj.messageTime = formatted_date;\nmsg.logobj.message = msg.logobj.message || {};\nmsg.logobj.message.entityType = \"roscam\";\nmsg.logobj.message.entityID=msg.name;\nmsg.logobj.message.measureAcquire =  \"captured\";\nmsg.logobj.message.value ={\"value\":1,\"time\":formatted_date, \"filename\": filename };\nmsg.db = \"true\";\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":620,"wires":[["f340ae8b.9e614"]]},{"id":"f340ae8b.9e614","type":"function","z":"ba2cec47.07a08","name":"prep Log","func":"var logobj = flow.get(\"log\");\n\nmsg.log = msg.log || {};\nmsg.log = msg.logobj;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":620,"wires":[["232adf3c.f280c8","dd421ebc.8d345"]]},{"id":"232adf3c.f280c8","type":"subflow:4a631457.3c182c","z":"ba2cec47.07a08","name":"","env":[],"x":620,"y":600,"wires":[]},{"id":"dd421ebc.8d345","type":"debug","z":"ba2cec47.07a08","name":"Register bag file in database","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":700,"wires":[]},{"id":"574694a6.e569ac","type":"debug","z":"ba2cec47.07a08","name":"exec stdout","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":220,"wires":[]},{"id":"736b1619.7884e8","type":"split","z":"ba2cec47.07a08","name":"Split depth cam array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":400,"y":280,"wires":[["8b76d58b.d2d05"]]},{"id":"fe35a65f.ae08c8","type":"debug","z":"ba2cec47.07a08","name":"exec stderr","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":280,"wires":[]},{"id":"d240c524.30bdf8","type":"subflow:ca9455bf.030da8","z":"ba2cec47.07a08","name":"","env":[],"x":1430,"y":380,"wires":[[]]},{"id":"a2a47e07.97265","type":"function","z":"ba2cec47.07a08","name":"Inspect take data response and prepare bot message","func":"var bot = flow.get(\"bot\");\n\nbot.content = \"Imaging (\" + msg.name  + \")\";\n\nstd_err = msg.payload\n\nif (std_err  !== \"\"){\n    bot.eventtype = \"alert\";\n    bot.content = bot.content + \"\\r\\n ERROR: Real Sense imaging process failed: \" +msg.cmdexctakedata ;\n} else {\n    //node.warn({\"diff normal\": diff});\n    bot.content = bot.content + \"\\r\\n SUCCESS: Real Sense imaging process succeeded:\" + msg.cmdexctakedata;\n    \n    return null\n}\nmsg.bot = bot;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":380,"wires":[["d240c524.30bdf8"]]},{"id":"fd312b8e.1e0608","type":"function","z":"ba2cec47.07a08","name":"prepare take data call","func":"\n\nstdout = msg.payload\nmsg.cmd_sync\nmsg.controllernetaddress \n\nmsg.payload ='ssh ' + msg.controllernetaddress + ' \"' + msg.cmd_sync +' '+ stdout + ' ' + msg.cam_id+'\" '\n\n\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":440,"wires":[["662d9b8c.c1fc54","c4f78a32.9b5e18"]]},{"id":"c4f78a32.9b5e18","type":"exec","z":"ba2cec47.07a08","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Move data to the cloud","x":400,"y":460,"wires":[["a1f214c0.dd60d8"],["fd7e087c.8be368","d5ab8edd.6e386"],[]]},{"id":"a1f214c0.dd60d8","type":"debug","z":"ba2cec47.07a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":420,"wires":[]},{"id":"fd7e087c.8be368","type":"debug","z":"ba2cec47.07a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":460,"wires":[]},{"id":"d5ab8edd.6e386","type":"function","z":"ba2cec47.07a08","name":"Inspect take data response and prepare bot message","func":"var bot = flow.get(\"bot\");\n\nbot.content = \"Imaging (\" + msg.name  + \")\";\n\nstd_err = msg.payload\n\nif (std_err  !== \"\"){\n    bot.eventtype = \"alert\";\n    bot.content = bot.content + \"\\r\\n ERROR: Real Sense sync image data to the cloud failed \"+ msg.cmdmovetocloud  ;\n  \n} else {\n    //node.warn({\"diff normal\": diff});\n    bot.content = bot.content + \"\\r\\n SUCCESS: Real Sense sync image data to the cloud success \" +msg.cmdmovetocloud ;\n    \n    return null\n}\nmsg.bot = bot;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":500,"wires":[["e48e253c.88f5f8"]]},{"id":"e48e253c.88f5f8","type":"subflow:ca9455bf.030da8","z":"ba2cec47.07a08","name":"","env":[],"x":1050,"y":500,"wires":[[]]},{"id":"662d9b8c.c1fc54","type":"debug","z":"ba2cec47.07a08","name":"rsync remote call","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":400,"wires":[]}]