flows_ti.json
[
    {
        "id": "2ce6c32c.72889c",
        "type": "tab",
        "label": "Main"
    },
    {
        "id": "e6a5f68f.971a78",
        "type": "tab",
        "label": "Test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "66ae377c.2d73f8",
        "type": "tab",
        "label": "Tools",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5aeca004.ff39b",
        "type": "tab",
        "label": "Globals",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a40555ac.72c858",
        "type": "tab",
        "label": "AIBot",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a5b56371.83719",
        "type": "tab",
        "label": "test_b6climate",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fc1f6c41.e5c79",
        "type": "tab",
        "label": "test_b6plant",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c82b6327.0aa47",
        "type": "tab",
        "label": "test_g15plant",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4101efb9.97013",
        "type": "tab",
        "label": "test_g15watch",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4edffef3.e14ce",
        "type": "subflow",
        "name": "Control Unit (CU)",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 240,
                "wires": [
                    {
                        "id": "f1163352.0d53c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1484,
                "y": 220,
                "wires": [
                    {
                        "id": "8e73b81.d0bbc48",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1480,
                "y": 500,
                "wires": []
            },
            {
                "x": 1480,
                "y": 620,
                "wires": []
            }
        ]
    },
    {
        "id": "a443370b.2db948",
        "type": "subflow",
        "name": "Actor Unit (AU)",
        "info": "",
        "in": [
            {
                "x": 139.00000190734863,
                "y": 252.00000190734863,
                "wires": [
                    {
                        "id": "ac10d133.3516b"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 2040,
                "y": 300,
                "wires": [
                    {
                        "id": "314327c2.f23ca8",
                        "port": 0
                    },
                    {
                        "id": "de842283.31177",
                        "port": 0
                    },
                    {
                        "id": "931fef06.018e3",
                        "port": 0
                    }
                ]
            },
            {
                "x": 2000,
                "y": 660,
                "wires": [
                    {
                        "id": "931fef06.018e3",
                        "port": 1
                    },
                    {
                        "id": "d754174f.b7ca38",
                        "port": 1
                    }
                ]
            },
            {
                "x": 2000,
                "y": 760,
                "wires": [
                    {
                        "id": "12c2cf59.1f6461",
                        "port": 0
                    }
                ]
            }
        ],
        "outputLabels": [
            "ok",
            "error",
            "debug"
        ]
    },
    {
        "id": "d7c5729f.4d707",
        "type": "subflow",
        "name": "TI_TWITTER",
        "info": "",
        "in": [
            {
                "x": 357,
                "y": 122,
                "wires": [
                    {
                        "id": "1d21a395.f6928c"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "4a631457.3c182c",
        "type": "subflow",
        "name": "TI_LOGAPPENDER",
        "info": "Persists data from Sensor / Actors in DB ",
        "in": [
            {
                "x": 110,
                "y": 148,
                "wires": [
                    {
                        "id": "913048e2.95fd48"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "68a9f738.904da8",
        "type": "subflow",
        "name": "Sensor Unit (SU)",
        "info": "",
        "in": [
            {
                "x": 89,
                "y": 282,
                "wires": [
                    {
                        "id": "7733f649.3c5c38"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1240,
                "y": 240,
                "wires": [
                    {
                        "id": "45066900.9838f8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1240,
                "y": 360,
                "wires": [
                    {
                        "id": "7733f649.3c5c38",
                        "port": 1
                    }
                ]
            },
            {
                "x": 1240,
                "y": 480,
                "wires": []
            }
        ]
    },
    {
        "id": "bb9dbdb7.f5a47",
        "type": "subflow",
        "name": "Watch Switch",
        "info": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "fcba05c8.50d7f8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1140,
                "y": 160,
                "wires": [
                    {
                        "id": "afd14a84.897398",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "f24a602a.6a36c",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "NodeRed.Logappender",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "cbf41ed0.f5061",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "NodeRed",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "86ce8211.809df",
        "type": "chatbot-telegram-node",
        "z": "",
        "botname": "AImy",
        "usernames": "",
        "providerToken": "",
        "polling": "100000",
        "store": "",
        "log": "",
        "parseMode": "",
        "debug": true
    },
    {
        "id": "3bd97a3c.2d3f86",
        "type": "function",
        "z": "4a631457.3c182c",
        "name": "Prep MQTT message to TI.LOG -> logUnitValue",
        "func": "//msg.logsender = msg.payload.sender;\n//msg.logid = msg.payload.msgID;\n//msg.logvalue = msg.payload.paramX.value;\n//msg.logtimestamp = msg.payload.timestamp;\n\n//Test Values\n//msg.tmpsender = \"TI.GREENHOUSE.RASP.UNITS.TEMPINNEN\";\n//msg.tmpid = \"4711\";\n//msg.tmpvalue = \"12\";\n//msg.tmptimestamp = \"2016/05/24 17:18:37\";\n\nmsg.payload = '{\"@class\":\"org.timeit.apps.core.Msg\", \\\n                \"destination\":\"TI.DATA.LOG.DB1.WORKER\", \\\n                \"msgID\":\"' + msg.logid + '\", \\\n                \"param0\":\"logUnitValue\", \\\n                \"paramX\":{\"value\" : \"' + msg.logvalue + '\", \\\n                    \"event\":\"' + msg.logevent + '\", \\\n                    \"datatype\":\"' + msg.logdatatype + '\"}, \\\n                \"timestamp\":\"' + msg.logtimestamp + '\", \\\n                \"sender\":\"' + msg.logsender + '\"}';\n            \nif (msg.db == \"true\"){\n    return [ msg, null ];     \n} else if(msg.db == \"false\") {\n    return [ null, msg ];\n}\n",
        "outputs": "2",
        "noerr": 0,
        "x": 472,
        "y": 304,
        "wires": [
            [
                "352f842e.a18b3c"
            ],
            [
                "c240f044.4cc94"
            ]
        ]
    },
    {
        "id": "c1541142.e5a5e",
        "type": "comment",
        "z": "4a631457.3c182c",
        "name": "TI.LOGAPPENDER - Interface Definition",
        "info": "Subflow Logs Data to Unit Data tables. \nMandatory attributes:\n    Input                   Variable                    Output                      Description\n    msg.payload.sender      -> msg.tmp.sender           msg.payload.sender          -> data table evaluated by Sender\n    msg.payload.msgID       -> msg.tmp.id               msg.payload.msgID           -> MsgID to be stored in table\n    msg.payload.paramX.value-> msg.tmp.value            msg.payload.paramX.value    -> float value to be stored\n    msg.payload.timestamp   -> msg.tmp.timestamp        msg.timestamp               -> Timestamp of the value\n                                                        msg.destination             -> \"TI.LOG\"\n                                                        msg.param0                  -> \"logUnitValue\"\n                                                        msg.payload.paramX.event    -> \"data\"",
        "x": 189,
        "y": 64,
        "wires": []
    },
    {
        "id": "626df866.00d938",
        "type": "debug",
        "z": "4a631457.3c182c",
        "name": "Log Appender - Log for:",
        "active": true,
        "console": "false",
        "complete": "logsender",
        "x": 593,
        "y": 126,
        "wires": []
    },
    {
        "id": "3d8a67a3.602278",
        "type": "debug",
        "z": "4a631457.3c182c",
        "name": "No DB Log",
        "active": true,
        "console": "false",
        "complete": "db",
        "x": 613,
        "y": 438,
        "wires": []
    },
    {
        "id": "ac10d133.3516b",
        "type": "switch",
        "z": "a443370b.2db948",
        "name": "",
        "property": "uc",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "RUNPUMP",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "RUNPUMPVALVE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SHADE",
                "vt": "str"
            },
            {
                "t": "else"
            },
            {
                "t": "eq",
                "v": "TEST",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 253,
        "y": 252,
        "wires": [
            [
                "3bf9f372.2c646c"
            ],
            [
                "98e3b73c.a8d188",
                "defd0350.0aba8"
            ],
            [
                "430e4478.0e098c"
            ],
            [
                "78b39bfe.693f54"
            ],
            [
                "d766c6c2.2467a8"
            ]
        ]
    },
    {
        "id": "3bf9f372.2c646c",
        "type": "function",
        "z": "a443370b.2db948",
        "name": "RUNPUMP",
        "func": "msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\", \\\n                \"destination\":\"' + msg.payload.paramX.unit + '\", \\\n                \"param0\":\"run\", \\\n                \"paramX\":{\"interval\":\"' + msg.payload.paramX.interval + '\"}}';\n                \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 448,
        "y": 167,
        "wires": [
            [
                "ef4a34d3.83fd48",
                "72c86529.41d2ac"
            ]
        ]
    },
    {
        "id": "78b39bfe.693f54",
        "type": "debug",
        "z": "a443370b.2db948",
        "name": "AU.NO_USE_CASE_FOUND",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 230,
        "y": 740,
        "wires": []
    },
    {
        "id": "ef4a34d3.83fd48",
        "type": "debug",
        "z": "a443370b.2db948",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 736.9999694824219,
        "y": 49.000003814697266,
        "wires": []
    },
    {
        "id": "72c86529.41d2ac",
        "type": "ti-message",
        "z": "a443370b.2db948",
        "name": "ti Exec Msg",
        "mqserver": "mqtt://localhost",
        "intopic": "TI_CONTROLLER",
        "outtopic": "TI_CMD",
        "x": 656,
        "y": 164,
        "wires": [
            [
                "314327c2.f23ca8"
            ]
        ]
    },
    {
        "id": "314327c2.f23ca8",
        "type": "json",
        "z": "a443370b.2db948",
        "name": "",
        "x": 950,
        "y": 160,
        "wires": [
            [
                "4d09f8c6.c6f0d8"
            ]
        ]
    },
    {
        "id": "4d09f8c6.c6f0d8",
        "type": "function",
        "z": "a443370b.2db948",
        "name": "prep Log",
        "func": "msg.logsender = msg.payload.sender;\nmsg.logid = msg.payload.msgID;\n\nif (msg.payload.paramX.value !== undefined) {\n    msg.logvalue = msg.payload.paramX.value;\n    msg.logevent = \"data\";\n} else if (msg.payload.paramX.interval !== undefined) {\n    msg.logvalue = msg.payload.paramX.interval;\n    msg.logevent = msg.payload.param0;\n}\n\nmsg.logtimestamp = msg.payload.timestamp;\nmsg.logdatatype = msg.payload.paramX.datatype;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1120,
        "y": 160,
        "wires": [
            [
                "b87ff7f3.f11508"
            ]
        ]
    },
    {
        "id": "b87ff7f3.f11508",
        "type": "subflow:4a631457.3c182c",
        "z": "a443370b.2db948",
        "x": 1340,
        "y": 160,
        "wires": []
    },
    {
        "id": "d766c6c2.2467a8",
        "type": "debug",
        "z": "a443370b.2db948",
        "name": "Test Output (AU)",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 170,
        "y": 820,
        "wires": []
    },
    {
        "id": "1d21a395.f6928c",
        "type": "function",
        "z": "d7c5729f.4d707",
        "name": "Twitter Msg",
        "func": "var val;\nif (typeof msg.payload.paramX.value !== undefined) {\n    val = msg.payload.paramX.value;\n} else if (typeof msg.payload.paramX.interval !== undefined) {\n    val = \"no Value\";\n}\n\nmsg.payload = \"#data\" +\n\" UseCaseGroup:\" + msg.ucgroup +\n\" UseCase:\" + msg.uc +\n\" Time:\" + new Date().toString() +\n\" Sender: \" + msg.payload.sender +\n\" Value:\" + val;\n\nif (msg.twitter == \"true\"){\n    return [ msg, null ];     \n} else if(msg.twitter == \"false\") {\n    return [ null, msg ];\n}\n",
        "outputs": "2",
        "noerr": 0,
        "x": 507,
        "y": 122,
        "wires": [
            [],
            [
                "4c34c324.15cfec"
            ]
        ]
    },
    {
        "id": "4c34c324.15cfec",
        "type": "debug",
        "z": "d7c5729f.4d707",
        "name": "no Twitter Message",
        "active": true,
        "console": "false",
        "complete": "twitter",
        "x": 705,
        "y": 189,
        "wires": []
    },
    {
        "id": "913048e2.95fd48",
        "type": "function",
        "z": "4a631457.3c182c",
        "name": "Prep MQTT message to TI.LOG -> logUnitValue",
        "func": "//msg.logsender = msg.payload.sender;\n//msg.logid = msg.payload.msgID;\n//msg.logvalue = msg.payload.paramX.value;\n//msg.logtimestamp = msg.payload.timestamp;\n\n//Test Values\n//msg.tmpsender = \"TI.GREENHOUSE.RASP.UNITS.TEMPINNEN\";\n//msg.tmpid = \"4711\";\n//msg.tmpvalue = \"12\";\n//msg.tmptimestamp = \"2016/05/24 17:18:37\";\n\nmsg.payload = '{\"@class\":\"org.timeit.apps.core.Msg\", \\\n                \"destination\":\"G15.DATA.LOG.DB1.WORKER\", \\\n                \"msgID\":\"' + msg.logid + '\", \\\n                \"param0\":\"logUnitValue\", \\\n                \"paramX\":{\"value\" : \"' + msg.logvalue + '\", \\\n                    \"event\":\"' + msg.logevent + '\", \\\n                    \"datatype\":\"' + msg.logdatatype + '\"}, \\\n                \"timestamp\":\"' + msg.logtimestamp + '\", \\\n                \"sender\":\"' + msg.logsender + '\"}';\n            \nif (msg.db == \"true\"){\n    return [ msg, null ];     \n} else if(msg.db == \"false\") {\n    return [ null, msg ];\n}\n",
        "outputs": "2",
        "noerr": 0,
        "x": 472,
        "y": 304,
        "wires": [
            [
                "352f842e.a18b3c",
                "608d99f7.cbabe8"
            ],
            [
                "c240f044.4cc94"
            ]
        ]
    },
    {
        "id": "373c11a9.64c7fe",
        "type": "comment",
        "z": "4a631457.3c182c",
        "name": "TI.LOGAPPENDER - Interface Definition",
        "info": "Subflow Logs Data to Unit Data tables. \nMandatory attributes:\n    Input                   Variable                    Output                      Description\n    msg.payload.sender      -> msg.tmp.sender           msg.payload.sender          -> data table evaluated by Sender\n    msg.payload.msgID       -> msg.tmp.id               msg.payload.msgID           -> MsgID to be stored in table\n    msg.payload.paramX.value-> msg.tmp.value            msg.payload.paramX.value    -> float value to be stored\n    msg.payload.timestamp   -> msg.tmp.timestamp        msg.timestamp               -> Timestamp of the value\n                                                        msg.destination             -> \"TI.LOG\"\n                                                        msg.param0                  -> \"logUnitValue\"\n                                                        msg.payload.paramX.event    -> \"data\"",
        "x": 189,
        "y": 64,
        "wires": []
    },
    {
        "id": "352f842e.a18b3c",
        "type": "debug",
        "z": "4a631457.3c182c",
        "name": "Log Appender - Log for:",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 593,
        "y": 126,
        "wires": []
    },
    {
        "id": "c240f044.4cc94",
        "type": "debug",
        "z": "4a631457.3c182c",
        "name": "No DB Log",
        "active": true,
        "console": "false",
        "complete": "db",
        "x": 613,
        "y": 438,
        "wires": []
    },
    {
        "id": "7733f649.3c5c38",
        "type": "switch",
        "z": "68a9f738.904da8",
        "name": "",
        "property": "uc",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "GETVALUE",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 214,
        "y": 282,
        "wires": [
            [
                "9f9a54fe.358b58"
            ],
            [
                "3c239a1e.6c84d6"
            ]
        ]
    },
    {
        "id": "3c239a1e.6c84d6",
        "type": "debug",
        "z": "68a9f738.904da8",
        "name": "SU.NO_USE_CASE_FOUND",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 487,
        "y": 378,
        "wires": []
    },
    {
        "id": "9f9a54fe.358b58",
        "type": "function",
        "z": "68a9f738.904da8",
        "name": "GETVALUE",
        "func": "msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\", \\\n                \"destination\":\"' + msg.payload.paramX.unit + '\", \\\n                \"param0\":\"getValue\", \\\n                \"paramX\":{}}';\n                \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 179,
        "wires": [
            [
                "7ff57b29.09f1d4"
            ]
        ]
    },
    {
        "id": "2fc74421.3e58fc",
        "type": "subflow:4a631457.3c182c",
        "z": "68a9f738.904da8",
        "name": "",
        "x": 1087,
        "y": 41,
        "wires": []
    },
    {
        "id": "810bd8bb.eb6918",
        "type": "function",
        "z": "68a9f738.904da8",
        "name": "Prep Log",
        "func": "msg.logsender = msg.payload.sender;\nmsg.logid = msg.payload.msgID;\n\nif (msg.payload.paramX.value !== undefined) {\n    msg.logvalue = msg.payload.paramX.value;\n    msg.logevent = \"data\";\n} else if (msg.payload.paramX.interval !== undefined) {\n    msg.logvalue = msg.payload.paramX.interval;\n    msg.logevent = msg.payload.param0;\n}\n\nmsg.logtimestamp = msg.payload.timestamp;\nmsg.logdatatype = msg.payload.paramX.datatype;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 971,
        "y": 86,
        "wires": [
            [
                "2fc74421.3e58fc"
            ]
        ]
    },
    {
        "id": "45066900.9838f8",
        "type": "json",
        "z": "68a9f738.904da8",
        "name": "",
        "x": 864,
        "y": 141,
        "wires": [
            [
                "810bd8bb.eb6918"
            ]
        ]
    },
    {
        "id": "e5896042.f1015",
        "type": "mqtt in",
        "z": "2ce6c32c.72889c",
        "name": "",
        "topic": "TI_CMD",
        "qos": "2",
        "broker": "f24a602a.6a36c",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "af15c470.d1f4a8",
                "d3a1b391.5708c"
            ]
        ]
    },
    {
        "id": "27798b27.d7d404",
        "type": "debug",
        "z": "2ce6c32c.72889c",
        "name": "Incoming TI_CMD",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 510,
        "y": 280,
        "wires": []
    },
    {
        "id": "66a47472.c16c7c",
        "type": "switch",
        "z": "2ce6c32c.72889c",
        "name": "UC Group",
        "property": "ucgroup",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "SU",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "AU",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "CU",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OTHER",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 520,
        "y": 620,
        "wires": [
            [
                "7342123f.a2d76c"
            ],
            [
                "f1b01de1.31583"
            ],
            [
                "17fe5c90.058b83"
            ],
            [
                "fa5523e6.40b39"
            ],
            [
                "fface78a.eedd88"
            ]
        ]
    },
    {
        "id": "7342123f.a2d76c",
        "type": "subflow:68a9f738.904da8",
        "z": "2ce6c32c.72889c",
        "x": 950,
        "y": 560,
        "wires": [
            [
                "f2c8105c.a8aa2",
                "252ca5a4.84617a"
            ],
            [
                "60971772.d844c8"
            ],
            [
                "203e23c3.157e1c"
            ]
        ]
    },
    {
        "id": "2c74f245.c35a5e",
        "type": "function",
        "z": "2ce6c32c.72889c",
        "name": "Split UseCase Group",
        "func": "var ucSplit = msg.payload.param0.split(\".\");\nmsg.ucgroup = ucSplit[0];\nmsg.uc = ucSplit[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 620,
        "wires": [
            [
                "66a47472.c16c7c",
                "3e5c43dc.5067ac"
            ]
        ]
    },
    {
        "id": "fface78a.eedd88",
        "type": "debug",
        "z": "2ce6c32c.72889c",
        "name": "UC Fails Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "uc",
        "x": 940,
        "y": 960,
        "wires": []
    },
    {
        "id": "af15c470.d1f4a8",
        "type": "json",
        "z": "2ce6c32c.72889c",
        "name": "MQTT String to JSON Obj",
        "x": 390,
        "y": 220,
        "wires": [
            [
                "e3a1c45.3cbfb38"
            ]
        ]
    },
    {
        "id": "6dbe86e2.81d3a8",
        "type": "debug",
        "z": "2ce6c32c.72889c",
        "name": "Controller Message Ignored",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 1380,
        "y": 240,
        "wires": []
    },
    {
        "id": "4777ea47.43b1a4",
        "type": "comment",
        "z": "2ce6c32c.72889c",
        "name": "Ignore TI_NOTIFY Messages",
        "info": "Ignore all messages from TI_NOTIFY that do not have \"CONTROLLER.USECASE\" set as \"msg.payload.destination\"",
        "x": 1380,
        "y": 180,
        "wires": []
    },
    {
        "id": "69ff7a54.40bda4",
        "type": "comment",
        "z": "2ce6c32c.72889c",
        "name": "Choose Use Case Group",
        "info": "",
        "x": 530,
        "y": 500,
        "wires": []
    },
    {
        "id": "4d388c0b.98ce54",
        "type": "comment",
        "z": "2ce6c32c.72889c",
        "name": "Use Case Groups",
        "info": "",
        "x": 950,
        "y": 460,
        "wires": []
    },
    {
        "id": "e3a1c45.3cbfb38",
        "type": "function",
        "z": "2ce6c32c.72889c",
        "name": "set Flow Options (Twitter, DB Log)",
        "func": "msg.twitter=\"true\";\nif (typeof(msg.payload.paramX.twitter) != \"undefined\"){\n    if (msg.payload.paramX.twitter==\"false\") {\n        msg.twitter = \"false\";    //Twitter disabled\n    }\n} \n\nmsg.db=\"true\";\nif (typeof(msg.payload.paramX.db) != \"undefined\"){\n    if (msg.payload.paramX.db==\"false\") {\n        msg.db = \"false\";    //Database Entry disabled\n    }\n} \n\nmsg.replyTo= msg.payload.replyTo;   // Remember ReplyTo\nmsg.msgID = msg.payload.msgID;      // Remember MsgID\nmsg.sender = msg.payload.sender;    // Remember Original Sender\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 220,
        "wires": [
            [
                "84c64e8f.c0ab5"
            ]
        ]
    },
    {
        "id": "f1b01de1.31583",
        "type": "subflow:a443370b.2db948",
        "z": "2ce6c32c.72889c",
        "x": 940,
        "y": 633,
        "wires": [
            [
                "f2c8105c.a8aa2",
                "252ca5a4.84617a"
            ],
            [
                "60971772.d844c8",
                "c56fb649.feb0e8"
            ],
            [
                "203e23c3.157e1c"
            ]
        ]
    },
    {
        "id": "f2c8105c.a8aa2",
        "type": "debug",
        "z": "2ce6c32c.72889c",
        "name": "Output UseCase",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1370,
        "y": 880,
        "wires": []
    },
    {
        "id": "17fe5c90.058b83",
        "type": "subflow:4edffef3.e14ce",
        "z": "2ce6c32c.72889c",
        "x": 950,
        "y": 720,
        "wires": [
            [
                "f2c8105c.a8aa2",
                "252ca5a4.84617a"
            ],
            [
                "60971772.d844c8"
            ],
            [
                "203e23c3.157e1c"
            ]
        ]
    },
    {
        "id": "d5e5542f.9056a8",
        "type": "function",
        "z": "a443370b.2db948",
        "name": "RUNPUMP",
        "func": "msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\", \\\n                \"destination\":\"' + msg.payload.paramX.unit + '\", \\\n                \"param0\":\"run\", \\\n                \"paramX\":{\"interval\":\"' + msg.payload.paramX.interval + '\"}}';\n                \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 625,
        "y": 235,
        "wires": [
            [
                "686c566c.16f188"
            ]
        ]
    },
    {
        "id": "de842283.31177",
        "type": "ti-message",
        "z": "a443370b.2db948",
        "name": "ti OpenValve",
        "mqserver": "mqtt://localhost",
        "intopic": "TI_CONTROLLER",
        "outtopic": "TI_CMD",
        "x": 795.5,
        "y": 297,
        "wires": [
            []
        ]
    },
    {
        "id": "686c566c.16f188",
        "type": "ti-message",
        "z": "a443370b.2db948",
        "name": "ti runPump",
        "mqserver": "mqtt://localhost",
        "intopic": "TI_CONTROLLER",
        "outtopic": "TI_CMD",
        "x": 813,
        "y": 236,
        "wires": [
            [
                "314327c2.f23ca8"
            ]
        ]
    },
    {
        "id": "defd0350.0aba8",
        "type": "delay",
        "z": "a443370b.2db948",
        "name": "Delay Pump",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 455.5,
        "y": 233,
        "wires": [
            [
                "d5e5542f.9056a8"
            ]
        ]
    },
    {
        "id": "98e3b73c.a8d188",
        "type": "function",
        "z": "a443370b.2db948",
        "name": "RUNPUMPVALVE",
        "func": "\nduration = parseInt(msg.payload.paramX.interval) + 5;\n\nmsg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\", \\\n                \"destination\":\"' + msg.payload.paramX.valve + '\", \\\n                \"param0\":\"run\", \\\n                \"paramX\":{\"interval\":\"' + duration + '\"}}';\n                \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 556,
        "y": 290,
        "wires": [
            [
                "de842283.31177"
            ]
        ]
    },
    {
        "id": "a64aa544.53c4a8",
        "type": "debug",
        "z": "4a631457.3c182c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1266,
        "y": 276,
        "wires": []
    },
    {
        "id": "be21572.ff140a8",
        "type": "http request",
        "z": "4a631457.3c182c",
        "name": "create unitdata",
        "method": "use",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1069.5,
        "y": 263,
        "wires": [
            [
                "a64aa544.53c4a8"
            ]
        ]
    },
    {
        "id": "608d99f7.cbabe8",
        "type": "function",
        "z": "4a631457.3c182c",
        "name": "Prep REST call",
        "func": "msg.headers = '{\"Content-Type\":\"application/json\"}';\n\nmsg.payload = { \"unit\":\"\"  + msg.logsender + \"\", \n                \"ts\":\"\" + msg.logtimestamp + \"\", \n                \"event\":\"\" + msg.logevent + \"\", \n                \"data\":[{\"value\" : + msg.logvalue }], \n                \"msgID\":\"\" + msg.logid + \"\"};\n\nmsg.url = \"http://localhost:3000/api/v1/units/unitdata\";\nmsg.method=\"POST\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 852,
        "y": 265,
        "wires": [
            [
                "be21572.ff140a8"
            ]
        ]
    },
    {
        "id": "252ca5a4.84617a",
        "type": "switch",
        "z": "2ce6c32c.72889c",
        "name": "ReplyTo",
        "property": "replyTo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 1340,
        "y": 620,
        "wires": [
            [
                "ffa0b78a.4fa898"
            ]
        ]
    },
    {
        "id": "1bdd0edf.862731",
        "type": "mqtt out",
        "z": "2ce6c32c.72889c",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "cbf41ed0.f5061",
        "x": 1830,
        "y": 620,
        "wires": []
    },
    {
        "id": "ffa0b78a.4fa898",
        "type": "function",
        "z": "2ce6c32c.72889c",
        "name": "Destination Channel",
        "func": "msg.topic=msg.replyTo;\nmsg.payload.destination = msg.sender; \nmsg.payload.msgID = msg.msgID; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1580,
        "y": 620,
        "wires": [
            [
                "1bdd0edf.862731",
                "bc1c6395.3757e"
            ]
        ]
    },
    {
        "id": "bc1c6395.3757e",
        "type": "debug",
        "z": "2ce6c32c.72889c",
        "name": "ReplyTo Topic",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1820,
        "y": 540,
        "wires": []
    },
    {
        "id": "d3a1b391.5708c",
        "type": "json",
        "z": "2ce6c32c.72889c",
        "name": "",
        "x": 330,
        "y": 280,
        "wires": [
            [
                "27798b27.d7d404"
            ]
        ]
    },
    {
        "id": "b8af9f7b.01979",
        "type": "inject",
        "z": "66ae377c.2d73f8",
        "name": "",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "a88f2e3c.b806f"
            ]
        ]
    },
    {
        "id": "9d61f36a.f28e4",
        "type": "function",
        "z": "66ae377c.2d73f8",
        "name": "Get Events for Node",
        "func": "msg.time = msg.payload;\n\n//msg.payload = {\"unit\":\"unit\", \"ts\":\"\" + msg.time + \"\", \"event\":\"event\", \n//                \"msgID\":\"msgID\", \n//                \"data\":[{\"value\" : 8}]};\n                \n//msg.payload = {\"unit\": \"string\",  \"ts\": \"string\",  \"event\": \"string\",  \"msgid\": \"string\",  \"data\": [{\"value\": 0}]};\nmsg.headers = '{\"Content-Type\":\"application/json\"}';\n\nmsg.url = \"http://localhost:3000/api/v1/event/\";\nmsg.url = msg.url + msg.payload.hostname;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 140,
        "wires": [
            [
                "454f753a.f61e1c"
            ]
        ]
    },
    {
        "id": "454f753a.f61e1c",
        "type": "http request",
        "z": "66ae377c.2d73f8",
        "name": "/event/[:node]",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 840,
        "y": 140,
        "wires": [
            [
                "99fb66f7.2c5d38"
            ]
        ]
    },
    {
        "id": "aa46ac05.86508",
        "type": "debug",
        "z": "66ae377c.2d73f8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1330,
        "y": 140,
        "wires": []
    },
    {
        "id": "a8dcadf.f9eb85",
        "type": "switch",
        "z": "4edffef3.e14ce",
        "name": "",
        "property": "uc",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "GETEVENT",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GETSCHEDULE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SETTRIGGERSTATUS",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "c0f2d2fa.9880d"
            ],
            [
                "b99bef5b.c0b68"
            ],
            [
                "73331c82.cac234"
            ],
            []
        ]
    },
    {
        "id": "c0f2d2fa.9880d",
        "type": "function",
        "z": "4edffef3.e14ce",
        "name": "Get Events for Node",
        "func": "msg.time = msg.payload;\n\n//msg.payload = {\"unit\":\"unit\", \"ts\":\"\" + msg.time + \"\", \"event\":\"event\", \n//                \"msgID\":\"msgID\", \n//                \"data\":[{\"value\" : 8}]};\n                \n//msg.payload = {\"unit\": \"string\",  \"ts\": \"string\",  \"event\": \"string\",  \"msgid\": \"string\",  \"data\": [{\"value\": 0}]};\nmsg.headers = '{\"Content-Type\":\"application/json\"}';\n\nmsg.url = \"http://localhost:3000/api/v1/event/\";\n//msg.url = msg.url + msg.payload.hostname;\nmsg.url = msg.url + global.get('hname');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 180,
        "wires": [
            [
                "498eb79c.7d6578"
            ]
        ]
    },
    {
        "id": "498eb79c.7d6578",
        "type": "http request",
        "z": "4edffef3.e14ce",
        "name": "/event/[:node]",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 800,
        "y": 180,
        "wires": [
            [
                "21a9762.f8c8b8a"
            ]
        ]
    },
    {
        "id": "21a9762.f8c8b8a",
        "type": "json",
        "z": "4edffef3.e14ce",
        "name": "",
        "x": 970,
        "y": 220,
        "wires": [
            [
                "8e73b81.d0bbc48"
            ]
        ]
    },
    {
        "id": "99fb66f7.2c5d38",
        "type": "json",
        "z": "66ae377c.2d73f8",
        "name": "Convert API result",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1090,
        "y": 140,
        "wires": [
            [
                "aa46ac05.86508"
            ]
        ]
    },
    {
        "id": "54b6004f.ffb75",
        "type": "comment",
        "z": "4edffef3.e14ce",
        "name": "get events for local node",
        "info": "",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "3e5c43dc.5067ac",
        "type": "debug",
        "z": "2ce6c32c.72889c",
        "name": "UC Selector",
        "active": false,
        "console": "false",
        "complete": "ucgroup",
        "x": 530,
        "y": 560,
        "wires": []
    },
    {
        "id": "8e73b81.d0bbc48",
        "type": "function",
        "z": "4edffef3.e14ce",
        "name": "Prep Ret Message",
        "func": "msg.replyTo=\"TI_CMD\";\n\nmsg.ret_payload.destination = msg.ret_payload.paramX.replyTo;\nmsg.ret_payload.param0 = msg.ret_payload.paramX.param0;\nmsg.ret_payload.paramX = msg.payload;\n\nmsg.payload = msg.ret_payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1170,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f1163352.0d53c",
        "type": "function",
        "z": "4edffef3.e14ce",
        "name": "Save Payload",
        "func": "msg.ret_payload = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 240,
        "wires": [
            [
                "a8dcadf.f9eb85"
            ]
        ]
    },
    {
        "id": "de743117.5e062",
        "type": "function",
        "z": "66ae377c.2d73f8",
        "name": "Get Scheduler for Node",
        "func": "msg.time = msg.payload;\n\n//msg.payload = {\"unit\":\"unit\", \"ts\":\"\" + msg.time + \"\", \"event\":\"event\", \n//                \"msgID\":\"msgID\", \n//                \"data\":[{\"value\" : 8}]};\n                \n//msg.payload = {\"unit\": \"string\",  \"ts\": \"string\",  \"event\": \"string\",  \"msgid\": \"string\",  \"data\": [{\"value\": 0}]};\nmsg.headers = '{\"Content-Type\":\"application/json\"}';\n\nmsg.url = \"http://localhost:3000/api/v1/scheduler/\";\nmsg.url = msg.url + msg.payload.hostname;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 220,
        "wires": [
            [
                "321ff528.fa701a"
            ]
        ]
    },
    {
        "id": "321ff528.fa701a",
        "type": "http request",
        "z": "66ae377c.2d73f8",
        "name": "/scheduler/[:node]",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 850,
        "y": 220,
        "wires": [
            [
                "1fdd166b.525afa"
            ]
        ]
    },
    {
        "id": "1ad83977.3066f7",
        "type": "debug",
        "z": "66ae377c.2d73f8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1330,
        "y": 220,
        "wires": []
    },
    {
        "id": "1fdd166b.525afa",
        "type": "json",
        "z": "66ae377c.2d73f8",
        "name": "Convert API result",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1090,
        "y": 220,
        "wires": [
            [
                "1ad83977.3066f7"
            ]
        ]
    },
    {
        "id": "b27857b8.dc8ee8",
        "type": "comment",
        "z": "66ae377c.2d73f8",
        "name": "All Events for the local Node",
        "info": "",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "7be107e8.65e918",
        "type": "comment",
        "z": "66ae377c.2d73f8",
        "name": "All Schedule events for the local node",
        "info": "",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "b578ad5b.e4a9c",
        "type": "inject",
        "z": "66ae377c.2d73f8",
        "name": "",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "9fd3135f.e9148"
            ]
        ]
    },
    {
        "id": "9fd3135f.e9148",
        "type": "function",
        "z": "66ae377c.2d73f8",
        "name": "set node name",
        "func": "msg.payload.hostname = \"g15plant\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 220,
        "wires": [
            [
                "de743117.5e062",
                "9d61f36a.f28e4"
            ]
        ]
    },
    {
        "id": "b99bef5b.c0b68",
        "type": "function",
        "z": "4edffef3.e14ce",
        "name": "Get Schedules for Node",
        "func": "msg.time = msg.payload;\n\nmsg.headers = '{\"Content-Type\":\"application/json\"}';\n\nmsg.url = \"http://localhost:3000/api/v1/scheduler/\";\n//msg.url = msg.url + msg.payload.hostname;\nmsg.url = msg.url + global.get('hname');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 260,
        "wires": [
            [
                "92f61850.2f2ba8"
            ]
        ]
    },
    {
        "id": "92f61850.2f2ba8",
        "type": "http request",
        "z": "4edffef3.e14ce",
        "name": "/scheduler/[:node]",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 790,
        "y": 260,
        "wires": [
            [
                "21a9762.f8c8b8a"
            ]
        ]
    },
    {
        "id": "513110a1.61f28",
        "type": "comment",
        "z": "4edffef3.e14ce",
        "name": "get schedule events for local node",
        "info": "",
        "x": 600,
        "y": 220,
        "wires": []
    },
    {
        "id": "2e892f1f.a27e8",
        "type": "OS",
        "z": "5aeca004.ff39b",
        "name": "",
        "x": 430,
        "y": 120,
        "wires": [
            [
                "d5f050b2.30414"
            ]
        ]
    },
    {
        "id": "d5f050b2.30414",
        "type": "function",
        "z": "5aeca004.ff39b",
        "name": "set: hname (hostname)",
        "func": "global.set('hname',msg.payload.hostname);\nnode.log('Hostname set to:' + msg.payload.hostname);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "c766872a.ee5f78",
        "type": "inject",
        "z": "5aeca004.ff39b",
        "name": "",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 210,
        "y": 120,
        "wires": [
            [
                "2e892f1f.a27e8"
            ]
        ]
    },
    {
        "id": "a88f2e3c.b806f",
        "type": "function",
        "z": "66ae377c.2d73f8",
        "name": "set node name",
        "func": "msg.payload.hostname =global.get('hname');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 140,
        "wires": [
            [
                "9d61f36a.f28e4",
                "de743117.5e062"
            ]
        ]
    },
    {
        "id": "84c64e8f.c0ab5",
        "type": "function",
        "z": "2ce6c32c.72889c",
        "name": "Validate local Controller name",
        "func": "msg.controller = global.get('hname') + \".controller\";\n\nif (msg.payload.destination==msg.controller) {\nreturn [ msg, null ];\n\n} else {\n    return [ null, msg];\n}\n\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "x": 1010,
        "y": 220,
        "wires": [
            [
                "2c74f245.c35a5e"
            ],
            [
                "6dbe86e2.81d3a8"
            ]
        ]
    },
    {
        "id": "fa5523e6.40b39",
        "type": "debug",
        "z": "2ce6c32c.72889c",
        "name": "Other UC",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 920,
        "y": 840,
        "wires": []
    },
    {
        "id": "96acce8b.3d466",
        "type": "comment",
        "z": "4edffef3.e14ce",
        "name": "activate Trigger / set Trigger Status (enable/disable)",
        "info": "",
        "x": 650,
        "y": 300,
        "wires": []
    },
    {
        "id": "73331c82.cac234",
        "type": "function",
        "z": "4edffef3.e14ce",
        "name": "Get Schedules and Triggers ",
        "func": "msg.headers = '{\"Content-Type\":\"application/json\"}';\n\nmsg.url = \"http://localhost:3000/api/v1/scheduler/trigger/status\";\n//msg.url = msg.url + msg.payload.hostname;\n//msg.url = msg.url + global.get('hname');\nmsg.payload ={ \"unit\":\"\"  + msg.ret_payload.paramX.unit + \"\", \n                \"trigger\":\"\" + msg.ret_payload.paramX.trigger + \"\", \n                \"status\":\"\" + msg.ret_payload.paramX.status + \"\", \n                \"only\":\"\" + msg.ret_payload.paramX.only + \"\"};\n                \n                //{\"unit\":\"ti01.SCHEDULE\",\"trigger\":\"job2.trigger2\", \"status\":\"false\", \"only\":\"true\"};\n\n// Re-Init the Scheduler if Trigger Updates are neccessary\nmsg.ret_payload.paramX.replyTo = msg.ret_payload.paramX.unit;\nmsg.ret_payload.paramX.param0 = \"reinitSchedule\";\nmsg.sender =  msg.ret_payload.paramX.unit;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 340,
        "wires": [
            [
                "9412511e.8227e"
            ]
        ]
    },
    {
        "id": "9412511e.8227e",
        "type": "http request",
        "z": "4edffef3.e14ce",
        "name": "scheduler/trigger/status",
        "method": "POST",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 830,
        "y": 340,
        "wires": [
            [
                "838a8bf.cb60878"
            ]
        ]
    },
    {
        "id": "838a8bf.cb60878",
        "type": "json",
        "z": "4edffef3.e14ce",
        "name": "json (trigger update)",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1060,
        "y": 340,
        "wires": [
            [
                "953faf01.724df"
            ]
        ]
    },
    {
        "id": "953faf01.724df",
        "type": "function",
        "z": "4edffef3.e14ce",
        "name": "Prep Ret Message",
        "func": "if (msg.payload==\"{no change}\") {\n    return [ null, msg];\n} else {\n    return [ msg, null];\n}",
        "outputs": 2,
        "noerr": 0,
        "x": 1290,
        "y": 340,
        "wires": [
            [
                "8e73b81.d0bbc48"
            ],
            [
                "dfa4fde0.8237e"
            ]
        ]
    },
    {
        "id": "1ff7f13a.74af6f",
        "type": "comment",
        "z": "4edffef3.e14ce",
        "name": "cur Trigger equals new Trigger",
        "info": "",
        "x": 1340,
        "y": 280,
        "wires": []
    },
    {
        "id": "36b7346e.2c02fc",
        "type": "inject",
        "z": "e6a5f68f.971a78",
        "name": "Activate Trigger",
        "topic": "",
        "payload": "{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"ti01.controller\", \"param0\":\"CU.SETTRIGGERSTATUS\", \"paramX\":{\"trigger\":\"ping.trigger2\",\"unit\":\"ti01.SCHEDULE\",\"status\":\"enabled\", \"only\":\"true\"} }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "df84f477.e3f8f8"
            ]
        ]
    },
    {
        "id": "df84f477.e3f8f8",
        "type": "link out",
        "z": "e6a5f68f.971a78",
        "name": "Test",
        "links": [
            "c460012.d5cb4"
        ],
        "x": 595,
        "y": 140,
        "wires": []
    },
    {
        "id": "c460012.d5cb4",
        "type": "link in",
        "z": "2ce6c32c.72889c",
        "name": "Main Input",
        "links": [
            "4e5c370a.8d9f28",
            "df84f477.e3f8f8",
            "8dde8ec0.b4ba8",
            "af9eddd0.7d3b6"
        ],
        "x": 195,
        "y": 200,
        "wires": [
            [
                "af15c470.d1f4a8"
            ]
        ]
    },
    {
        "id": "dfa4fde0.8237e",
        "type": "function",
        "z": "4edffef3.e14ce",
        "name": "no change",
        "func": "node.log(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1490,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "9a55e205.3e0a1",
        "type": "inject",
        "z": "e6a5f68f.971a78",
        "name": "Open Sunblind",
        "topic": "",
        "payload": "{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"ti01.controller\", \"param0\":\"AU.SHADE\", \"paramX\":{\"trigger\":\"ping.trigger2\",\"unit\":\"ti01.SCHEDULE\",\"status\":\"enabled\", \"only\":\"true\"} }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "df84f477.e3f8f8"
            ]
        ]
    },
    {
        "id": "60971772.d844c8",
        "type": "debug",
        "z": "2ce6c32c.72889c",
        "name": "ERROR OUT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1360,
        "y": 980,
        "wires": []
    },
    {
        "id": "203e23c3.157e1c",
        "type": "debug",
        "z": "2ce6c32c.72889c",
        "name": "DEBUG OUT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1360,
        "y": 1060,
        "wires": []
    },
    {
        "id": "fcba05c8.50d7f8",
        "type": "function",
        "z": "bb9dbdb7.f5a47",
        "name": "Start Watch",
        "func": "msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"' + msg.ucobject.checkswitch + '\",' +\n                '\"param0\":\"watch\",' +\n                '\"paramX\":{\"duration\":\"' + msg.ucobject.timeout + '\"}}';\n\n//var Xswitch =\"\";\n//if (msg.ucobject.direction==\"CLOSE\") {\n    //Xswitch = msg.ucobject.switchbottom;\n//} else if (msg.ucobject.direction==\"OPEN\") {\n    //Xswitch = msg.ucobject.switchtop;\n//}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 180,
        "wires": [
            [
                "afd14a84.897398"
            ]
        ]
    },
    {
        "id": "afd14a84.897398",
        "type": "json",
        "z": "bb9dbdb7.f5a47",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1020,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "17a203c5.83386c",
        "type": "chatbot-telegram-receive",
        "z": "a40555ac.72c858",
        "bot": "86ce8211.809df",
        "botProduction": "86ce8211.809df",
        "x": 370,
        "y": 240,
        "wires": [
            [
                "c5a8047a.e01968",
                "9b1bd217.025f4"
            ]
        ]
    },
    {
        "id": "c5a8047a.e01968",
        "type": "chatbot-message",
        "z": "a40555ac.72c858",
        "name": "Just a name",
        "message": [
            {
                "message": "Hi there"
            }
        ],
        "answer": false,
        "track": false,
        "x": 590,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "3244df27.2557",
        "type": "chatbot-telegram-send",
        "z": "a40555ac.72c858",
        "bot": "86ce8211.809df",
        "botProduction": "86ce8211.809df",
        "track": false,
        "passThrough": true,
        "outputs": 1,
        "x": 820,
        "y": 240,
        "wires": [
            [
                "1852eb2b.d41a05"
            ]
        ]
    },
    {
        "id": "1852eb2b.d41a05",
        "type": "debug",
        "z": "a40555ac.72c858",
        "name": "Bot In",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 530,
        "y": 360,
        "wires": []
    },
    {
        "id": "9b1bd217.025f4",
        "type": "function",
        "z": "a40555ac.72c858",
        "name": "Say Hi",
        "func": "msg.payload.content=\"Hi,ich bin der AI Bot\" + //msg.originalMessage.chat.first_name +\n\" ... du sagtest:\" + msg.payload.content;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 180,
        "wires": [
            [
                "3244df27.2557"
            ]
        ]
    },
    {
        "id": "6c4efa1e.e6d6b4",
        "type": "inject",
        "z": "a40555ac.72c858",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "21600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 480,
        "wires": [
            [
                "73bd368c.827238"
            ]
        ]
    },
    {
        "id": "632652f8.5382ac",
        "type": "chatbot-conversation",
        "z": "a40555ac.72c858",
        "name": "Conversation (Heiko)",
        "botTelegram": "86ce8211.809df",
        "botSlack": "",
        "botFacebook": "",
        "botViber": "",
        "chatId": "650205203",
        "transport": "telegram",
        "messageId": "",
        "contextMessageId": false,
        "store": "",
        "x": 400,
        "y": 420,
        "wires": [
            [
                "a69fbfaf.4c676"
            ]
        ]
    },
    {
        "id": "308ea1ef.4a22de",
        "type": "function",
        "z": "a40555ac.72c858",
        "name": "Hi Init",
        "func": "msg.payload.content=\"Checkpoint: \" + new Date().toString(); \n//msg.payload.content=\"Manuel ist ne Nase\"; \n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 380,
        "wires": [
            [
                "3244df27.2557"
            ]
        ]
    },
    {
        "id": "77d38179.72a3f",
        "type": "chatbot-message",
        "z": "a40555ac.72c858",
        "name": "Hi There",
        "message": [
            {
                "message": "Hi There"
            }
        ],
        "answer": false,
        "track": false,
        "x": 660,
        "y": 520,
        "wires": [
            [
                "1852eb2b.d41a05",
                "308ea1ef.4a22de"
            ]
        ]
    },
    {
        "id": "73bd368c.827238",
        "type": "chatbot-conversation",
        "z": "a40555ac.72c858",
        "name": "Conversation (AIGrow - Alarm)",
        "botTelegram": "86ce8211.809df",
        "botSlack": "",
        "botFacebook": "",
        "botViber": "",
        "chatId": "-284189867",
        "transport": "telegram",
        "messageId": "",
        "contextMessageId": false,
        "store": "",
        "x": 450,
        "y": 540,
        "wires": [
            [
                "77d38179.72a3f"
            ]
        ]
    },
    {
        "id": "93f5f7c2.ec88e8",
        "type": "inject",
        "z": "e6a5f68f.971a78",
        "name": "Close Sunblind (Right)",
        "topic": "",
        "payload": "{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6climate.controller\", \"param0\":\"AU.SHADE\", \"paramX\":{\"trigger\":\"ping.trigger2\",\"unit\":\"ti01.SCHEDULE\",\"status\":\"enabled\", \"only\":\"true\"} }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 200,
        "y": 300,
        "wires": [
            [
                "b70f1cb6.007a2"
            ]
        ]
    },
    {
        "id": "b70f1cb6.007a2",
        "type": "function",
        "z": "e6a5f68f.971a78",
        "name": "Input Params",
        "func": "var host = global.get('hname');\n\nmsg.payload = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n            '\"destination\":\"' + host + '.controller\", ' +\n            '\"param0\":\"AU.SHADE\", ' +\n            '\"paramX\":{\"direction\":\"CLOSE\",' +\n                        '\"destination\":\"B6.CLIMATE.UNIT.SHADE.RIGHT\",' +\n                        '\"destinationcmd\":\"startLeft\",' +\n                        '\"speed\":\"1500\",' +\n                        '\"timeout\":\"25\",' +\n                        '\"switchtop\" : \"ti88.Switch.J\",' +\n                        '\"switchbottom\" : \"ti88.Switch.K\", ' +\n                        '\"checkinit\" : \"true\"}}';\n                        \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 240,
        "wires": [
            [
                "df84f477.e3f8f8"
            ]
        ]
    },
    {
        "id": "6ae26cee.ac3094",
        "type": "link in",
        "z": "a40555ac.72c858",
        "name": "AIBot",
        "links": [
            "c56fb649.feb0e8"
        ],
        "x": 180,
        "y": 400,
        "wires": [
            [
                "632652f8.5382ac"
            ]
        ]
    },
    {
        "id": "b22adff2.4227f",
        "type": "function",
        "z": "a40555ac.72c858",
        "name": "Error",
        "func": "msg.payload.content = msg.errorStatus;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 380,
        "wires": [
            [
                "3244df27.2557"
            ]
        ]
    },
    {
        "id": "c56fb649.feb0e8",
        "type": "link out",
        "z": "2ce6c32c.72889c",
        "name": "Actor Unit - Error",
        "links": [
            "6ae26cee.ac3094"
        ],
        "x": 1295,
        "y": 720,
        "wires": []
    },
    {
        "id": "a69fbfaf.4c676",
        "type": "chatbot-message",
        "z": "a40555ac.72c858",
        "name": "Hi There",
        "message": [
            {
                "message": "Hi There"
            }
        ],
        "answer": false,
        "track": false,
        "x": 600,
        "y": 400,
        "wires": [
            [
                "b22adff2.4227f"
            ]
        ]
    },
    {
        "id": "7f6a9570.f23f1c",
        "type": "inject",
        "z": "e6a5f68f.971a78",
        "name": "Open Sunblind (Right)",
        "topic": "",
        "payload": "{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6climate.controller\", \"param0\":\"AU.SHADE\", \"paramX\":{\"trigger\":\"ping.trigger2\",\"unit\":\"ti01.SCHEDULE\",\"status\":\"enabled\", \"only\":\"true\"} }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 200,
        "y": 360,
        "wires": [
            [
                "ee720c8a.98f45"
            ]
        ]
    },
    {
        "id": "ee720c8a.98f45",
        "type": "function",
        "z": "e6a5f68f.971a78",
        "name": "Input Params",
        "func": "var host = global.get('hname');\n\nmsg.payload = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n            '\"destination\":\"' + host + '.controller\", ' +\n            '\"param0\":\"AU.SHADE\", ' +\n            '\"paramX\":{\"direction\":\"OPEN\",' +\n                        '\"destination\":\"B6.CLIMATE.UNIT.SHADE.RIGHT\",' +\n                        '\"destinationcmd\":\"startRight\",' +\n                        '\"speed\":\"1500\",' +\n                        '\"timeout\":\"25\",' +\n                        '\"switchtop\" : \"ti88.Switch.J\",' +\n                        '\"switchbottom\" : \"ti88.Switch.K\",' +\n                        '\"checkinit\" : \"true\"}}';\n                        \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 340,
        "wires": [
            [
                "df84f477.e3f8f8"
            ]
        ]
    },
    {
        "id": "b93bf590.e07da8",
        "type": "function",
        "z": "a443370b.2db948",
        "name": "Check Switch",
        "func": "msg.ucobject.checkswitch=\"\";\n\nif (msg.ucobject.direction==\"CLOSE\") {\n    //If the Shade should be closing, the bottom switch is relevant for checking during motor run\n    msg.ucobject.watchswitch = msg.ucobject.switchbottom; //Switch to be checked during runtime of the motor\n    msg.ucobject.initswitch = msg.ucobject.switchtop; //Switch to be checked for intial situation\n} else if (msg.ucobject.direction==\"OPEN\") {\n    //If the Shade should be opened, the top switch is relevant for checking during motor run\n    msg.ucobject.watchswitch = msg.ucobject.switchtop;\n    msg.ucobject.initswitch = msg.ucobject.switchbottom;\n}\n\nif (msg.ucobject.checkinit==\"true\") { //Check the Value of the initial Switch of Parameter is enabled\n    msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"' + msg.ucobject.initswitch + '\",' +\n                '\"param0\":\"getValue\",' +\n                '\"paramX\":{\"ident\":\"check\"}}';\n                \n    return [ msg, null ];\n} else { // Ignore the Value of the initial Switch \n    msg.payload.paramX.value = \"LOW\"\n    return [ null, msg];\n}\n\n\n\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "x": 620,
        "y": 480,
        "wires": [
            [
                "46d57a45.e1e414"
            ],
            [
                "d754174f.b7ca38"
            ]
        ]
    },
    {
        "id": "46d57a45.e1e414",
        "type": "ti-message",
        "z": "a443370b.2db948",
        "name": "Execute",
        "mqserver": "mqtt://localhost",
        "intopic": "TI_CONTROLLER",
        "outtopic": "TI_CMD",
        "x": 980,
        "y": 480,
        "wires": [
            [
                "5433a016.27a46"
            ]
        ]
    },
    {
        "id": "5433a016.27a46",
        "type": "json",
        "z": "a443370b.2db948",
        "name": "json",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 1170,
        "y": 480,
        "wires": [
            [
                "5e11cadd.843724"
            ]
        ]
    },
    {
        "id": "45d51b79.2bd924",
        "type": "function",
        "z": "a443370b.2db948",
        "name": "Start Watch",
        "func": "var timeout = parseInt(msg.ucobject.timeout)-1;\n\nmsg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"' + msg.ucobject.watchswitch + '\",' +\n                '\"param0\":\"watch\",' +\n                '\"paramX\":{\"duration\":\"' + timeout + '\",\"ident\":\"watch\"}}';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 660,
        "wires": [
            [
                "2c933c4f.022144"
            ]
        ]
    },
    {
        "id": "5e11cadd.843724",
        "type": "switch",
        "z": "a443370b.2db948",
        "name": "Case",
        "property": "payload.paramX.ident",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "check",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "watch",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "run",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "stop",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1330,
        "y": 480,
        "wires": [
            [
                "d754174f.b7ca38"
            ],
            [
                "12c2cf59.1f6461"
            ],
            [],
            []
        ]
    },
    {
        "id": "c6e9429b.4b1",
        "type": "function",
        "z": "a443370b.2db948",
        "name": "Start Motor",
        "func": "var timeout = parseInt(msg.ucobject.timeout) + 2;\n\nmsg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"'+ msg.ucobject.destination +'\",' +\n                '\"param0\":\"' +  msg.ucobject.destinationcmd + '\",' +\n                '\"paramX\":{\"speed\":\"' + msg.ucobject.speed + '\",\"ident\":\"run\"}}';\n//                '\"paramX\":{\"interval\":\"' + timeout + '\",\"speed\":\"' + msg.ucobject.speed + '\",\"ident\":\"run\"}}';\n\nmsg.delay= timeout * 1000;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 560,
        "wires": [
            [
                "83f47879.4113f8",
                "46d57a45.e1e414"
            ]
        ]
    },
    {
        "id": "2c933c4f.022144",
        "type": "delay",
        "z": "a443370b.2db948",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 840,
        "y": 580,
        "wires": [
            [
                "46d57a45.e1e414"
            ]
        ]
    },
    {
        "id": "42980e3c.d5bc8",
        "type": "function",
        "z": "a443370b.2db948",
        "name": "Stop Motor",
        "func": "msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"'+ msg.ucobject.destination +'\",' +\n                '\"param0\":\"' +  msg.ucobject.destinationcmd + '\",' +\n                '\"paramX\":{\"speed\":\"0\",\"ident\":\"stop\"}}';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 760,
        "wires": [
            [
                "46d57a45.e1e414"
            ]
        ]
    },
    {
        "id": "931fef06.018e3",
        "type": "function",
        "z": "a443370b.2db948",
        "name": "Error - no Switch Executed",
        "func": "if (msg.reset==1) { //If the Timer Reset is triggered by the Switch Watch Prozess\n    if (msg.timeout==1) { //If the Switch Watch process terminated due to a timeout\n        msg.error = \"true\";\n        msg.errorStatus = 'Beschattung (Fehler): Endschalter (' + msg.ucobject.watchswitch + ') nicht erreicht innerhalb des berwachungszeitraums:' +\n                'Beschattung: ' + msg.ucobject.destination + '...' +\n                'Richtung: ' + msg.ucobject.direction + '...' +\n                'berwachungszeit: ' + msg.ucobject.timeout;\n        return [ null, msg];\n    } else {\n        msg.error = \"false\";\n        msg.errorStatus = \"Shading execution successfull\"\n        return [ msg, null ];\n    }\n} else { \n    msg.error = \"true\";\n    msg.errorStatus = 'Beschattung (Fehler): Endschalter (' + msg.ucobject.watchswitch + ') nicht erreicht innerhalb der Motor Laufzeit:' +\n                'Beschattung: ' + msg.ucobject.destination + '...' +\n                'Richtung: ' + msg.ucobject.direction + '...' +\n                'Laufzeit: ' + msg.delay;\n                \n    return [ null, msg];\n}\n\n",
        "outputs": 2,
        "noerr": 0,
        "x": 1760,
        "y": 560,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "83f47879.4113f8",
        "type": "delay",
        "z": "a443370b.2db948",
        "name": "",
        "pauseType": "delayv",
        "timeout": "7",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1160,
        "y": 560,
        "wires": [
            [
                "931fef06.018e3",
                "42980e3c.d5bc8"
            ]
        ]
    },
    {
        "id": "12c2cf59.1f6461",
        "type": "function",
        "z": "a443370b.2db948",
        "name": "Reset Timer",
        "func": "if (msg.payload.paramX.value==\"TIMEOUT\") { //If the Switch gives a Timeout \n    msg.timeout=1;    \n} else {\n    msg.timeout=0;    \n}\n\nmsg.reset=1;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1530,
        "y": 480,
        "wires": [
            [
                "83f47879.4113f8",
                "931fef06.018e3",
                "42980e3c.d5bc8"
            ]
        ]
    },
    {
        "id": "430e4478.0e098c",
        "type": "function",
        "z": "a443370b.2db948",
        "name": "Input Params",
        "func": "duration = parseInt(msg.payload.paramX.interval) + 5;\n\n//var data = {\"destination\":\"B6.CLIMATE.UNIT.SHADE.RIGHT\",\n//        \"direction\":\"CLOSE\",\n//        \"destinationcmd\":\"startLeft\",\n//        \"speed\":\"1000\",\n//        \"interval\":\"25\",\n//        \"switchtop\" : \"b6.Switch.Shade.OR\",\n//        \"switchbottom\" : \"b6.Switch.Shade.UR\",\n//        \"timeout\":\"25\"};\n\ndata = {\"destination\": msg.payload.paramX.destination,\n        \"direction\": msg.payload.paramX.direction,\n        \"destinationcmd\": msg.payload.paramX.destinationcmd,\n        \"speed\": msg.payload.paramX.speed,\n        \"switchtop\" : msg.payload.paramX.switchtop,\n        \"switchbottom\" : msg.payload.paramX.switchbottom,\n        \"timeout\": msg.payload.paramX.timeout,\n        \"checkinit\" : msg.payload.paramX.checkinit};    // Defines if the initial Switch position must be checked (if the shade is in the middle, it can be set to \"false\")\n\nmsg.ucobject = data;\n\n//Name des Motors: B6.CLIMATE.UNIT.SHADE.LEFT\n//Richtung: Close (runLeft) / Open (runRight)\n//Motor Command: runLeft / runRight\n//Speed: 1000\n//Intervall: Seconds (25)\n//Top Switch\n//Bottom Switch\n\n//Wenn Close: \n//      Check -> Top = Low, Bottom = High\n//      Watch -> Bottom = Low\n//      Run -> Motor Close\n//      Watch Event -> Bottom = Low oder Timeout\n//      Final Check -> Top = High, Bottom = Low\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 480,
        "wires": [
            [
                "b93bf590.e07da8"
            ]
        ]
    },
    {
        "id": "d754174f.b7ca38",
        "type": "function",
        "z": "a443370b.2db948",
        "name": "Check Switch States (Open, Close)",
        "func": "var CheckSwitchValue=msg.payload.paramX.value;\n\nmsg.error=\"true\";\n\n//CheckSwitch must be open (LOW)\nif (CheckSwitchValue == \"LOW\") {\n    msg.error = \"false\";\n} else {\n    msg.error = \"true\";\n    msg.errorStatus = 'Beschattung (Fehler): Ausgangsposition der Endschalter fehlerhaft: ' +\n                'Beschattung: ' + msg.ucobject.destination + '...' +\n                'Richtung: ' + msg.ucobject.direction + '...' +\n                'Endschalter: ' + msg.ucobject.initswitch + '...' +\n                'Erwartete -> LOW (geschlossen), Aktuell:' + CheckSwitchValue + ' (offen)';\n}\n\nif (msg.error==\"false\") {\n    return [ msg, null ];\n} else {\n    return [ null, msg];\n}\n\n",
        "outputs": 2,
        "noerr": 0,
        "x": 1180,
        "y": 760,
        "wires": [
            [
                "45d51b79.2bd924",
                "c6e9429b.4b1"
            ],
            []
        ]
    },
    {
        "id": "7964d8c1.b8ff08",
        "type": "function",
        "z": "a5b56371.83719",
        "name": "Input Params",
        "func": "msg.payload = {\"@class\":\"org.timeit.apps.core.Msg\",\n            \"destination\":\"b6climate.controller\", \n            \"param0\":\"AU.SHADE\", \n            \"paramX\":{\"direction\":\"CLOSE\",\n                        \"destination\":\"B6.CLIMATE.UNIT.SHADE.RIGHT\",\n                        \"destinationcmd\":\"startLeft\",\n                        \"speed\":\"1500\",\n                        \"timeout\":\"25\",\n                        \"switchtop\" : \"b6.Switch.Shade.OR\",\n                        \"switchbottom\" : \"b6.Switch.Shade.UR\"}};\n                        \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 60,
        "wires": [
            [
                "4e5c370a.8d9f28"
            ]
        ]
    },
    {
        "id": "fee75e33.b9feb",
        "type": "inject",
        "z": "a5b56371.83719",
        "name": "Close Sunblind (Right)",
        "topic": "",
        "payload": "{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6climate.controller\", \"param0\":\"AU.SHADE\", \"paramX\":{\"trigger\":\"ping.trigger2\",\"unit\":\"ti01.SCHEDULE\",\"status\":\"enabled\", \"only\":\"true\"} }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 180,
        "y": 60,
        "wires": [
            [
                "7964d8c1.b8ff08"
            ]
        ]
    },
    {
        "id": "7ce2bc17.b066a4",
        "type": "function",
        "z": "a5b56371.83719",
        "name": "Input Params",
        "func": "var host = global.get('hname');\n\nmsg.payload = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n            '\"destination\":\"' + host + '.controller\", ' +\n            '\"param0\":\"AU.SHADE\", ' +\n            '\"paramX\":{\"direction\":\"CLOSE\",' +\n                        '\"destination\":\"B6.CLIMATE.UNIT.SHADE.RIGHT\",' +\n                        '\"destinationcmd\":\"startLeft\",' +\n                        '\"speed\":\"1100\",' +\n                        '\"timeout\":\"90\",' +\n                        '\"switchtop\" : \"b6.Switch.Shade.OR\",' +\n                        '\"switchbottom\" : \"b6.Switch.Shade.UR\", ' +\n                        '\"checkinit\" : \"false\"}}';\n                        \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 140,
        "wires": [
            [
                "4e5c370a.8d9f28"
            ]
        ]
    },
    {
        "id": "f64476fc.c69cb8",
        "type": "function",
        "z": "a5b56371.83719",
        "name": "Input Params",
        "func": "var host = global.get('hname');\n\nmsg.payload = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n            '\"destination\":\"' + host + '.controller\", ' +\n            '\"param0\":\"AU.SHADE\", ' +\n            '\"paramX\":{\"direction\":\"OPEN\",' +\n                        '\"destination\":\"B6.CLIMATE.UNIT.SHADE.RIGHT\",' +\n                        '\"destinationcmd\":\"startRight\",' +\n                        '\"speed\":\"2050\",' +\n                        '\"timeout\":\"90\",' +\n                        '\"switchtop\" : \"b6.Switch.Shade.OR\",' +\n                        '\"switchbottom\" : \"b6.Switch.Shade.UR\",' +\n                        '\"checkinit\" : \"true\"}}';\n                        \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 200,
        "wires": [
            [
                "4e5c370a.8d9f28"
            ]
        ]
    },
    {
        "id": "783bebe6.583514",
        "type": "inject",
        "z": "a5b56371.83719",
        "name": "Open Sunblind (Right)",
        "topic": "",
        "payload": "{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6climate.controller\", \"param0\":\"AU.SHADE\", \"paramX\":{\"trigger\":\"ping.trigger2\",\"unit\":\"ti01.SCHEDULE\",\"status\":\"enabled\", \"only\":\"true\"} }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 180,
        "y": 200,
        "wires": [
            [
                "f64476fc.c69cb8"
            ]
        ]
    },
    {
        "id": "d5500158.1f52f",
        "type": "inject",
        "z": "a5b56371.83719",
        "name": "Close Sunblind (Right)",
        "topic": "",
        "payload": "{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6climate.controller\", \"param0\":\"AU.SHADE\", \"paramX\":{\"trigger\":\"ping.trigger2\",\"unit\":\"ti01.SCHEDULE\",\"status\":\"enabled\", \"only\":\"true\"} }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 180,
        "y": 140,
        "wires": [
            [
                "7ce2bc17.b066a4"
            ]
        ]
    },
    {
        "id": "8b4af05c.17a2d",
        "type": "function",
        "z": "a5b56371.83719",
        "name": "Input Params",
        "func": "var host = global.get('hname');\n\nmsg.payload = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n            '\"destination\":\"' + host + '.controller\", ' +\n            '\"param0\":\"AU.SHADE\", ' +\n            '\"paramX\":{\"direction\":\"CLOSE\",' +\n                        '\"destination\":\"B6.CLIMATE.UNIT.SHADE.LEFT\",' +\n                        '\"destinationcmd\":\"startLeft\",' +\n                        '\"speed\":\"800\",' +\n                        '\"timeout\":\"60\",' +\n                        '\"switchtop\" : \"b6.Switch.Shade.OL\",' +\n                        '\"switchbottom\" : \"b6.Switch.Shade.UL\", ' +\n                        '\"checkinit\" : \"false\"}}';\n                        \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 280,
        "wires": [
            [
                "4e5c370a.8d9f28"
            ]
        ]
    },
    {
        "id": "fe01db4c.547338",
        "type": "function",
        "z": "a5b56371.83719",
        "name": "Input Params",
        "func": "var host = global.get('hname');\n\nmsg.payload = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n            '\"destination\":\"' + host + '.controller\", ' +\n            '\"param0\":\"AU.SHADE\", ' +\n            '\"paramX\":{\"direction\":\"OPEN\",' +\n                        '\"destination\":\"B6.CLIMATE.UNIT.SHADE.LEFT\",' +\n                        '\"destinationcmd\":\"startRight\",' +\n                        '\"speed\":\"1600\",' +\n                        '\"timeout\":\"70\",' +\n                        '\"switchtop\" : \"b6.Switch.Shade.OL\",' +\n                        '\"switchbottom\" : \"b6.Switch.Shade.UL\",' +\n                        '\"checkinit\" : \"true\"}}';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 360,
        "wires": [
            [
                "4e5c370a.8d9f28"
            ]
        ]
    },
    {
        "id": "aaf85f87.bed04",
        "type": "inject",
        "z": "a5b56371.83719",
        "name": "Open Sunblind (Left)",
        "topic": "",
        "payload": "{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6climate.controller\", \"param0\":\"AU.SHADE\", \"paramX\":{\"trigger\":\"ping.trigger2\",\"unit\":\"ti01.SCHEDULE\",\"status\":\"enabled\", \"only\":\"true\"} }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "fe01db4c.547338"
            ]
        ]
    },
    {
        "id": "4483688.e3d2998",
        "type": "inject",
        "z": "a5b56371.83719",
        "name": "Close Sunblind (Left)",
        "topic": "",
        "payload": "{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6climate.controller\", \"param0\":\"AU.SHADE\", \"paramX\":{\"trigger\":\"ping.trigger2\",\"unit\":\"ti01.SCHEDULE\",\"status\":\"enabled\", \"only\":\"true\"} }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "8b4af05c.17a2d"
            ]
        ]
    },
    {
        "id": "af100526.2e4108",
        "type": "function",
        "z": "a5b56371.83719",
        "name": "prep",
        "func": "msg.payload = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"b6climate.controller\",' +\n                '\"param0\":\"CU.PING\",' +\n                '\"paramX\":{\"unit\":\"b6climate.tiRouting\"}}'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 460,
        "wires": [
            [
                "4e5c370a.8d9f28"
            ]
        ]
    },
    {
        "id": "a42d254d.a90fd8",
        "type": "inject",
        "z": "a5b56371.83719",
        "name": "ping",
        "topic": "",
        "payload": "{}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 210,
        "y": 460,
        "wires": [
            [
                "af100526.2e4108"
            ]
        ]
    },
    {
        "id": "4e5c370a.8d9f28",
        "type": "link out",
        "z": "a5b56371.83719",
        "name": "test_g15watch",
        "links": [
            "c460012.d5cb4"
        ],
        "x": 735,
        "y": 220,
        "wires": []
    },
    {
        "id": "80e33475.7a8b28",
        "type": "inject",
        "z": "fc1f6c41.e5c79",
        "name": "Line 1 - Pump",
        "topic": "",
        "payload": "{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6plant.controller\", \"param0\":\"AU.RUNPUMP\", \"replyTo\":\"REPLY MQTT CHANNEL\",  \"paramX\":{\"unit\":\"B6.PLANT.LINE.1.TANK.PUMP\", \"interval\":\"10\",\"db\":\"true\",\"twitter\":\"false\"} }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 150,
        "y": 40,
        "wires": [
            [
                "8dde8ec0.b4ba8"
            ]
        ]
    },
    {
        "id": "acb37f3a.8513c",
        "type": "inject",
        "z": "fc1f6c41.e5c79",
        "name": "Line 2 - Pump",
        "topic": "",
        "payload": "{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6plant.controller\", \"param0\":\"AU.RUNPUMP\", \"replyTo\":\"REPLY MQTT CHANNEL\",  \"paramX\":{\"unit\":\"B6.PLANT.LINE.2.TANK.PUMP\", \"interval\":\"120\",\"db\":\"true\",\"twitter\":\"false\"} }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "8dde8ec0.b4ba8"
            ]
        ]
    },
    {
        "id": "a980070c.174f38",
        "type": "inject",
        "z": "fc1f6c41.e5c79",
        "name": "Line 3 - Pump",
        "topic": "",
        "payload": "{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6plant.controller\", \"param0\":\"AU.RUNPUMP\", \"replyTo\":\"REPLY MQTT CHANNEL\",  \"paramX\":{\"unit\":\"B6.PLANT.LINE.3.TANK.PUMP\", \"interval\":\"120\",\"db\":\"true\",\"twitter\":\"false\"} }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "8dde8ec0.b4ba8"
            ]
        ]
    },
    {
        "id": "b0ebd569.088238",
        "type": "inject",
        "z": "fc1f6c41.e5c79",
        "name": "Line 4 - Pump",
        "topic": "",
        "payload": "{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6plant.controller\", \"param0\":\"AU.RUNPUMP\", \"replyTo\":\"REPLY MQTT CHANNEL\",  \"paramX\":{\"unit\":\"B6.PLANT.LINE.4.TANK.PUMP\", \"interval\":\"120\",\"db\":\"true\",\"twitter\":\"false\"} }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "8dde8ec0.b4ba8"
            ]
        ]
    },
    {
        "id": "71a3a8f5.db4a68",
        "type": "inject",
        "z": "fc1f6c41.e5c79",
        "name": "Line 5 - Pump",
        "topic": "",
        "payload": "{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6plant.controller\", \"param0\":\"AU.RUNPUMP\", \"replyTo\":\"REPLY MQTT CHANNEL\",  \"paramX\":{\"unit\":\"B6.PLANT.LINE.5.TANK.PUMP\", \"interval\":\"120\",\"db\":\"true\",\"twitter\":\"false\"} }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "8dde8ec0.b4ba8"
            ]
        ]
    },
    {
        "id": "1eefe34c.29377d",
        "type": "inject",
        "z": "fc1f6c41.e5c79",
        "name": "Line 6 - Pump",
        "topic": "",
        "payload": "{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6plant.controller\", \"param0\":\"AU.RUNPUMP\", \"replyTo\":\"REPLY MQTT CHANNEL\",  \"paramX\":{\"unit\":\"B6.PLANT.LINE.6.TANK.PUMP\", \"interval\":\"120\",\"db\":\"true\",\"twitter\":\"false\"} }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "8dde8ec0.b4ba8"
            ]
        ]
    },
    {
        "id": "8dde8ec0.b4ba8",
        "type": "link out",
        "z": "fc1f6c41.e5c79",
        "name": "test_b6plant",
        "links": [
            "c460012.d5cb4"
        ],
        "x": 380,
        "y": 140,
        "wires": []
    },
    {
        "id": "4edd3d71.f3b604",
        "type": "inject",
        "z": "c82b6327.0aa47",
        "name": "G15 Temp Aussen",
        "topic": "",
        "payload": "{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"g15plant.controller\", \"param0\":\"SU.GETVALUE\",  \"paramX\":{\"unit\":\"G15.PLANT.RASP.UNITS.TEMPAUSSEN\"} }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "af9eddd0.7d3b6"
            ]
        ]
    },
    {
        "id": "95f2af0a.be387",
        "type": "inject",
        "z": "c82b6327.0aa47",
        "name": "G15 Temp Innen",
        "topic": "",
        "payload": "{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"g15plant.controller\", \"param0\":\"SU.GETVALUE\",  \"paramX\":{\"unit\":\"G15.PLANT.RASP.UNITS.TEMPINNEN\",\"db\":\"true\"} }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "af9eddd0.7d3b6"
            ]
        ]
    },
    {
        "id": "53254414.425d4c",
        "type": "inject",
        "z": "c82b6327.0aa47",
        "name": "Run Pump (Tomaten)",
        "topic": "",
        "payload": "{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"g15plant.controller\", \"param0\":\"AU.RUNPUMP\",  \"paramX\":{\"unit\":\"G15.PLANT.RASP.UNITS.PUMP2\", \"interval\":\"60\",\"db\":\"true\",\"twitter\":\"false\"} }",
        "payloadType": "str",
        "repeat": "1800",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 160,
        "y": 60,
        "wires": [
            [
                "af9eddd0.7d3b6"
            ]
        ]
    },
    {
        "id": "3721ab2.178b054",
        "type": "inject",
        "z": "c82b6327.0aa47",
        "name": "Run Fan",
        "topic": "",
        "payload": "{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"g15plant.controller\", \"param0\":\"AU.RUNPUMP\",  \"paramX\":{\"unit\":\"G15.PLANT.RASP.UNITS2.FANLEFT\", \"interval\":\"10\",\"db\":\"true\",\"twitter\":\"false\"} }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 120,
        "y": 420,
        "wires": [
            [
                "af9eddd0.7d3b6"
            ]
        ]
    },
    {
        "id": "2773e50d.62fbaa",
        "type": "inject",
        "z": "c82b6327.0aa47",
        "name": "Run Pump Valve (Wasabi Beet)",
        "topic": "",
        "payload": "{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"g15plant.controller\", \"param0\":\"AU.RUNPUMPVALVE\",  \"paramX\":{\"unit\":\"G15.PLANT.RASP.UNITS.PUMP1\", \"valve\":\"G15.PLANT.RASP.UNITS2.VALVE3\", \"interval\":\"30\",\"db\":\"true\",\"twitter\":\"false\"} }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "0 6-22 * * *",
        "once": false,
        "onceDelay": "",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "af9eddd0.7d3b6"
            ]
        ]
    },
    {
        "id": "40b71c23.7acd34",
        "type": "inject",
        "z": "c82b6327.0aa47",
        "name": "Run Pump Valve (Wasabi zum Tomaten Beet)",
        "topic": "",
        "payload": "{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"g15plant.controller\", \"param0\":\"AU.RUNPUMPVALVE\",  \"paramX\":{\"unit\":\"G15.PLANT.RASP.UNITS.PUMP1\", \"valve\":\"G15.PLANT.RASP.UNITS2.VALVE2\", \"interval\":\"30\",\"db\":\"false\",\"twitter\":\"false\"} }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "af9eddd0.7d3b6"
            ]
        ]
    },
    {
        "id": "af9eddd0.7d3b6",
        "type": "link out",
        "z": "c82b6327.0aa47",
        "name": "test_g15plant",
        "links": [
            "c460012.d5cb4"
        ],
        "x": 540,
        "y": 260,
        "wires": []
    },
    {
        "id": "9945eb98.665718",
        "type": "comment",
        "z": "2ce6c32c.72889c",
        "name": "Reply to Sender",
        "info": "",
        "x": 1580,
        "y": 460,
        "wires": []
    },
    {
        "id": "7ff57b29.09f1d4",
        "type": "ti-message",
        "z": "68a9f738.904da8",
        "name": "ti Exec Sensor",
        "mqserver": "mqtt://localhost",
        "intopic": "TI_CONTROLLER",
        "outtopic": "TI_CMD",
        "x": 660,
        "y": 180,
        "wires": [
            [
                "45066900.9838f8"
            ]
        ]
    },
    {
        "id": "9ecd3992.ada6e8",
        "type": "function",
        "z": "a5b56371.83719",
        "name": "prep exec message",
        "func": "msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"B6.CLIMATE.UNIT.WINDOW.ALL\",' +\n                '\"param0\":\"runRight\",' +\n                '\"paramX\":{\"interval\":\"60\",\"speed\":\"3000\"}}';\n//B6.PLANT.LINE.ENV.LIGHT\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 600,
        "wires": [
            [
                "b9503f4b.26244"
            ]
        ]
    },
    {
        "id": "ff3bd1cc.c869d",
        "type": "inject",
        "z": "a5b56371.83719",
        "name": "Fenster zu",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 302.0158996582031,
        "y": 593.0424423217773,
        "wires": [
            [
                "9ecd3992.ada6e8"
            ]
        ]
    },
    {
        "id": "b9503f4b.26244",
        "type": "ti-message",
        "z": "a5b56371.83719",
        "name": "ti Exec Msg",
        "mqserver": "mqtt://localhost",
        "intopic": "TI_CONTROLLER",
        "outtopic": "TI_CMD",
        "x": 916.6429138183594,
        "y": 672.2857360839844,
        "wires": [
            [
                "d39db710.97be28"
            ]
        ]
    },
    {
        "id": "5f6f86ce.b95698",
        "type": "inject",
        "z": "a5b56371.83719",
        "name": "Fenster auf",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 309.0000457763672,
        "y": 636,
        "wires": [
            [
                "7066056b.921aec"
            ]
        ]
    },
    {
        "id": "7066056b.921aec",
        "type": "function",
        "z": "a5b56371.83719",
        "name": "prep exec message",
        "func": "msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"B6.CLIMATE.UNIT.WINDOW.ALL\",' +\n                '\"param0\":\"runLeft\",' +\n                '\"paramX\":{\"interval\":\"60\",\"speed\":\"3000\"}}';\n//B6.PLANT.LINE.ENV.LIGHT\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 567,
        "y": 646,
        "wires": [
            [
                "b9503f4b.26244"
            ]
        ]
    },
    {
        "id": "9679e6ee.b0a488",
        "type": "inject",
        "z": "a5b56371.83719",
        "name": "Beschattung / links / runter",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 348.00003814697266,
        "y": 740.9999694824219,
        "wires": [
            [
                "f507bc90.7a8d2"
            ]
        ]
    },
    {
        "id": "f507bc90.7a8d2",
        "type": "function",
        "z": "a5b56371.83719",
        "name": "prep exec message",
        "func": "msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"B6.CLIMATE.UNIT.SHADE.LEFT\",' +\n                '\"param0\":\"runLeft\",' +\n                '\"paramX\":{\"interval\":\"25\",\"speed\":\"1000\"}}';\n//B6.PLANT.LINE.ENV.LIGHT\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 624.0077819824219,
        "y": 743.2110595703125,
        "wires": [
            [
                "b9503f4b.26244"
            ]
        ]
    },
    {
        "id": "df11966.0de6e68",
        "type": "inject",
        "z": "a5b56371.83719",
        "name": "Beschattung / links / stop",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 357.0000457763672,
        "y": 838.0000610351562,
        "wires": [
            [
                "80cc3f51.3a7fd"
            ]
        ]
    },
    {
        "id": "80cc3f51.3a7fd",
        "type": "function",
        "z": "a5b56371.83719",
        "name": "prep exec message",
        "func": "msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"B6.CLIMATE.UNIT.SHADE.LEFT\",' +\n                '\"param0\":\"stop\",' +\n                '\"paramX\":{\"interval\":\"1\",\"speed\":\"2000\"}}';\n//B6.PLANT.LINE.ENV.LIGHT\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 619,
        "y": 835,
        "wires": [
            [
                "b9503f4b.26244"
            ]
        ]
    },
    {
        "id": "e4303728.8046a8",
        "type": "inject",
        "z": "a5b56371.83719",
        "name": "Beschattung / links / hoch",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 350.0000305175781,
        "y": 780.9999694824219,
        "wires": [
            [
                "57016aa0.2888f4"
            ]
        ]
    },
    {
        "id": "57016aa0.2888f4",
        "type": "function",
        "z": "a5b56371.83719",
        "name": "prep exec message",
        "func": "msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"B6.CLIMATE.UNIT.SHADE.LEFT\",' +\n                '\"param0\":\"runRight\",' +\n                '\"paramX\":{\"interval\":\"24\",\"speed\":\"1600\"}}';\n//B6.PLANT.LINE.ENV.LIGHT\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 618.46142578125,
        "y": 787.5312805175781,
        "wires": [
            [
                "b9503f4b.26244"
            ]
        ]
    },
    {
        "id": "a2311eaa.c6ca2",
        "type": "inject",
        "z": "a5b56371.83719",
        "name": "Beschattung / rechts / runter",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 365.00001525878906,
        "y": 936,
        "wires": [
            [
                "81be03ed.99c11"
            ]
        ]
    },
    {
        "id": "f8fe158d.d475d8",
        "type": "inject",
        "z": "a5b56371.83719",
        "name": "Beschattung / rechts / hoch",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 355.00001525878906,
        "y": 982,
        "wires": [
            [
                "8589f4d0.e662b8"
            ]
        ]
    },
    {
        "id": "8f6c8fb3.4e8b6",
        "type": "inject",
        "z": "a5b56371.83719",
        "name": "Beschattung / rechts / stop",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 360.5714569091797,
        "y": 1035.428466796875,
        "wires": [
            [
                "52fba89a.0bdf98"
            ]
        ]
    },
    {
        "id": "81be03ed.99c11",
        "type": "function",
        "z": "a5b56371.83719",
        "name": "prep exec message",
        "func": "msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"B6.CLIMATE.UNIT.SHADE.RIGHT\",' +\n                '\"param0\":\"startLeft\",' +\n                '\"paramX\":{\"interval\":\"27\",\"speed\":\"800\"}}';\n//B6.PLANT.LINE.ENV.LIGHT\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 627.3469848632812,
        "y": 935.2896118164062,
        "wires": [
            [
                "b9503f4b.26244"
            ]
        ]
    },
    {
        "id": "8589f4d0.e662b8",
        "type": "function",
        "z": "a5b56371.83719",
        "name": "prep exec message",
        "func": "msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"B6.CLIMATE.UNIT.SHADE.RIGHT\",' +\n                '\"param0\":\"startRight\",' +\n                '\"paramX\":{\"interval\":\"5\",\"speed\":\"2100\"}}';\n//B6.PLANT.LINE.ENV.LIGHT\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 629.2969360351562,
        "y": 988.3828735351562,
        "wires": [
            [
                "b9503f4b.26244"
            ]
        ]
    },
    {
        "id": "52fba89a.0bdf98",
        "type": "function",
        "z": "a5b56371.83719",
        "name": "prep exec message",
        "func": "msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"B6.CLIMATE.UNIT.SHADE.RIGHT\",' +\n                '\"param0\":\"stop\",' +\n                '\"paramX\":{\"interval\":\"1\",\"speed\":\"2000\"}}';\n//B6.PLANT.LINE.ENV.LIGHT\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 633,
        "y": 1038.0000610351562,
        "wires": [
            [
                "b9503f4b.26244"
            ]
        ]
    },
    {
        "id": "10a49979.777d37",
        "type": "inject",
        "z": "a5b56371.83719",
        "name": "Beschattung / links / stop(neu)",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 382.0000305175781,
        "y": 1241,
        "wires": [
            [
                "bc1ba7fc.db5fc8"
            ]
        ]
    },
    {
        "id": "bc1ba7fc.db5fc8",
        "type": "function",
        "z": "a5b56371.83719",
        "name": "prep exec message",
        "func": "msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"B6.CLIMATE.UNIT.SHADE.LEFT\",' +\n                '\"param0\":\"startRight\",' +\n                '\"paramX\":{\"speed\":\"0\"}}';\n//B6.PLANT.LINE.ENV.LIGHT\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 652.0000305175781,
        "y": 1241,
        "wires": [
            [
                "b9503f4b.26244"
            ]
        ]
    },
    {
        "id": "5c27de62.1539d",
        "type": "inject",
        "z": "a5b56371.83719",
        "name": "Beschattung / links / hoch",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 372.0000305175781,
        "y": 1181,
        "wires": [
            [
                "a81b2810.c0f018"
            ]
        ]
    },
    {
        "id": "a81b2810.c0f018",
        "type": "function",
        "z": "a5b56371.83719",
        "name": "prep exec message",
        "func": "msg.payload.cmd = '{\"@class\":\"org.timeit.apps.core.Msg\",' +\n                '\"destination\":\"B6.CLIMATE.UNIT.SHADE.LEFT\",' +\n                '\"param0\":\"startRight\",' +\n                '\"paramX\":{\"speed\":\"1600\"}}';\n//B6.PLANT.LINE.ENV.LIGHT\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640.46142578125,
        "y": 1187.5313110351562,
        "wires": [
            [
                "b9503f4b.26244"
            ]
        ]
    },
    {
        "id": "d39db710.97be28",
        "type": "debug",
        "z": "a5b56371.83719",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1160,
        "y": 680,
        "wires": []
    },
    {
        "id": "f48962cd.5df31",
        "type": "inject",
        "z": "fc1f6c41.e5c79",
        "name": "Greenhouse Light",
        "topic": "",
        "payload": "{\"@class\":\"org.timeit.apps.core.Msg\",\"destination\":\"b6plant.controller\", \"param0\":\"AU.RUNPUMP\", \"replyTo\":\"REPLY MQTT CHANNEL\",  \"paramX\":{\"unit\":\"B6.PLANT.LINE.ENV.LIGHT\", \"interval\":\"120\",\"db\":\"true\",\"twitter\":\"false\"} }",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "8dde8ec0.b4ba8"
            ]
        ]
    }
]